<div class="row">
    <div class="col">
        <div class="input-group mb-1">
            <!-- ko if: $data === null -->
            <span>no app selected</span>
            <!-- /ko -->

            <!-- ko if: $data !== null -->
            <div class="input-group-prepend" data-bind="attr: {title: $data.getHelpHTML()}" data-toggle="tooltip" data-html="true" data-placement="right">
                <span class="input-group-text" data-bind="style: {'background-color': $data.getColor()}">
                    <i class="material-icons" data-bind="text: $data.getIcon()"></i>
                </span>
            </div>

            <input type="text" class="form-control" readonly data-bind="value: $data.getDisplayName()">

            <!-- ko if: $data.showAdd -->
            <div class="input-group-append">
                <button class="btn btn-secondary btn-sm" type="button" data-bind="click: $root.addNodeToLogicalGraph, attr: {id: 'addPaletteNode' + $data.index(), title: 'Add component to graph'}" data-toggle="tooltip" data-html="true" data-placement="right">
                    <i class="material-icons md-18">add</i>
                </button>
            </div>
            <!-- /ko -->
            <!-- /ko -->
        </div>
    </div>
</div>
