<div class="row">
    <div class="col">
        <div class="input-group mb-1">
            <!-- ko if: $data.node === null -->
                <button class="btn btn-secondary btn-block" type="button" data-bind="click: $data.callback">
                    <i class="material-icons md-18">add</i>
                </button>
            <!-- /ko -->

            <!-- ko if: $data.node !== null -->
                <div class="input-group-prepend" data-bind="attr: {title: $data.helpHTML}" data-toggle="tooltip" data-html="true" data-placement="right">
                    <span class="input-group-text" data-bind="style: {'background-color': $data.color}">
                        <i class="material-icons" data-bind="text: $data.icon"></i>
                    </span>
                </div>

                <input type="text" class="form-control" readonly data-bind="value: $data.displayName">

                <!-- ko if: $data.showAdd -->
                <div class="input-group-append">
                    <button class="btn btn-secondary btn-sm" type="button" data-bind="click: function(){$root.addNodeToLogicalGraph($data.node)}, attr: {id: 'addPaletteNode' + $data.index(), title: 'Add component to graph'}" data-toggle="tooltip" data-html="true" data-placement="right">
                        <i class="material-icons md-18">add</i>
                    </button>
                </div>
                <!-- /ko -->
                <!-- ko if: $data.showEdit -->
                    <div class="input-group-append">
                        <button class="btn btn-secondary btn-sm" type="button" data-bind="click: $data.callback, attr: {title: 'Change application'}" data-toggle="tooltip" data-html="true" data-placement="left">
                            <i class="material-icons md-18">edit</i>
                        </button>
                    </div>
                <!-- /ko -->
            <!-- /ko -->
        </div>
    </div>
</div>
