<!-- ko ifnot: Eagle.hideReadonlyParamters() && $root.getCurrentParamReadonly($data) -->
    <div class="input-group mb-1">

        <div class="input-group-prepend">
            <span class="input-group-text" id="group-addon" data-bind="text: $data.displayText, eagleTooltip: $data.getDescriptionText()" data-bs-placement="left"></span>
        </div>

        <!-- ko if: !isType(Eagle.DataType_Boolean) && !isType(Eagle.DataType_Select) -->
            <!-- ko if: isType(Eagle.DataType_Integer) -->
            <input class="form-control" min="0" step="1" onfocus="this.previousValue = this.value" onkeydown="this.previousValue = this.value" oninput="validity.valid || (value = this.previousValue)" placeholder="" aria-label="Label" aria-describedby="group-addon" data-bs-placement="bottom" data-bind="value: $data.value, valueUpdate: ['afterkeydown', 'input'], readonly: function(){return $root.getCurrentParamReadonly($data)}, attr: {type: $data.getHtmlInputType(), id: 'field' + $index()}, event: {change: function(){$root.selectedObjects.valueHasMutated();}}, eagleTooltip: getFieldValue()">
            <!-- /ko -->
            <!-- ko ifnot: isType(Eagle.DataType_Integer) -->    
            <input class="form-control inputNoArrows" placeholder="" aria-label="Label" aria-describedby="group-addon" data-bs-placement="bottom" data-bind="value: $data.value, valueUpdate: ['afterkeydown', 'input'], readonly: function(){return $root.getCurrentParamReadonly($data)}, attr: {type: $data.getHtmlInputType(), id: 'field' + $index()}, event: {change: function(){$root.selectedObjects.valueHasMutated();}}, eagleTooltip: getFieldValue()">
            <!-- /ko -->
        <!-- /ko -->

        <!-- ko if: isType(Eagle.DataType_Boolean) -->
        <div class="form-control checkboxParent">
            <input class="inspectorCheckbox form-check-input btn-check" placeholder="" aria-label="Label" onclick="$(this).val(this.checked ? true : false);this.blur();" aria-describedby="group-addon" data-bs-placement="bottom" data-bind="value: $data.value, checked: valIsTrue($data.value()), disabled: function(){return $root.getCurrentParamReadonly($data)}, attr: {type: $data.getHtmlInputType(), id: 'field' + $index()}, event: {change: function(){$root.selectedObjects.valueHasMutated();$root.checkGraph();}}, eagleTooltip: getFieldValue()">
            <label class="btn btn-outline-primary" data-bind="attr:{for: 'field' + $index()}, html: $data.value() "></label><br>
        </div>
        <!-- /ko -->

        <!-- ko if: isType(Eagle.DataType_Select) -->
        <div class="form-control">
            <select class="form-select" aria-label="Label" aria-describedby="group-addon" data-bs-placement="bottom" data-bind="disabled: function(){return $root.getCurrentParamReadonly($data)}, attr: {type: $data.getHtmlInputType(), id: 'nodeInspectorFieldValue' + $index()}, event: {change: function(){$root.selectedObjects.valueHasMutated();}}, eagleTooltip: getFieldValue(), options: $data.options, value: $data.value">
            </select>
        </div>
        <!-- /ko -->

        <!-- ko ifnot: $root.selectedNode().isLocked() -->
            <!-- ko if: isType(Eagle.DataType_String) -->
            <div class="input-group-append">
                <button class="btn btn-secondary btn-sm" type="button" data-bind="click: function(){$root.showFieldValuePicker($index(), $data.input);}, attr: {id: 'nodeInspectorEditField' + $index()}, eagleTooltip: 'Open Field Value Wizard'" data-bs-placement="left">
                    <i class="material-icons md-18">link</i>
                </button>
            </div>
            <!-- /ko -->

        <!-- /ko -->

        <!-- ko if: Eagle.allowSetKeyParameter() -->
            <div class="input-group-append">
                <button class="btn btn-secondary btn-sm keyAttributeButton" type="button" data-bind="click: function(){this.toggleKeyAttribute()}, eagleTooltip: 'toggle favourite'" data-bs-placement="left">
                    <!-- ko if: isKeyAttribute() -->
                        <i class="material-icons md-18">favorite</i>
                    <!-- /ko -->
                    <!-- ko ifnot: isKeyAttribute() -->
                        <i class="material-icons md-18">favorite_border</i>
                    <!-- /ko -->
                </button>
            </div>
        <!-- /ko -->

        <!-- ko ifnot: $root.selectedNode().isLocked() -->
        <div class="input-group-append">
            <button class="btn btn-secondary btn-sm" type="button" data-bind="click: function(){$root.editField(null, 'Edit', $data.parameterType(), $data.usage(), $data.getId());}, attr: {id: 'nodeInspectorEditField' + $index()}, eagleTooltip: 'Edit'" data-bs-placement="left">
                <i class="material-icons md-18">edit</i>
            </button>
        </div>
        <!-- /ko -->

        <!-- ko ifnot: $root.selectedNode().isLocked() -->
        <div class="input-group-append">
            <button class="btn btn-secondary btn-sm" type="button" data-bind="click: function(){$root.removeFieldFromNodeById($root.selectedNode(), $data.getId());}, attr: {id: 'nodeInspectorRemoveField' + $index()}, eagleTooltip:'Remove parameter'" data-bs-placement="left">
                <i class="material-icons md-18">delete</i>
            </button>
        </div>
        <!-- /ko -->

    </div>                                  
<!-- /ko -->
