<div class="input-group mb-1">

    <!-- ko ifnot: $root.selectedNode().isLocked() -->
        <div class="input-group-prepend">
            <button class="btn btn-secondary btn-sm" type="button" data-bind="click: function(){$root.selectedNode().removeFieldByIndex($index());$root.selectedNode.valueHasMutated();$root.flagActiveFileModified();}, attr: {id: 'nodeInspectorRemoveField' + $index(), title:'Remove parameter'}" data-toggle="tooltip" data-html="true" data-placement="left">
                <i class="material-icons md-18">remove</i>
            </button>
        </div>
    <!-- /ko -->

    <div class="input-group-prepend">
        <span class="input-group-text mw-140" id="group-addon" data-bind="text: $data.text, attr: {'data-original-title': $data.getDescriptionText()}" data-toggle="tooltip" data-html="true" data-placement="left"></span>
    </div>

    <input type="text" class="form-control" placeholder="" aria-label="Label" aria-describedby="group-addon" data-bind="value: $data.value, valueUpdate: ['afterkeydown', 'input'], readonly: $data.ro, attr: {id: 'nodeInspectorFieldValue' + $index()}, event: {change: function(){$root.selectedNode.valueHasMutated();}}">

    <!-- ko if: $root.userMode() === Eagle.UserMode.LogicalGraphEditor -->
        <!-- ko ifnot: $data.ro -->
        <div class="input-group-append">
            <button class="btn btn-secondary btn-sm" type="button" data-bind="click: function(){$root.showFieldValuePicker($index(), $data._type, $data.input);}, attr: {id: 'nodeInspectorEditField' + $index(), title: 'Open Field Value Wizard'}" data-toggle="tooltip" data-html="true" data-placement="left">
                <i class="material-icons md-18">link</i>
            </button>
        </div>
        <!-- /ko -->
    <!-- /ko -->

    <!-- ko ifnot: $data.ro -->
    <div class="input-group-append">
        <button class="btn btn-secondary btn-sm" type="button" data-bind="click: function(){$root.editField($index(), $data.input);}, attr: {id: 'nodeInspectorEditField' + $index(), title: 'Edit'}" data-toggle="tooltip" data-html="true" data-placement="left">
            <i class="material-icons md-18">edit</i>
        </button>
    </div>
    <!-- /ko -->
</div>
