<!-- ko if: $data.parentKey === parentKey -->
    <li>
        <div class="hierarchyNode" data-bind="class: $root.isHierarchyNodeSelected($root.objectIsSelectedById(_id)), click:select, clickBubble:false" params="data:$data, parentKey: key, select: $root.selectNodeInHierarchy">
            <div class="hierarchyNodeColor" data-bind=" style: {'background-color': color}"></div>
            <div class="hierarchyNodeVisibilityIcon" data-bind="style: {'visibility': $root.hierarchyNodeIsHidden(key())}">
                <i class="material-icons md-18">visibility_off</i>
            </div>
            <h5 data-bind="text: name"></h5>
            <span data-bind="text: category"></span>
            <div>
                <ul class="nodes" data-bind="foreach: $root.logicalGraph().getNodes()">
                    <!--<li><span data-bind="text: parentKey() + ' ' + key() + ' ' + $parentContext.key + ' ' + $component.key()"></span></li>-->
                    <!-- ko if: parentKey() === $component.key() -->
                        <hierarchy-node params="data: $data, parentKey: key, select: $root.selectNodeInHierarchy"></hierarchy-node>
                    <!-- /ko -->
                </ul>
            </div>
        </div>
    </li>
<!-- /ko -->
