<div class="row">
    <div class="col"  draggable="true" data-bind="event: {dragstart: $root.nodeDragStart,dragend: $root.nodeDragEnd}, childrenComplete: $root.updatePaletteComponentTooltip">
        <div class="input-group mb-1"  data-bind="attr: {title: $data.getHelpHTML()}, click: function(){$root.setSelection(Eagle.RightWindowMode.NodeInspector, $data, Eagle.FileType.Palette);}" data-toggle="tooltip" data-html="true" data-placement="right">
            <div class="input-group-prepend">
                <button class="nodeBtn" type="button" data-bind="click: function(){$root.addNodeToLogicalGraph($data)}, attr: {id: 'addPaletteNode' + $data.getNoWhiteSpaceName()}">
                    <span class="input-group-text" data-bind="style: {'background-color': $data.getColor()}">
                        <i class="material-icons" data-bind="text: $data.getIcon()"></i>
                    </span>
                </button>
            </div>

            <input type="text" class="form-control nodeTitle" readonly data-bind="value: $data.getDisplayName(), css: {selected: $root.selectedNode() === $data}" disabled>
        </div>
    </div>
</div>
