<div class="input-group mb-1">
    <div class="input-group-prepend">
        <!-- ko if: $root.logicalGraph().portIsLinked($root.selectedNode().getKey(), id) -->
            <button class="btn btn-dark btn-sm" type="button" data-bind="click: function(){$root.selectEdge($root.selectedNode().getKey(), id);}, attr: {id: 'nodeInspectorSelectEdge' + id}">
                <i class="material-icons md-18">link</i>
            </button>
        <!-- /ko -->
        <!-- ko ifnot: $root.logicalGraph().portIsLinked($root.selectedNode().getKey(), id) -->
            <button class="btn btn-dark btn-sm" type="button" disabled>
                <i class="material-icons md-18">link_off</i>
            </button>
        <!-- /ko -->
    </div>
    <input type="text" class="form-control" placeholder="" readonly data-bind="value: name">
    <div class="input-group-append">
        <button class="btn btn-dark btn-sm" type="button" disabled>
            <span data-bind="text: multiplicity"></span>
        </button>
    </div>
    <!-- ko ifnot: $root.selectionReadOnly -->
    <div class="input-group-append">
        <!-- ko if: input -->
        <!-- ko ifnot: local -->
        <button class="btn btn-secondary btn-sm" type="button" data-bind="click: function(){$root.removePortFromNodeByIndex($root.selectedNode().getKey(), $index(), true, false);$root.flagActiveDiagramHasMutated();$root.selectedNode.valueHasMutated();}, attr: {id: 'nodeInspectorRemoveInputPort' + $index()}">
            <i class="material-icons md-18">remove</i>
        </button>
        <!-- /ko -->
        <!-- ko if: local -->
        <button class="btn btn-secondary btn-sm" type="button" data-bind="click: function(){$root.removePortFromNodeByIndex($root.selectedNode().getKey(), $index(), true, true);$root.flagActiveDiagramHasMutated();$root.selectedNode.valueHasMutated();}, attr: {id: 'nodeInspectorRemoveInputLocalPort' + $index()}">
            <i class="material-icons md-18">remove</i>
        </button>
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: !input -->
        <!-- ko ifnot: local -->
            <button class="btn btn-secondary btn-sm" type="button" data-bind="click: function(){$root.removePortFromNodeByIndex($root.selectedNode().getKey(), $index(), false, false);$root.flagActiveDiagramHasMutated();$root.selectedNode.valueHasMutated();}, attr: {id: 'nodeInspectorRemoveOutputPort' + $index()}">
                <i class="material-icons md-18">remove</i>
            </button>
        <!-- /ko -->
        <!-- ko if: local -->
            <button class="btn btn-secondary btn-sm" type="button" data-bind="click: function(){$root.removePortFromNodeByIndex($root.selectedNode().getKey(), $index(), false, true);$root.flagActiveDiagramHasMutated();$root.selectedNode.valueHasMutated();}, attr: {id: 'nodeInspectorRemoveOutputLocalPort' + $index()}">
                <i class="material-icons md-18">remove</i>
            </button>
        <!-- /ko -->
        <!-- /ko -->
    </div>
    <!-- /ko -->
</div>
