<div class="input-group mb-1">


    <input type="text" class="form-control" placeholder="" readonly data-bind="value: name, eagleTooltip: description" data-bs-placement="left">

    <div class="input-group-append">
        <button class="btn btn-secondary btn-sm" type="button" data-bind="eagleTooltip: 'Port multiplicity'" data-bs-placement="left">
            <span data-bind="text: multiplicity"></span>
        </button>
    </div>
    <div class="input-group-append">
        <!-- ko if: $root.logicalGraph().portIsLinked($root.selectedNode().getKey(), id()) -->
            <button class="btn btn-secondary btn-sm" type="button" data-bind="attr: {id: 'nodeInspectorSelectEdge' + id}, eagleTooltip: 'Port is connected'" data-bs-placement="left">
                <i class="material-icons md-18">link</i>
            </button>
        <!-- /ko -->
        <!-- ko ifnot: $root.logicalGraph().portIsLinked($root.selectedNode().getKey(), id()) -->
            <button class="btn btn-secondary btn-sm" type="button" data-bind="eagleTooltip: 'Port is not connected'" data-bs-placement="left">
                <i class="material-icons md-18">link_off</i>
            </button>
        <!-- /ko -->
    </div>

    <div class="input-group-append">
        <!-- ko if: isEventPort -->
            <button class="btn btn-secondary btn-sm" type="button" data-bind="click: function(){toggleEvent();}, eagleTooltip: 'Port is event port<br/>Click to toggle'" data-bs-placement="left">
                <i class="material-icons md-18">alarm_on</i>
            </button>
        <!-- /ko -->
        <!-- ko ifnot: isEventPort -->
            <button class="btn btn-secondary btn-sm" type="button" data-bind="click: function(){toggleEvent();}, eagleTooltip: 'Port is not event port<br/>Click to toggle'" data-bs-placement="left">
                <i class="material-icons md-18">alarm_off</i>
            </button>
        <!-- /ko -->
    </div>
    <div class="input-group-append">
        <button class="btn btn-secondary btn-sm" type="button" data-bind="click: function(){$root.editPort(null, 'Edit', $index(), input);}, attr: {id: 'nodeInspectorEditPort' + $index()}, eagleTooltip: 'Edit'" data-bs-placement="left">
            <i class="material-icons md-18">edit</i>
        </button>
    </div>

    <!-- ko ifnot: $root.selectedNode().isLocked() -->
    <div class="input-group-append">
        <!-- ko if: input -->
            <button class="btn btn-secondary btn-sm" type="button" data-bind="click: function(){$root.removePortFromNodeByIndex($root.selectedNode(), $index(), true);$root.logicalGraph.valueHasMutated();$root.selectedObjects.valueHasMutated();}, attr: {id: 'nodeInspectorRemoveInputPort' + $index()}, eagleTooltip: 'Remove port'" data-bs-placement="left">
                <i class="material-icons md-18">delete</i>
            </button>
        <!-- /ko -->
        <!-- ko if: !input -->
            <button class="btn btn-secondary btn-sm" type="button" data-bind="click: function(){$root.removePortFromNodeByIndex($root.selectedNode(), $index(), false);$root.logicalGraph.valueHasMutated();$root.selectedObjects.valueHasMutated();}, attr: {id: 'nodeInspectorRemoveOutputPort' + $index()}, eagleTooltip: 'Remove port'" data-bs-placement="left">
                <i class="material-icons md-18">delete</i>
            </button>
        <!-- /ko -->
    </div>
    <!-- /ko -->
</div>
