<div class="container repoContainer">
    <div class="row">
        <div class="col-1 col">
            <!-- ko if: isFetching -->
            <div class="spinner-border spinner-border-sm" role="status">
            </div>
            <!-- /ko -->
            <!-- ko ifnot: isFetching -->
            <i class="material-icons md-18 interactive" data-bind="click: refresh,visible: folders().length == 0 && files().length==0 && fetched">cloud_off</i>
            <i class="material-icons md-18 interactive" data-bs-placement="bottom" data-bind="click: refresh, visible: (folders().length != 0 || files().length != 0)&& fetched, eagleTooltip: 'Refresh'">cloud_done</i>

            <!-- ko ifnot: fetched -->
            <!-- ko if: service === Repository.Service.GitHub -->
            <img src="static/assets/img/GitHub-Mark-32px.png" data-bind="click: select" width="18px" />
            <!-- /ko -->
            <!-- ko if: service === Repository.Service.GitLab -->
            <img src="static/assets/img/fi-cnsuxt-gitlab-alt-solid.png" data-bind="click: select" width="18px"/>
            <!-- /ko -->
            <!-- /ko -->
            <!-- /ko -->
        </div>
        <div class="col-10 col">
            <a href="" data-bind="attr: {id: htmlId}, click: select, eagleTooltip: '|||' +  name + ' (' + branch + ') |||'" data-bs-placement="left">
                <span data-bind="text: name + ' (' + branch + ')'"></span>
            </a>
        </div>
        <!-- ko ifnot: isBuiltIn -->
        <div class="col col-1">
            <i class="material-icons md-18 interactive" data-bind="click: remove, attr: {id: htmlId() + '-eject'}">eject</i>
        </div>
        <!-- /ko -->
        <!-- ko if: expanded -->
        <ul class="folders" data-bind="foreach: folders">
            <li>
                <repository-folder params="data: $data"></repository-folder>
            </li>
        </ul>
        <ul class="files" data-bind="foreach: files">
            <li>
                <repository-file params="data: $data"></repository-file>
            </li>
        </ul>
        <!-- /ko -->
    </div>
</div>
