<span>&nbsp;</span>
<!-- ko if: isFetching -->
<div class="spinner-border spinner-border-sm" role="status">
    <span class="sr-only">Loading...</span>
</div>
<!-- /ko -->
<!-- ko ifnot: isFetching -->
<i class="material-icons md-18">description</i>
<!-- /ko -->
<span>&nbsp;</span>
<a href="#" data-bind="click: $root.selectFile, attr: {id: htmlId}">
    <span data-bind="text: $data.name"></span>
</a>

<span>&nbsp;</span>
<i class="material-icons md-18" data-toggle="tooltip" data-placement="right" title="Insert" style="cursor:pointer;top:3px;" data-bind="click: $root.insertFile">add_box</i>
