<div class="repoIndent">
    <div class="row">
        <div class="col col-1">
            <!-- ko if: isFetching -->
            <div class="spinner-border spinner-border-sm" role="status">
            </div>
            <!-- /ko -->
            <!-- ko ifnot: isFetching -->
            <i class="material-icons md-18" data-bind="text: getIconUrl"></i>
            <!-- /ko -->
        </div>
        <div class="col col-10">
            <a href="#" data-bind="click: Repositories.selectFile, attr: {id: htmlId}, eagleTooltip: $data.name" data-bs-placement="left">
                <span data-bind="text: $data.name"></span>
            </a>
        </div>
        <!-- ko if: getIconUrl() === "device_hub" -->
            <div class="col col-1">
                <i class="material-icons md-18" data-bs-placement="left" style="cursor:pointer;top:3px;" data-bind="click: $root.insertRemoteFile, eagleTooltip: 'Insert'">add_box</i>
            </div>
        <!-- /ko -->
    </div>
</div>
