{
    "env": {
        "browser": true,
        "es2021": true,
        "node": true
    },
    "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2021,
        "sourceType": "module"
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "ignorePatterns": [
        "build/",
        "static/built/",
        "node_modules/"
    ],
    "rules": {
        "@typescript-eslint/no-inferrable-types": "off",
        "@typescript-eslint/no-this-alias": "off",
        "@typescript-eslint/ban-types": "off",
        "@typescript-eslint/no-namespace": "off",   // try remove eventually
        "@typescript-eslint/ban-ts-comment": "off",
        "@typescript-eslint/no-duplicate-enum-values": "off",
        "@typescript-eslint/no-unused-vars": "off",
        "@typescript-eslint/no-empty-function": "error",
        "@typescript-eslint/consistent-type-imports": "error",
        "@typescript-eslint/no-var-requires": "error",
        "@typescript-eslint/no-require-imports": "error",
        "@typescript-eslint/no-useless-empty-export": "error",

        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "no-constructor-return": "error",
        "no-new-wrappers": "error",
        "no-new-object": "error",
        "no-array-constructor": "error",
        "no-useless-constructor": "error",
        "no-undef": "off",
        "prefer-const": "error",
        "no-var": 2
    }
}
