{
    "env": {
        "browser": true,
        "es2021": true,
        "node": true
    },
    "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2021,
        "sourceType": "module"
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "ignorePatterns": [
        "build/",
        "static/built/",
        "node_modules/"
    ],
    "rules": {
        "@typescript-eslint/no-inferrable-types": "off",
        "@typescript-eslint/no-this-alias": "off",
        "@typescript-eslint/ban-types": "off",
        "@typescript-eslint/no-namespace": "off",   // try remove eventually
        "@typescript-eslint/ban-ts-comment": "off",
        "@typescript-eslint/no-duplicate-enum-values": "off",
        "@typescript-eslint/no-unused-vars": "off",
        "@typescript-eslint/no-empty-function": "error",
        "@typescript-eslint/consistent-type-imports": "error",
        "@typescript-eslint/no-var-requires": "error",
        "@typescript-eslint/no-require-imports": "error",
        "@typescript-eslint/no-useless-empty-export": "error",

        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "no-constructor-return": "error",
        "no-new-wrappers": "error",
        "no-new-object": "error",
        "no-new-native-nonconstructor": "error",
        "no-new-symbol": "error",
        "no-proto": "error",
        "no-self-compare": "error",
        "no-throw-literal": "error",
        "no-unmodified-loop-condition": "error",
        "no-unreachable-loop": "error",
        "no-unsafe-finally": "error",
        "accessor-pairs": "error",
        "default-case-last": "error",
        "no-array-constructor": "error",
        "no-compare-neg-zero": "error",
        "no-delete-var": "error",
        "no-dupe-else-if": "error",
        "no-duplicate-case": "error",
        "no-empty-character-class": "error",
        "no-ex-assign": "error",
        "no-extra-boolean-cast": "error",
        "no-fallthrough": "error",
        "no-func-assign": "error",
        "no-global-assign": "error",
        "no-import-assign": "error",
        "no-loss-of-precision": "error",
        "no-misleading-character-class": "error",
        "no-new-func": "error",
        "no-obj-calls": "error",
        "no-octal": "error",
        "no-regex-spaces": "error",
        "no-sparse-arrays": "error",
        "no-this-before-super": "error",
        "no-unsafe-negation": "error",
        "no-unsafe-optional-chaining": "error",
        "no-useless-backreference": "error",
        "use-isnan": "error",
        "valid-typeof": "error",
        "no-useless-call": "error",
        "no-useless-catch": "error",
        "no-useless-concat": "error",
        "no-useless-computed-key": "error",
        "no-useless-escape": "error",
        "no-useless-return": "error",
        "no-constant-condition": ["error", { "checkLoops": false }],
        "no-constant-binary-expression": "error",
        "no-script-url": "error",
        "no-self-assign": "error",
        "no-return-await": "error",
        "no-promise-executor-return": "error",
        "no-caller": "error",
        "no-alert": "error",
        "no-div-regex": "error",
        "no-eval": "error",
        "no-extend-native": "error",
        "no-implied-eval": "error",
        "no-implicit-coercion": "error",
        "no-iterator": "error",
        "no-label-var": "error",
        "no-labels": "error",
        "no-lone-blocks": "error",
        "no-multi-str": "error",
        "no-octal-escape": "error",
        "no-prototype-builtins": "error",
        "no-shadow-restricted-names": "error",
        "no-template-curly-in-string": "error",
        "no-with": "error",
        "no-unneeded-ternary": "error",
        "no-useless-rename": "error",
        "prefer-object-has-own": "error",
        "prefer-numeric-literals": "error",
        "prefer-regex-literals": "error",
        "radix": "error",
        "symbol-description": "error",
        "no-useless-constructor": "error",
        "no-undef": "off",
        "prefer-const": "error",
        "no-var": 2
    }
}
