VERSION
.DS_Store
*.pyc
*.egg-info
build/*
docs/build
docs/static
*.swp
.vscode/*
node_modules
static/built
venv
static/docs/build
package-lock.json
prestart.sh
docker-compose.yml
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
tutorials/*.js
