@import "theme.css";

.wy-side-nav-search {
    background: #002A57;
}
.wy-nav-side {
    background: #D8DCEF;
}

.wy-menu-vertical p.caption{
    color: #002A57;    
}
.wy-menu-vertical a{
    color: darkslategrey; 
}

.wy-menu-vertical a:hover {
    background-color: #002A57;
    color: white;
}

.wy-table-responsive table td,
.wy-table-responsive table th {
    white-space: normal !important; /* Allow text to wrap */
    word-wrap: break-word !important;
}

.wy-nav-content {
    max-width: 1000px
}

figure {
	font-size: 0;
	position: relative;
	background: transparent;
	width: 100%;
	margin: 0;
}
figure video {
	width: 100%;
	height: auto;
	display: inline-block;
}
figure button {
	width: 100px;
	height: 28px;
	font-size: x-small;
}
figure figcaption {
	position: absolute;
	right: 0; top: 0;
	background: #222;
	font-size: .8rem;
	color: #FFF;
	width: 0px;
	height: 100%;
	overflow-y: scroll;
}
figure figcaption ol {
	position: relative;
	list-style-type: none;
	margin: 0; padding: 0;
}
figure figcaption ol li {
	padding: .7rem 1rem;
	border-bottom: 1px dashed #000;
	transition: .3s;
}
.startTime {
	color: #FFF
}
.current .startTime {
	background: hsl(45,80%,50%);
	color: #000;
}
.chapLink, .chapLink:active, .chapLink:focus {
 outline: none;
 text-decoration: none !important;
 color: #aaa  !important;
 font-family: sans-serif;
}

.chapLink:hover {
 color: #c2c9d4  !important;
  cursor: default;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 300; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
	position: absolute;
  color: #aaa;
  right: 0;
	top: -32px;
  font-size: 22px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

header{
	background: linear-gradient(90deg, rgba(0,64,133,1) 0%, rgba(0,52,107,1) 20%, rgba(0,35,73,1) 100%);
    padding: 1rem 1rem;
}

.breadcrumbs-outer{
    background: #002349;
	border:none;
}

.breadcrumbs-outer ul{
	padding:0px;
}

.main-outer{
	background: #d8ddf0;
}

.toctree-wrapper{
	visibility: hidden;
	position: absolute;
}

.breadcrumbs li {
	color: rgb(206, 206, 206);
}

.breadcrumbs li a {
	color:rgb(0, 132, 255);
}

.site-title{
	color: white;
}

.breadcrumbs-aside {
	visibility: hidden;
}

.footer{
	padding: 0px;
}

.document h1{
	margin-top:0px;
}
