<!-- Edit Edge Modal -->
<div class="modal fade" id="editEdgeModal" tabindex="-1" role="dialog" aria-labelledby="editEdgeModalTitle">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editEdgeModalTitle">Edit Edge</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-3">
                            <p>Source Node:</p>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <select class="form-control" id="editEdgeModalSrcNodeIdSelect">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Source Port:</p>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <select class="form-control" id="editEdgeModalSrcPortIdSelect">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Destination Node:</p>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <select class="form-control" id="editEdgeModalDestNodeIdSelect">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Destination Port:</p>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <select class="form-control" id="editEdgeModalDestPortIdSelect">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Loop Aware:</p>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <input type="checkbox" tabindex='-1' class="form-control form-check-input" id="editEdgeModalLoopAwareCheckbox">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Closes Loop:</p>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <input type="checkbox" tabindex='-1' class="form-control form-check-input" id="editEdgeModalClosesLoopCheckbox">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="editEdgeModalAffirmativeButton" data-bs-dismiss="modal"><span id="editEdgeModalAffirmativeAnswer">OK</span></button>
            </div>
        </div>
    </div>
</div>