<!-- Edit Field Modal -->

<!-- ko using: $root.currentField() -->
    <div class="modal fade" id="editFieldModal" tabindex="-1" role="dialog" aria-labelledby="editFieldModalTitle">

        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <!-- ko ifnot: $data === null -->
                    <div class="modal-header">
                        <h5 class="modal-title" id="editFieldModalTitle">Edit Parameter</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container" id="customParameterOptionsWrapper">

<!-- display text -->
                            <div class="row">
                                <div class="col-3">
                                    <p data-bind="eagleTooltip: 'User-facing name'" data-bs-placement="left">Display Text:</p>
                                </div>
                                <div class="col">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" id="editFieldModalDisplayTextInput" placeholder="New Parameter" data-bind="value: displayText, valueUpdate: ['afterkeydown', 'input']">
                                    </div>
                                </div>
                            </div>

<!-- value -->
                            <div class="row" id="editFieldModalValue">
                                <div class="col-3">
                                    <p>Value:</p>
                                </div>
                                <div class="col">
                                    <div class="input-group mb-3">

                                        <!-- string -->
                                        <!-- ko if: $data.isStringValueType() -->    
                                            <textarea type="text" class="form-control" type="text" id="editFieldModalValueInputText" placeholder="" aria-label="Label" aria-describedby="group-addon" data-bs-placement="bottom" data-bind="value: $data.value, valueUpdate: ['afterkeydown', 'input'], event: {change: function(){$root.selectedObjects.valueHasMutated();},input:function(data,event){Modals.validateFieldModalValueInputText(data,event)}}, eagleTooltip: getFieldValue()"></textarea>
                                        <!-- /ko --> 

                                        <!-- float -->
                                        <!-- ko if: $data.isFloatValueType() -->    
                                            <input type="number" step="0.1" id="editFieldModalValueInputNumber" class="form-control" data-bind=" valueUpdate: ['afterkeydown', 'input'], value: value, event: {change: function(){$root.selectedObjects.valueHasMutated()}}">
                                        <!-- /ko --> 

                                        <!-- integer -->
                                        <!-- ko if: $data.isIntegerValueType() -->    
                                            <input type="number" id="editFieldModalValueInputNumber" class="form-control" step="1" onfocus="this.previousValue = this.value" onkeydown="this.previousValue = this.value" oninput="validity.valid || (value = this.previousValue)" data-bind=" valueUpdate: ['afterkeydown', 'input'], value: value, event: {change: function(){$root.selectedObjects.valueHasMutated()}}">
                                        <!-- /ko --> 

                                        <!-- boolean -->
                                        <!-- ko if: $data.isBooleanValueType() -->
                                            <div class="input-group componentCheckbox" id="componentValueCheckbox" data-bind="click:$data.toggle">
                                                <span class="noselect" data-bind="text:value"></span>
                                                <input type="checkbox" tabindex='-1' class="form-control form-check-input" id="editFieldModalValueInputCheckbox" data-bind="checked: valIsTrue($data.value()), valueUpdate: ['afterkeydown', 'input'], value: value, event: {change: function(){$data.toggle(); $root.selectedObjects.valueHasMutated();}}">
                                            </div>
                                        <!-- /ko --> 

                                        <!-- select -->
                                        <!-- ko if: $data.isSelectValueType() -->
                                            <select class="form-control" id="editFieldModalValueInputSelect" data-bind=" event: {change: function(){$root.selectedObjects.valueHasMutated();}}, options: $data.options, value: $data.value">
                                                <!-- options are added dynamically -->
                                            </select>
                                        <!-- /ko --> 
                                    </div>
                                </div>
                            </div>

<!-- default value -->
                            <div class="row" id="editFieldModalDefaultValue">
                                <div class="col-3">
                                    <p>Default Value:</p>
                                </div>
                                <div class="col">
                                    <div class="input-group mb-3">

                                        <!-- string -->
                                        <!-- ko if: $data.isStringValueType() --> 
                                            <textarea type="text" class="form-control" id="editFieldModalDefaultValueInputText" data-bind="checked: valIsTrue($data.defaultValue()), valueUpdate: ['afterkeydown', 'input'], value: defaultValue, event: {change: function(){$root.selectedObjects.valueHasMutated()},keyup:function(data,event){Modals.validateFieldModalValueInputText(data,event)}}"></textarea>
                                        <!-- /ko -->

                                        <!-- float -->
                                        <!-- ko if: $data.isFloatValueType() -->
                                            <input type="number" id="editFieldModalDefaultValueInputNumber" class="form-control" data-bind="checked: valIsTrue($data.defaultValue()), valueUpdate: ['afterkeydown', 'input'], value: defaultValue, event: {change: function(){$root.selectedObjects.valueHasMutated()}}">
                                        <!-- /ko -->

                                        <!-- integer -->
                                        <!-- ko if: $data.isIntegerValueType() -->
                                            <input type="number" id="editFieldModalDefaultValueInputNumber" class="form-control" step="1" onfocus="this.previousValue = this.value" onkeydown="this.previousValue = this.value" oninput="validity.valid || (value = this.previousValue)" data-bind="checked: valIsTrue($data.defaultValue()), valueUpdate: ['afterkeydown', 'input'], value: defaultValue, event: {change: function(){$root.selectedObjects.valueHasMutated()}}">
                                        <!-- /ko -->

                                        <!-- boolean -->
                                        <!-- ko if: $data.isBooleanValueType() -->
                                            <div class="input-group componentCheckbox" id="componentDefaultValueCheckbox" data-bind="click:$data.toggleDefault">
                                                <span class="noselect" data-bind="text:defaultValue"></span>
                                                <input type="checkbox" tabindex='-1' class="form-control form-check-input" id="editFieldModalDefaultValueInputCheckbox" data-bind="checked: valIsTrue($data.defaultValue()), valueUpdate: ['afterkeydown', 'input'], value: defaultValue, event: {change: function(){$data.toggleDefault(); $root.selectedObjects.valueHasMutated();}}">
                                            </div>
                                        <!-- /ko -->

                                        <!-- select -->
                                        <!-- ko if: $data.isSelectValueType() -->
                                            <!-- ko ifnot: Setting.findValue(Setting.ALLOW_COMPONENT_EDITING) -->
                                                <select class="form-control" id="editFieldModalDefaultValueInputSelect" aria-label="Label" aria-describedby="group-addon" data-bs-placement="bottom" data-bind="event: {change: function(){$root.selectedObjects.valueHasMutated();}}, options: $data.options, value: $data.defaultValue">
                                                    <!-- options are added dynamically -->
                                                </select>
                                            <!-- /ko --> 
                                            <!-- ko if: Setting.findValue(Setting.ALLOW_COMPONENT_EDITING) -->
                                                <div class="dropdown parameterTableTypeCustomSelect">
                                                    <a class="dropdown-toggle dropdown-control" data-bind="text:$data.defaultValue" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                                                    <div class="dropdown-menu dropdown-menu-right dropdown-area" aria-labelledby="parameterTableTpeCustomSelect">
                                                        <!-- ko foreach:$data.options()-->
                                                            <div class="dropdown-item" data-bind="click:function(data, event){$parent.setDefaultValue($data);}">
                                                                <input class="defaultSelectCustom" data-bind="value:$data, event: {change:function(data,event){$parent.editOption($index(),$(event.target).val())}}" type="text">
                                                                <button class="typeSelectDelete" data-bind="clickBubble:false, click: function(){$parent.removeOption($index())}"><i class="material-symbols-outlined md-24">delete</i></button>
                                                            </div>
                                                        <!-- /ko --> 
                                                        <div class="dropdown-item add" data-bind="click:function(data,event){event.stopPropagation();addOption('')}">
                                                            <i class="material-symbols-outlined">add</i>
                                                        </div>
                                                    </div>
                                                </div>
                                            <!-- /ko --> 
                                        <!-- /ko --> 
                                    </div>
                                </div>
                            </div>

<!-- description -->
                            <div class="row">
                                <div class="col-3">
                                    <p>Description:</p>
                                </div>
                                <div class="col">
                                    <div class="input-group mb-3">
                                        <textarea type="text" class="form-control" id="editFieldModalDescriptionInput" data-bind="value: description, valueUpdate: ['afterkeydown', 'input']"></textarea>
                                    </div>
                                </div>
                            </div>

<!-- type -->
                            <div class="row">
                                <div class="col-3">
                                    <p>Type:</p>
                                </div>
                                <div class="col">
                                    <div class="input-group mb-3">
                                        <input id="editFieldModalTypeInput" type="text" class="form-control" aria-label="Text input with dropdown button" autocomplete="off" data-bind="value:type">
                                        <button class="btn btn-outline-secondary dropdown-toggle dropdown-control" type="button" data-bs-toggle="dropdown" aria-expanded="false">Types</button>
                                        <ul id="editFieldModalTypeSelect" class="dropdown-menu dropdown-menu-end dropdown-area">
                                            <!-- ko foreach:$root.types()-->
                                                <a class="dropdown-item" data-bind="text:$data, click:function(){$root.tableDropdownClick($data, $parent);}"></a>
                                            <!-- /ko --> 
                                        </ul>
                                    </div>
                                </div>
                            </div>

<!-- flags -->
                            <div class="row">
                                <div class="col-3">
                                    <p>Flags:</p>
                                </div>
                                <div class="col-9">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="input-group mb-3 componentCheckbox" data-bind="eagleTooltip:'Argument never suppressed'">
                                                <span>Precious</span>
                                                <input type="checkbox" tabindex='-1' class="form-control form-check-input" id="editFieldModalPreciousInputCheckbox" data-bind="value:precious, checked:precious,valueUpdate: ['afterkeydown', 'input']">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="input-group mb-3 componentCheckbox" data-bind="eagleTooltip:'If checked only the value of this argument will be put on the command line'">
                                                <span>Positional</span>
                                                <input type="checkbox" tabindex='-1' class="form-control form-check-input" id="editFieldModalPositionalInputCheckbox" data-bind="value:positional, checked:positional,valueUpdate: ['afterkeydown', 'input']">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="input-group mb-3 componentCheckbox" data-bind="eagleTooltip:'No write access when checked'">
                                                <span>Read Only</span>
                                                <input type="checkbox" tabindex='-1' class="form-control form-check-input" id="editFieldModalAccessInputCheckbox" data-bind="value:readonly, checked:readonly,valueUpdate: ['afterkeydown', 'input']">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

<!-- parameter type -->
                            <div class="row" id="editFieldModalParameterTypeSelectRow">
                                <div class="col-3">
                                    <p>Parameter Type:</p>
                                </div>
                                <div class="col">
                                    <div class="form-group mb-3">
                                        <select class="form-control" id="editFieldModalParameterTypeSelect"data-bind="options: Object.values(Daliuge.FieldType), value: parameterType">
                                            <!-- options are added dynamically -->
                                        </select>
                                    </div>
                                </div>
                            </div>

<!-- usage -->
                            <div class="row" id="editFieldModalParameterUsageSelectRow">
                                <div class="col-3">
                                    <p>Parameter Usage:</p>
                                </div>
                                <div class="col">
                                    <div class="form-group mb-3">
                                        <select class="form-control" id="editFieldModalParameterUsageSelect" data-bind="options: Object.values(Daliuge.FieldUsage), value: usage, event: {change: ParameterTable.fieldUsageChanged}">
                                            <!-- options are added dynamically -->
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="justify-content:space-between;">
                        <button type="button" class="btn btn-secondary" id="editFieldModalResetToDefaultButton" data-bind="click:function(){$data.resetToDefault()}"><span>Reset to Default</span></button>
                        <button type="button" class="btn btn-primary" id="editFieldModalAffirmativeButton" data-bs-dismiss="modal" data-bind="click:function(){$('#editFieldModal').data('completed', true);}"><span id="editFieldModalAffirmativeAnswer">OK</span></button>
                    </div>
                <!-- /ko -->
            </div>
        </div>
    </div>
<!-- /ko -->