<!-- Errors Modal -->
<div class="modal fade" id="issuesModal" tabindex="-1" role="dialog" aria-labelledby="issuesModalTitle">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="issuesModalTitle">Graph Issues</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class='accordion' id='issuesModalAccordion'>

                    <div class="accordion-item" id="issuesModalErrorsAccordionItem">
                        <h2 class="accordion-header" id="checkGraphAccordionHeadingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#checkGraphAccordionCollapseOne" aria-expanded="true" aria-controls="checkGraphAccordionCollapseOne"> Errors&nbsp;<span id="issuesModalErrorCount" data-bind="text: '[' + Errors.getErrors().length + ']'"></span></button>
                        </h2>
                        <div id="checkGraphAccordionCollapseOne" class="accordion-collapse collapse show" aria-labelledby="checkGraphAccordionHeadingOne">
                            <div class="accordion-body" id="issuesModalErrorsAccordionBody">
                                <ul class="list-group">
                                <!-- ko foreach: Errors.getErrors -->
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span data-bind="text: $data.message"></span>
                                        <div>
                                        <!-- ko if: $data.show !== null -->
                                            <button class="btn btn-secondary btn-sm" data-bind="click: $data.show, eagleTooltip: 'Show object to investigate error'">Show</button>
                                        <!-- /ko -->
                                        <!-- ko if: $data.fix !== null -->
                                            <button class="btn btn-primary btn-sm" data-bind="click: function(){Utils.callFixFunc(eagle, $data.fix);}, eagleTooltip: $data.fixDescription">Fix</button>
                                        <!-- /ko -->
                                        </div>
                                    </li>
                                <!-- /ko -->
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item" id="issuesModalWarningsAccordionItem">
                        <h2 class="accordion-header" id="checkGraphAccordionHeadingTwo">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#checkGraphAccordionCollapseTwo" aria-expanded="true" aria-controls="checkGraphAccordionCollapseTwo"> Warnings&nbsp;<span id="issuesModalWarningCount" data-bind="text: '[' + Errors.getWarnings().length + ']'"></span></button>
                        </h2>
                        <div id="checkGraphAccordionCollapseTwo" class="accordion-collapse collapse show" aria-labelledby="checkGraphAccordionHeadingTwo">
                            <div class="accordion-body" id="issuesModalWarningsAccordionBody">
                                <ul class="list-group">
                                <!-- ko foreach: Errors.getWarnings -->
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span data-bind="text: $data.message"></span>
                                        <div>
                                        <!-- ko if: $data.show !== null -->
                                            <button class="btn btn-secondary btn-sm" data-bind="click: function($data){$root.checkErrorModalShowError($data)}, eagleTooltip: 'Show object to investigate warning'">Show</button>
                                        <!-- /ko -->
                                        <!-- ko if: $data.fix !== null -->
                                            <button class="btn btn-primary btn-sm" data-bind="click: function(){Utils.callFixFunc(eagle, $data.fix);}, eagleTooltip: $data.fixDescription">Fix</button>
                                        <!-- /ko -->
                                        </div>
                                    </li>
                                <!-- /ko -->
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer" style="justify-content: space-between;">
                <button id= 'errorModalFixAll' class="btn btn-primary" data-bind="click: Errors.fixAll, eagleTooltip: Errors.getNumFixableIssues() + ' fix(es) available'">Fix All
                    <span data-bind="text: KeyboardShortcut.idToText('fix_all', true)"></span>
                </button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>