<!-- Explore Palettes Modal -->
<div class="modal fade" id="explorePalettesModal" tabindex="-1" role="dialog" aria-labelledby="explorePalettesModalTitle">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="explorePalettesModalTitle">Explore Palettes</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div id="explorePalettesPathContainer">
                <!-- ko ifnot: explorePalettes().showFiles -->
                    <span data-bind="text: Setting.findValue(Setting.EXPLORE_PALETTES_REPOSITORY)"></span>
                <!-- /ko -->

                <!-- ko if: explorePalettes().showFiles -->
                    <span class="clickableFilePath" data-bind="text: Setting.findValue(Setting.EXPLORE_PALETTES_REPOSITORY), click: explorePalettes().back"></span>
                    <span>/ </span>
                    <span data-bind="text:explorePalettes().getProject().name"></span>
                <!-- /ko -->
            </div>
            <div class="modal-body">
                <!-- ko ifnot: explorePalettes().showFiles -->
                    <!-- ko if: explorePalettes().projects().length === 0 -->
                    {% include 'modals/loading_spinner.html' %}
                    <!-- /ko -->
                    <!-- ko if: explorePalettes().projects().length !== 0 -->
                    <div class="list-group">
                        <!-- ko foreach: explorePalettes().projects -->
                            <a href="#" class="list-group-item list-group-item-action" aria-current="true" data-bind="click: function(){$root.explorePalettes().setProject($data.name());}">
                            <div class="d-flex w-100 justify-content-between align-items-center">
                                <h5 class="mb-1">
                                    <span data-bind="text: $data.name()"></span>
                                </h5>
                                <div>
                                    <!-- ko if: $data.defaultPalette() !== null -->
                                        <span class="badge bg-primary rounded-pill" data-bind="text: 'Load Default', clickBubble: false, click: function(){$root.explorePalettes().clickHelper($root, $data.defaultPalette())}, eagleTooltip: 'Click to load the default palette of this repository'"  data-bs-placement="bottom"></span>
                                    <!-- /ko -->
                                    <!-- ko if: $data.defaultPalette() === null -->
                                        <span class="badge bg-primary rounded-pill loadDefaultDisabled" data-bind="text: 'Load Default', clickBubble: false, click: function(){$root.explorePalettes().clickHelper($root, $data.defaultPalette())}, eagleTooltip: 'There is no default (master/main) palette for this project. Please open the repository to select from all available palettes.'"  data-bs-placement="bottom"></span>
                                    <!-- /ko -->
                                </div>
                            </div>
                            <div class="d-flex w-100 justify-content-between align-items-center">
                                <small data-bind="text: function(){return $root.explorePalettes().getText($data.palettes().length)}()"></small>
                            </div>
                        </a>
                        <!-- /ko -->
                    </div>
                    <!-- /ko -->
                <!-- /ko -->
                <!-- ko if: explorePalettes().showFiles -->
                    <ul class="list-group" data-bind="foreach: explorePalettes().getProject().palettes">
                        <li class="list-group-item d-flex justify-content-between align-items-center" data-bind="click: function(data, event){$root.explorePalettes().clickHelper($root, $data, event)}">
                            <span data-bind="text: $data.name"></span>
                            <div class="form-check">
                                <input class="form-check-input position-static" type="checkbox" tabindex='-1' aria-label="select">
                            </div>
                        </li>
                    </ul>
                <!-- /ko -->
            </div>
            <div class="modal-footer" data-bind="style: {'justify-content': explorePalettes().showFiles() ? 'space-between' : 'flex-end'}">
                <button type="button" class="btn btn-secondary" id="explorePalettesModalBackButton" data-bind="click: explorePalettes().back, visible: explorePalettes().showFiles"><span>Back</span></button>
                <div>
                    <button type="button" class="btn btn-secondary" id="explorePalettesModalNegativeButton" data-bs-dismiss="modal"><span id="explorePalettesModalNegativeAnswer">Cancel</span></button>
                    <button type="button" class="btn btn-primary" id="explorePalettesModalAffirmativeButton" data-bs-dismiss="modal" data-bind="visible: explorePalettes().showFiles"><span id="explorePalettesModalAffirmativeAnswer">OK</span></button>
                </div>
            </div>
        </div>
    </div>
</div>