<!-- ModelData Modal -->
<div class="modal fade" id="modelDataModal" tabindex="-1" role="dialog" aria-labelledby="modelDataModalTitle">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modelDataModalTitle" data-bind="text: $root.currentFileInfoTitle()">ModelData</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <table id="modelDataModalTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Key</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-bind="eagleTooltip: 'The type of content in the file. Options: ' + Utils.enumKeys(Eagle.FileType)">File Type</td>
                            <!-- ko if: $root.currentFileInfo -->
                                <td data-bind="text: $root.currentFileInfo()._type"></td>
                            <!-- /ko -->
                        </tr>
                        <tr>
                            <td data-bind="eagleTooltip: 'The location in which this file is stored'">Location</td>
                            <!-- ko if: $root.currentFileInfo -->
                                <td data-bind="text: $root.currentFileInfo().getText()"></td>
                            <!-- /ko -->
                        </tr>
                        <tr id="modelDataDescription">
                            <td data-bind="eagleTooltip: 'A one-line description of the purpose of this file'">Short Description</td>
                            <!-- ko if: $root.currentFileInfo -->
                            <!-- ko if: Setting.findValue(Setting.ALLOW_GRAPH_EDITING) -->
                                <td><input type="text" data-bind="value: $root.currentFileInfo()._shortDescription, event: {keyup: function(){$root.flagActiveFileModified();}}"></input></td>
                            <!-- /ko -->
                            <!-- ko ifnot: Setting.findValue(Setting.ALLOW_GRAPH_EDITING) -->
                                <td data-bind="text: $root.currentFileInfo()._shortDescription"></td>
                            <!-- /ko -->
                            <!-- /ko -->
                        </tr>
                        <tr>
                            <td data-bind="eagleTooltip: 'A complete description of the purpose of this file'">Detailed Description</td>
                            <!-- ko if: $root.currentFileInfo -->
                            <!-- ko if: Setting.findValue(Setting.ALLOW_GRAPH_EDITING) -->
                                <td><textarea data-bind="value: $root.currentFileInfo()._detailedDescription, event: {keyup: function(){$root.flagActiveFileModified();}}"></textarea></td>
                            <!-- /ko -->
                            <!-- ko ifnot: Setting.findValue(Setting.ALLOW_GRAPH_EDITING) -->
                                <td data-bind="text: $root.currentFileInfo()._detailedDescription"></td>
                            <!-- /ko -->
                            <!-- /ko -->
                        </tr>
                        <tr id="modelDataGeneratorName">
                            <td data-bind="eagleTooltip: 'The name of the program or service that generated this palette'">Generator Name</td>
                            <!-- ko if: $root.currentFileInfo -->
                                <td data-bind="text: $root.currentFileInfo()._generatorName"></td>
                            <!-- /ko -->
                        </tr>
                        <tr id="modelDataGeneratorVersion">
                            <td data-bind="eagleTooltip: 'The version of the program or service that generated this palette'">Generator Version</td>
                            <!-- ko if: $root.currentFileInfo -->
                                <td data-bind="text: $root.currentFileInfo()._generatorVersion"></td>
                            <!-- /ko -->
                        </tr>
                        <tr>
                            <td data-bind="eagleTooltip: 'The commit hash of the program or service that generated this palette'">Generator Commit Hash</td>
                            <!-- ko if: $root.currentFileInfo -->
                                <td data-bind="text: $root.currentFileInfo()._generatorCommitHash"></td>
                            <!-- /ko -->
                        </tr>
                        <tr>
                            <td data-bind="eagleTooltip: 'The name of the schema to which this palette file complies'">Schema Version</td>
                            <!-- ko if: $root.currentFileInfo -->
                                <td data-bind="text: $root.currentFileInfo()._schemaVersion"></td>
                            <!-- /ko -->
                        </tr>
                        <tr>
                            <td data-bind="eagleTooltip: 'True, if this palette is not intended to be modified by users'">Readonly</td>
                            <!-- ko if: $root.currentFileInfo -->
                                <td data-bind="text: $root.currentFileInfo()._readonly"></td>
                            <!-- /ko -->
                        </tr>
                        <tr>
                            <td data-bind="eagleTooltip: 'The URL of the repository from which this palette was generated'">Repository URL</td>
                            <!-- ko if: $root.currentFileInfo -->
                                <td data-bind="text: $root.currentFileInfo()._repositoryUrl"></td>
                            <!-- /ko -->
                        </tr>
                        <tr>
                            <td data-bind="eagleTooltip: 'The commit hash of the repository from which this palette was generated'">Commit Hash</td>
                            <!-- ko if: $root.currentFileInfo -->
                                <td data-bind="text: $root.currentFileInfo()._commitHash"></td>
                            <!-- /ko -->
                        </tr>
                        <tr>
                            <td data-bind="eagleTooltip: 'The URL from which this palette was downloaded'">Download URL</td>
                            <!-- ko if: $root.currentFileInfo -->
                                <td data-bind="text: $root.currentFileInfo()._downloadUrl"></td>
                            <!-- /ko -->
                        </tr>
                        <tr>
                            <td data-bind="eagleTooltip: 'A hash encoding the unique contents of this palette'">Signature</td>
                            <!-- ko if: $root.currentFileInfo -->
                                <td data-bind="text: $root.currentFileInfo()._signature"></td>
                            <!-- /ko -->
                        </tr>
                        <tr>
                            <td data-bind="eagleTooltip: 'Name of the user who last modified this file'">Last Modified Name</td>
                            <!-- ko if: $root.currentFileInfo -->
                                <td data-bind="text: $root.currentFileInfo()._lastModifiedName"></td>
                            <!-- /ko -->
                        </tr>
                        <tr>
                            <td data-bind="eagleTooltip: 'Email of the user who last modified this file'">Last Modified Email</td>
                            <!-- ko if: $root.currentFileInfo -->
                                <td data-bind="text: $root.currentFileInfo()._lastModifiedEmail"></td>
                            <!-- /ko -->
                        </tr>
                        <tr>
                            <td data-bind="eagleTooltip: 'Date and time when this file was last modified'">Last Modified Datetime</td>
                            <!-- ko if: $root.currentFileInfo -->
                                <td data-bind="text: $root.currentFileInfo().lastModifiedDatetimeText()"></td>
                            <!-- /ko -->
                        </tr>
                        <tr>
                            <td data-bind="eagleTooltip: 'Number of nodes within this file'">Num Nodes</td>
                            <!-- ko if: $root.currentFileInfo -->
                                <td data-bind="text: $root.currentFileInfo()._numLGNodes"></td>
                            <!-- /ko -->
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="modelDataModalOKButton" data-bs-dismiss="modal"><span>OK</span></button>
            </div>
        </div>
    </div>
</div>