<!-- Settings Modal -->
<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalTitle">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="settingsModalTitle">Settings</h5>
                <!-- ko ifnot: Setting.findValue( Setting.STUDENT_SETTINGS_MODE) -->
                    <div id="uiModeDiv">
                        <span>UiMode:</span>
                        <select class="form-control" placeholder="uiMode" id='settingUserInterfaceModeValue' data-bind="options: UiModeSystem.getUiModeNamesList(), value: UiModeSystem.getActiveUiMode().getName(),event:{ change: function(){UiModeSystem.setActiveUiModeByName($element.value);$('#settingsModal').data('completed', true);}}">
                        </select>
                    </div>
                <!-- /ko -->
            </div>
            <div class="modal-body">
                <!-- ko ifnot: Setting.findValue( Setting.STUDENT_SETTINGS_MODE) -->
                    <div id="settingsModalHeader">
                        <!-- ko foreach: Eagle.settings -->
                            <button class="settingsModalButton" data-bind="attr:{id: $data.getHtmlId()}, text: $data.name, click: Setting.toggleTab($data.getHtmlId(), 'settingsCategory'+$index()+'Content'), visible: $data.isVisible($root)"></button>
                        <!-- /ko -->
                    </div>
                    <form>
                        <!-- ko foreach: Eagle.settings -->
                            <div class="settingsModalCategoryWrapper" data-bind="attr:{id:'settingsCategory'+$index()+'Content'}, visible: $data.isVisible($root)">
                                <div class="row">
                                    <!-- ko foreach: $data.settings -->
                                        <!-- ko if: $data.getDisplay() -->
                                            <!-- ko if: $data.getType() === Setting.Type.String -->
                                                <div class="input-group mb-1">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" data-bind="attr:{id:'setting'+$data.getKey()}, text:$data.getName(), eagleTooltip: $data.getDescription()" data-bs-placement="left"></span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="" data-bind="value: $data.value, attr:{id:'setting'+$data.getKey()+'Value'}">
                                                </div>
                                            <!-- /ko -->
                                            <!-- ko if: $data.getType() === Setting.Type.Number -->
                                                <div class="input-group mb-1">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" data-bind="attr:{id:'setting'+$data.getKey()}, text:$data.getName(), eagleTooltip: $data.getDescription()" data-bs-placement="left"></span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="" data-bind="value: $data.value, attr:{id:'setting'+$data.getKey()+'Value'}">
                                                </div>
                                            <!-- /ko -->
                                            <!-- ko if: $data.getType() === Setting.Type.Boolean -->
                                                <div class="settingSm col-6">
                                                    <div class="input-group mb-1 checkSettingLabel" data-bind="click: $data.toggle">
                                                        <input type="text" class="form-control" placeholder="" data-bind="attr:{id:'setting'+$data.getKey(),value:$data.getName()}, eagleTooltip:$data.getDescription()" data-bs-placement="left" readonly>
                                                        <div class="input-group-append">
                                                            <button class="btn btn-secondary btn-sm" type="button" data-bind=" attr:{id:'setting'+$data.getKey()+'Button'}">
                                                                <i class="material-icons md-18 iconHoverEffect" data-bind="visible: $data.value">radio_button_checked</i>
                                                                <i class="material-icons md-18 iconHoverEffect" data-bind="hidden: $data.value">radio_button_unchecked</i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            <!-- /ko --> 
                                            <!-- ko if: $data.getType() === Setting.Type.Button -->
                                                <div class="settingSm col-6">
                                                    <div class="input-group mb-1 checkSettingLabel" data-bind="click: $data.callEventFunc">
                                                        <input type="text" class="form-control" placeholder="" data-bind="attr:{id:'setting'+$data.getKey(),value:$data.getName()}, eagleTooltip:$data.getDescription()" data-bs-placement="left" readonly>
                                                        <div class="input-group-append">
                                                            <button class="btn btn-secondary btn-sm" type="button" data-bind="attr:{id:'setting'+$data.getKey()+'Function'}">
                                                                <i class="material-icons-outlined md-18 iconHoverEffect">ads_click</i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            <!-- /ko --> 
                                            <!-- ko if: $data.getType() === Setting.Type.Password -->
                                                <div class="input-group mb-1">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" data-bind="attr:{id:'setting'+$data.getKey()}, text:$data.getName(), eagleTooltip:$data.getDescription()" data-bs-placement="left"></span>
                                                    </div>
                                                    <input type="password" autocomplete="off" class="form-control" placeholder="" data-bind="value: $data.value, attr:{id:'setting'+$data.getKey()+'Value'}">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-secondary btn-sm" type="button" data-bind="click: $data.copy, attr:{id:'setting'+$data.getKey()+'Copy'}, eagleTooltip: 'Copy to clipboard'">
                                                            <i class="material-icons md-18 iconHoverEffect">content_copy</i>
                                                        </button>
                                                    </div>
                                                </div>
                                            <!-- /ko -->
                                            <!-- ko if: $data.getType() === Setting.Type.Select -->
                                                <div class="input-group mb-1">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" data-bind="attr:{id:'setting'+$data.getKey()}, text:$data.getName(), eagleTooltip:$data.getDescription()" data-bs-placement="left"></span>
                                                    </div>
                                                    <select class="form-control" data-bind="attr:{id:'setting'+$data.getKey()+'Value'}, options: $data.options, value: $data.value">
                                                    </select>
                                                </div>
                                            <!-- /ko -->
                                        <!-- /ko -->
                                    <!-- /ko -->
                                </div>
                            </div>
                        <!-- /ko -->
                    </form>
                <!-- /ko -->
                <!-- ko if: Setting.findValue( Setting.STUDENT_SETTINGS_MODE) -->
                    <!-- we are displaying some settings here in student mode for the admin to double check everything is set up correctly -->
                    <div class="settingStudentWrapper">
                        <form>
                        <div class="input-group mb-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text" data-bind="eagleTooltip: Setting.find(Setting.TRANSLATOR_URL).getDescription()" data-bs-placement="left">Translator url</span>
                            </div>
                            <input type="text" class="form-control" disabled data-bind="value: Setting.findValue(Setting.TRANSLATOR_URL)">
                        </div>
                        <div class="input-group mb-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text" data-bind="eagleTooltip: Setting.find(Setting.GITHUB_ACCESS_TOKEN_KEY).getDescription()" data-bs-placement="left">GitHub Access Token</span>
                            </div>
                            <input type="password" class="form-control" disabled data-bind="value: Setting.findValue(Setting.GITHUB_ACCESS_TOKEN_KEY)" autocomplete="off">
                        </div>
                        <div class="input-group mb-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text" data-bind="eagleTooltip: Setting.find(Setting.GITLAB_ACCESS_TOKEN_KEY).getDescription()" data-bs-placement="left">GitLab Access Token</span>
                            </div>
                            <input type="password" class="form-control" disabled data-bind="value: Setting.findValue(Setting.GITLAB_ACCESS_TOKEN_KEY)" autocomplete="off">
                        </div>
                        <div class="input-group mb-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text" data-bind="eagleTooltip: Setting.find(Setting.DOCKER_HUB_USERNAME).getDescription()" data-bs-placement="left">Docker Hub Username</span>
                            </div>
                            <input type="text" class="form-control" disabled data-bind="value: Setting.findValue(Setting.DOCKER_HUB_USERNAME)">
                        </div>
                        <div class="input-group mb-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text" data-bind="eagleTooltip: Setting.find(Setting.EXPLORE_PALETTES_REPOSITORY).getDescription()" data-bs-placement="left">Explore Palettes Repository</span>
                            </div>
                            <input type="text" class="form-control" disabled data-bind="value: Setting.findValue(Setting.EXPLORE_PALETTES_REPOSITORY)">
                        </div>
                        </form>
                    </div>
                <!-- /ko -->
            </div>
            <!-- ko ifnot: Setting.findValue( Setting.STUDENT_SETTINGS_MODE) -->
                <div class="modal-footer">
                    <button class="btn btn-danger" id="resetSettingsDefaults" type="button" data-bind="click: Setting.resetDefaults, eagleTooltip: 'Reset Defaults for this UIMode ONLY, and excluding External Services and Developer settings.'">Reset Defaults</button>
                    <button type="button" class="btn btn-secondary" id="settingsModalNegativeButton" data-bs-dismiss="modal"><span id="settingsModalNegativeAnswer">Cancel</span></button>
                    <button type="button" class="btn btn-primary" id="settingsModalAffirmativeButton" data-bs-dismiss="modal"><span id="settingsModalAffirmativeAnswer">OK</span></button>
                </div>
            <!-- /ko -->
        </div>
    </div>
</div>