<!-- Graph Updater Modal -->
<div class="modal fade" id="graphUpdaterModal" tabindex="-1" role="dialog" aria-labelledby="graphUpdaterModalTitle">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="graphUpdaterModalTitle">Graph Updater</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-3">
                            <p>Source Repository:</p>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <select class="form-control" id="graphUpdaterModalSourceRepositorySelect">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Destination Repository:</p>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <select class="form-control" id="graphUpdaterModalDestinationRepositorySelect">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="graphUpdaterModalNegativeButton" data-bs-dismiss="modal"><span id="graphUpdaterModalNegativeAnswer">Cancel</span></button>
                <button type="button" class="btn btn-primary" id="graphUpdaterModalAffirmativeButton" data-bs-dismiss="modal" data-bind="click:function(){GraphUpdater.update()}"><span id="graphUpdaterModalAffirmativeAnswer">OK</span></button>
            </div>
        </div>
    </div>
</div>
