#logicalGraphParent{
    /* declaring custom variables used in css set via ts later from the graph config variables */
    --selectedBg : red;
    --nodeBorder : red;
    --nodeBg:red;
    --graphText:red;
}

.node {
    position: absolute;
    height: 60px;
    width: 60px;
    transform: translate(-50%,-50%);
}

.node .basic_node {
    width: 100%;
    height: 100%;
}

.node .branch_node {
    width: 100%;
    height: 100%;
}

.node .container{
    position: relative;
    height: 100%;
    width: 100%;
    padding:0px;
}

.node .body {
    background-color: var(--nodeBg);
    border-radius: 50%;
    border: 1.5px solid var(--nodeBorder);
    width: 100%;
    height: 100%;
}

.node .innerRing {
    background-color: var(--nodeBg);
    border-radius: 50%;
    border: 1.5px solid var(--nodeBorder);
    position: absolute;
    z-index: 2;
}

.node .outerRing {
    border-radius: 50%;
    border: 1.5px solid var(--nodeBorder);
    position: absolute;
}

.node .branch_node .body {
    border-radius: 50%;
    border: none !important;
    width: 100%;
    height: 100%;
}

.node .body span{
    width: 100%;
    height: 100%;
    font-size: 75px; /*this is the same as the circle size of the node givign that information to the icon in ::before */
}

.node .branch_node .body span{
    font-size: 100px; /*this is the same as the circle size of the node givign that information to the icon in ::before */
}

.node .body span::before{
    font-size: .35em; /* em is like using % for font sizes. it is a % relative to the font-size of the parent, in this case the span itself */
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    z-index: 5;
}

.node .body .inputPort{
    left: -6px;
}

.node .body .outputPort{
    right: -6px;
}

.node .body .port{
    width: 12px;
    height: 12px;
    position: absolute;
    border-radius: 50%;
    background-color: red;
    transform: translate(-50%,-50%);
}

.node.selected .body {
    outline: solid 2px var(--nodeBorder);
    outline-offset: 0px;
    box-shadow: 0px 0px 0 1px var(--nodeBorder);
    background-color: var(--selectedBg);
}

.node.selected .branch_node .outerRing {
    outline: solid 2px var(--nodeBorder);
    outline-offset: 0px;
    box-shadow: 0px 0px 0 1px var(--nodeBorder);
    background-color:  var(--selectedBg) !important;
}

.node .header-name {
    color:var(--graphText)
}

.node.selected .header-name {
    font-weight: 500;
    color:var(--graphText)
}

.node .header {
    position: absolute;
    overflow: hidden;
    text-align: center;
    top: -37px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
}

.node .header .header-name, .node .body .contents .app-name {
    padding: 4px;
    user-select: none;
    line-height: 14px;
    text-shadow:
    -1px -1px 0 #ffffff,
     0   -1px 0 #ffffff,
     1px -1px 0 #ffffff,
     1px  0   0 #ffffff,
     1px  1px 0 #ffffff,
     0    1px 0 #ffffff,
    -1px  1px 0 #ffffff,
    -1px  0   0 #ffffff;

}
