#logicalGraphParent{
    /* declaring custom variables used in css set via ts later from the graph config variables */
    --selectedBg : red;
    --nodeBorder : red;
    --nodeBg:red;
    --graphText:red;
    --branchBg:red;
    --constructBg:red;
    --constructIcon:red;
    --edgeColor:red;
    --commentEdgeColor:red;
}

#logicalGraphD3Div {
    display: none;
}

#logicalGraphD3Div svg{
    position:absolute;   
    z-index: 2;
    pointer-events: none;
}

#logicalGraphD3Div svg path {
    stroke-width:4;
    fill:transparent; 
    stroke:var(--edgeColor);
    pointer-events: all;
}

#logicalGraphD3Div svg path.commentEdge{
    stroke:var(--commentEdgeColor);
    stroke-width: 2;
}

.node:has(>.basic_node){
    z-index: 3;
}

.node:has(>.branch_node){
    z-index: 3;
}

.node:has(>.comment_node){
    z-index: 3;
}

.node:has(>.construct_node) {
    z-index: 1;
}

.node {
    position: absolute;
    height: 60px;
    width: 60px;
    transform: translate(-50%,-50%);
}

.node .nodeContent {
    width: 100%;
    height: 100%;
}

.node .container{
    position: relative;
    height: 100%;
    width: 100%;
    padding:0px;
}

.node .body {
    background-color: var(--nodeBg);
    border-radius: 50%;
    border: 1.5px solid var(--nodeBorder);
    width: 100%;
    height: 100%;
}

.node .comment_node .body {
    border: none;
}

.node .innerRing {
    background-color: var(--nodeBg);
    border-radius: 50%;
    border: 1.5px solid var(--nodeBorder);
    position: absolute;
    inset: 6px 6px 6px 6px;
    z-index: 2;
}

.node .outerRing {
    border-radius: 50%;
    border: 1.5px solid var(--nodeBorder);
    position: absolute;
    background-color: var(--branchBg);
    inset: -7px -7px -7px -7px;
}

.node .body span, .node .construct_node .basic_node span{
    width: 100%;
    height: 100%;
    font-size: 75px; /*this is the same as the circle size of the node givign that information to the icon in ::before */
}

.node .branch_node .body {
    border-radius: 50%;
    border: none !important;
    width: 100%;
    height: 100%;
}

.node .construct_node .body {
    background-color: var(--constructBg);
}

.node .construct_node span {
    font-size: 500px;
    color: var(--constructIcon);
}

.node .construct_node .constructInputApp{
    position: absolute;
    transform: translate(-50%, -50%);
}

.node .branch_node .body span{
    font-size: 100px; /*this is the same as the circle size of the node givign that information to the icon in ::before */
}

.node .body span::before{
    font-size: .35em; /* em is like using % for font sizes. it is a % relative to the font-size of the parent, in this case the span itself */
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    z-index: 5;
}

.node .body .port{
    width: 12px;
    height: 12px;
    position: absolute;
    border-radius: 50%;
    background-color: red;
    transform: translate(-50%,-50%);
}

.node.selected .body {
    outline: solid 2px var(--nodeBorder);
    outline-offset: 0px;
    box-shadow: 0px 0px 0 1px var(--nodeBorder);
    background-color: var(--selectedBg);
}

.node.selected .branch_node .outerRing {
    outline: solid 2px var(--nodeBorder);
    outline-offset: 0px;
    box-shadow: 0px 0px 0 1px var(--nodeBorder);
    background-color:  var(--selectedBg) !important;
}

.node .header-name {
    color:var(--graphText)
}

.node.selected .header-name {
    font-weight: 500;
    color:var(--graphText)
}

.node .header {
    position: absolute;
    overflow: hidden;
    text-align: center;
    top: -37px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
}

.node .header .header-name, .node .body .contents .app-name {
    padding: 4px;
    user-select: none;
    line-height: 14px;
    text-shadow:
    -1px -1px 0 #ffffff,
     0   -1px 0 #ffffff,
     1px -1px 0 #ffffff,
     1px  0   0 #ffffff,
     1px  1px 0 #ffffff,
     0    1px 0 #ffffff,
    -1px  1px 0 #ffffff,
    -1px  0   0 #ffffff;

}
