#paramsTableWrapper {
    top: 24px;
}

#parameterTableModal #tableInspector{
    position: sticky;
    top: 0px;
    z-index: 111;
}

#tableInspector{
    width:100%;
    padding:0px;
    background: white;
}

#tableInspectorSelection{
    width: 299px !important;
    padding: 0px 5px;
    margin: 0px;
    border-right:1px solid rgba(0, 0, 0, 0.336) !important;
}

#tableInspectorValue{
    width: calc(100% - 305px) !important;
    padding: 0px 5px;
    margin: 0px;
}

#tableInspectorValue:focus, #tableInspectorSelection:focus {
    border: none;
    outline: none;
}

#parameterTableModalAddParameterButton{
    left: 15px;
    position: absolute;
}

#tableInspectorSelection{
    color: black !important;
    font-weight: 500;
}

.parameterTableTypeCustomSelect a {
    color: #000;
    border: 1px solid black;
    border-radius: 2px;
    font-size: 14px;
    text-decoration: none;
    width: 100%;
    display: block;
    padding: 0px 3px;
    background-color:white;
    height:23px;
}

.parameterTableTypeCustomSelect a::after {
    right: 5px;
    top: 45%;
    position: absolute;
}

.parameterTableTypeCustomSelect .dropdown-item input:read-only {
    color: black;
}

#parameterTableModal .column_Actions {
    overflow: hidden;
}

td:first-child input {
    font-weight: 700;
}

#parameterTableVisibilityContainer{
    position:absolute;
    right: 320px;
    height: 34px;
    width: 34px;
    padding: 5px;
    cursor: pointer;
}

#parameterTableVisibilityContainer .dropdown-toggle::after{
    display: none;
}

.componentTableVisibilityBtn{
    color: white;
    text-decoration: none;
    font-size: 24px!important;
    padding-top: 3px;
}

#parameterTableVisibilityContainer .dropdown-menu{
    border:solid 1px #000c1a;
    border-radius: 6px;
    position: absolute;
    z-index: 100;
    background-color: #0059a5;
}

#parameterTableVisibilityContainer .dropdown-menu-right{
    right: 0;
    left: auto !important;
}

#parameterTableVisibilityContainer .dropdown-item{
    position: relative;
}

#parameterTableVisibilityContainer .dropdown-item span{
    color: white;
}

#parameterTableVisibilityContainer .dropdown-item input{
    right: 0px;
    top: 7px;
    position:absolute;
    pointer-events:none;
}

#parameterTableVisibilityContainer .dropdown-item:hover{
    background-color: #001d3b;
    color: white;
}

#parameter_table_flags{
    width: 101px;
}

#parameter_table_actions{
    width: 121px;
}

#parameter_table_usage{
    width: 107px;
}

#parameter_table_parameter_type{
    width: 171px;
}

#parameter_table_precious{
    width: 71px;
}

#parameter_table_positional{
    width: 79px;
}

#parameter_table_isPort{
    width: 173px;
}

#parameter_table_read_only{
    width: 81px;
}

#parameter_table_type{
    width: 100px;
}

#parameter_table_text{
    width: 160px;
}

#parameter_table_node_name{
    width: 160px;
}

#parameter_table_node_key{
    width: 76px;
}

#parameter_table_isKeyAttribute{
    width: 27px;
    min-width: 27px;
    max-width: 27px;
}

#parameterTableModal .column_DisplayText button{
    position: absolute;
    right: 2px;
    top: 2px;
}

#parameterTableModal .column_DisplayText:hover button{
    visibility:visible !important;
}

#parameterTableModal .column_Encoding .faded{
    color: #5b5b5b;
}

#parameter_table_name{
    width: 160px;
}

#parameter_table_remove{
    width: 80px;
}

#parameterTableModal .modal-header{
    border: none;
    justify-content: unset;
}

#parameterTableModal .searchBarContainer{
    position: absolute;
    right: 20px;
    width:300px;
}

#parameterTableModal .modal-header button{
    background: transparent;
    border: none;
    padding: 0px;
    margin-left: 5px;
}

#parameterTableModal .modal-header button i{
    transform: translateY(2px);
}

#parameterTableModal .modal-body{
    padding: 0px;
}

.eagleTableWrapper{
    width: 100%;
    table-layout: fixed;
    position: absolute;
}

.eagleTableWrapper thead{
    position: sticky;
    z-index: 111;
}

.eagleTableWrapper th{
    background-color: #002349;
    color: white;
    padding: 5px;
    position:relative;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

}

.eagleTableWrapper tr {
    background-color: white;
}

.eagleTableWrapper tr:nth-child(even) {
    background-color: rgba(214, 219, 239, 0.95);
}

.eagleTableWrapper tr.highlighted{
    background: #8ec0ff;
}

.eagleTableWrapper td.selectedTableParameter {
    background-color: rgb(162 202 255 / 95%);
    border: #002e5f 2px solid;
}

.eagleTableWrapper td:nth-child(even).selectedTableParameter {
    background-color: rgb(162 202 255 / 95%);
    border: #002e5f 2px solid;
}

.eagleTableWrapper select{
    padding: 0px;
    height: fit-content;
    margin: 0px;
    width: 100%;
}

.eagleTableWrapper input{
    background-color: transparent;
}

.eagleTableWrapper th, .eagleTableWrapper td, .eagleTableWrapper input{
    font-size: 14px;
}

.eagleTableWrapper i{
    font-size:20px;
}

.eagleTableWrapper input:focus{
    outline: none;
}

.eagleTableWrapper .tableReadonlyCell button{
    margin-left: 50%;
    transform: translate(-50%, 2px);
}

.eagleTableModal .componentSearchBar{
    border: none;
    outline: none;
}

.eagleTableModal .modal-dialog{
    max-width: 1230px;
}

.eagleTableModal .modal-dialog input, #editFieldModal .modal-dialog .dropdown input{
    border: none;
    width:100%;
}

.eagleTableModal .modal-dialog input:read-only{
    color: rgb(91 91 91);
}

.eagleTableModal .modal-dialog input[type="checkbox"]{
    height:fit-content;
    width: fit-content;
    margin-left: 50%;
    transform: translateX(-50%);
}

.eagleTableModal .modal-dialog input[type="checkbox"]:focus{
    box-shadow: 0 0 0 3px rgb(0, 89, 165);
}

.eagleTableModal .modal-dialog td{
    padding:0px 3px;
    /* overflow: hidden; */
    border-right: 1px solid rgb(14 2 76 / 16%);
    position: relative;
}

.eagleTableModal .modal-dialog td i, #editFieldModal .modal-body .dropdown-item i{
    margin-left: 50%;
    transform: translate(-50%, 2px);
}

.eagleTableModal .typeSelectDelete, #editFieldModal .typeSelectDelete{
    position: absolute;
    right:5px
}

.eagleTableModal .dropdown-item, #editFieldModal .dropdown-item{
    padding:1px 5px;
}

.eagleTableModal .dropdown-item.add, #editFieldModal .dropdown-item.add{
    background-color: rgb(235 236 241);
    cursor: pointer;
}

.eagleTableModal .dropdown-menu, #editFieldModal .dropdown-menu{
    padding: 0px;
    border:1px solid black;
    overflow: hidden;
    min-width: 9rem;
    max-height:200px;
    overflow-y: auto;
}

.eagleTableModal .modal-dialog .typesInput{
    padding: 0px;
    height: 35px;
    width: 100%;
    outline: none;
    color: black;
    height: fit-content;
    border-right: solid 1px #bbbbbb;
}

.eagleTableModal .modal-dialog .input-group{
    border:black solid 1px;
    border-radius: 2px;
    flex-wrap: unset;
    height: fit-content;
    background-color: white;
    padding-left:2px;
}

.eagleTableModal .modal-dialog td button, #editFieldModal .dropdown-menu button{
    border: none;
    background-color: transparent;
    color: #002e5f;
    display: inline-block;
    padding: 0px;
    height:20px;
    width:20px;
    border-radius: 10px;
}

.eagleTableModal .modal-dialog td button:disabled{
    color: rgb(113 113 113);
}

.eagleTableModal .modal-dialog td button.parameterTableDescriptionBtn, .eagleTableModal .modal-dialog td button.parameterTableCommentBtn {
    position: absolute;
    right: 4px;
    top: 2px;
    background-color: #002e5f;
    color: white;
    display: none;
    padding: 1% 0px 0px 0px;
    font-size: 12px;
}

@media only screen and (max-width: 2010px) {

    #parameter_table_isPort{
        width: 90px;
    }

    #parameter_table_type{
        width: 100px;
    }

    #parameter_table_text{
        width: 150px;
    }

    #parameter_table_name{
        width: 53px;
    }

    #parameter_table_description{
        width:91px;
    }
}

.resizer{
    position: absolute;
    right:0px;
    top: 0px;
    border-right: 5px solid #204267;
    z-index:10;
    height: 100%;
}
  
.resizer:hover,
.resizing {
    border-right: 3px solid whitesmoke;
    cursor: col-resize;
}




#tableOpenDocker{
    position: absolute;
    left: 160px;
}

#graphConfigurationsTableWrapper {
}

#graphConfigurationsTableModal .modal-body{
    padding: 0px;
}

#graph_configurations_table_sort_column{
    width: 27px;
    min-width: 27px;
    max-width: 27px;
}
