.parameterTable .tableInspector{
    position: sticky;
    top: 0px;
    z-index: 111;
}

.tableInspector{
    width:100%;
    padding:0px;
    background: white;
}

#tableInspectorValue, #configTableInspectorValue{
    width: calc(100% - 305px) !important;
    padding: 0px 5px;
    margin: 0px;
}

#tableInspectorSelection, #configTableInspectorSelection {
    color: black !important;
    font-weight: 500;
    width: 299px !important;
    padding: 0px 5px;
    margin: 0px;
    border-right:1px solid rgba(0, 0, 0, 0.336) !important;
}

#tableInspectorValue:focus, #configTableInspectorValue:focus, #tableInspectorSelection:focus ,#configTableInspectorSelection:focus{
    border: none;
    outline: none;
}

#parameterTableAddParameterButton{
    left: 15px;
}

.parameterTableTypeCustomSelect a {
    color: #000;
    border: 1px solid black;
    border-radius: 2px;
    font-size: 14px;
    text-decoration: none;
    width: 100%;
    display: block;
    padding: 0px 3px;
    background-color:white;
    height:23px;
}

.parameterTableTypeCustomSelect a::after {
    right: 5px;
    top: 45%;
    position: absolute;
}

.parameterTableTypeCustomSelect .dropdown-item input:read-only {
    color: black;
}

.parameterTable .column_Actions {
    overflow: hidden;
}

.parameterTableVisibilityContainer{
    position:absolute;
    right: 320px;
    height: 34px;
    width: 34px;
    padding: 5px;
    cursor: pointer;
    top: 9px;
}

.parameterTableVisibilityContainer .dropdown-toggle::after{
    display: none;
}

.componentTableVisibilityBtn{
    color: white;
    text-decoration: none;
    font-size: 24px!important;
    padding-top: 3px;
}

.parameter_table_flags{
    width: 101px;
}

.parameter_table_actions{
    width: 121px;
}

.parameter_table_usage{
    width: 107px;
}

.parameter_table_parameter_type{
    width: 149px;
}

.parameter_table_type{
    width: 100px;
}

.parameter_table_text{
    width: 160px;
}

.parameter_table_encoding{
    width: 90px;
}

.parameter_table_node_name{
    width: 160px;
}

.parameter_table_isKeyAttribute{
    width: 27px;
    min-width: 27px;
    max-width: 27px;
}

.parameterTable .column_DisplayText button{
    position: absolute;
    right: 2px;
    top: 2px;
}

.parameterTable .column_DisplayText:hover button{
    visibility:visible !important;
}

.parameterTable .column_Encoding .faded{
    color: #5b5b5b;
}

.parameter_table_remove{
    width: 80px;
}

#bottomWindow .bottomWindowHeaderWrap{
    border: none;
    justify-content: unset;
    height: 52px;
    background-color: #002349;
}

.parameterTable .bottomWindowHeaderWrap button i{
    transform: translateY(2px);
}

.parameterTable .tableBody{
    padding: 0px;
}

.parameterTable .column_NodeName input{
    pointer-events: none;
}

.parameterTable .configFieldsTable .column_DisplayText input{
    pointer-events: none;
}

.eagleTableWrapper{
    width: 100%;
    table-layout: fixed;
    position: absolute;
}

.eagleTableWrapper thead{
    position: sticky;
    z-index: 111;
    top: 0px;
}

#graphConfigurationsTableWrapper thead{
    top: 0px;
    border-top: 1px white solid;
}

.eagleTableWrapper th{
    background-color: #002349;
    color: white;
    padding: 5px;
    position:relative;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.eagleTableWrapper tr {
    background-color: white;
}

.header-center{
    position: absolute;
    left: 50%;
    transform: translatex(-50%) !important;
    top: 9px;
}

.issuesDisplay .header-center button, .eagleTableDisplay .header-center button{
    background-color: #002349;
    border: solid 2px white;
    position: unset;
    top: 0px;
    padding: 3px;
}

.eagleTableDisplay .tableBody, .issuesDisplay .issuesBody{
    background-color: aliceblue;
    width: 100%;
    position: absolute;
    inset: 52px 0px 0px 0px
}

.issuesDisplay .issuesBody{
    overflow-y: auto;
}

.issuesDisplay #issuesDisplayErrorsAccordionItem{
    border-radius: 0px !important;
    border: none;
}

.eagleTableDisplay .scrollWrapper {
    overflow: auto;
    position: absolute;
    inset: 25px 0px 0px 0px;
}

.eagleTableWrapper tr:nth-child(even) {
    background-color: rgba(214, 219, 239, 0.95);
}

.eagleTableWrapper tr.highlighted{
    background: #8ec0ff;
}

.eagleTableWrapper select{
    padding: 0px;
    height: 100%;
    margin: 0px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.eagleTableWrapper input, .eagleTableWrapper textarea{
    background-color: transparent;
}

.eagleTableWrapper th, .eagleTableWrapper td, .eagleTableWrapper input{
    font-size: 14px;
    position: relative;
    cursor: pointer;
}

.showBothValues{
    background-color: transparent;
    color: white;
    border: none;
    position: absolute;
    right: 10px;
    top: 5px;
    height: 20px;
    width: 20px;
    padding: unset;
}

.showBothValues div{
    position: relative;
    width: 100%;
    height: 100%;
}

.showBothValues i{
    position:  absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
}

#showBothValuesOn{
    width: 40px;
}

#showBothValuesOn i{
    font-size: 40px;
}

.eagleTableWrapper i{
    font-size:20px;
}

.eagleTableWrapper input:focus, .eagleTableWrapper textarea:focus{
    outline: none;
}

.eagleTableWrapper .tableReadonlyCell button{
    margin-left: 50%;
    transform: translate(-50%, 2px);
}

.eagleTableDisplay .componentSearchBar{
    border: none;
    outline: none;
}

.issuesDisplay, .eagleTableDisplay{
    width: 100%;
    height: 100%;
    color: white;
    outline: none;
}

.issuesDisplay #issuesDisplayErrorsAccordionBody, .issuesDisplay #issuesDisplayWarningsAccordionBody{
    padding: 0px;
}

.issuesDisplay #issuesDisplayErrorsAccordionBody li, .issuesDisplay #issuesDisplayWarningsAccordionBody li{
    padding: 5px 1rem 5px 1.2rem;
    border-left: #dc3545 solid 5px;
    border-radius: 0;
}

.issuesDisplay #issuesDisplayWarningsAccordionBody li{
    border-left-color: #ffc107;
}

.issuesDisplay  .text-center, .eagleTableDisplay .text-center{
    color:#002e5f;
}

.issuesDisplay .bottomWindowHeader, .eagleTableDisplay .bottomWindowHeader{
    padding:11px;
}

.closeBottomWindowBtn {
    position: absolute;
    top: 27px;
    transform:translateY(-50%)
}

.closeBottomWindowBtn button, .closeBottomWindowBtn button:focus, .closeBottomWindowBtn button:active, .closeBottomWindowBtn button:hover{
    background: transparent;
    border:0px;
    box-shadow: none !important;
}

.eagleTableDisplay  input, #editFieldModal .dropdown input, .eagleTableDisplay textarea{
    border: none;
}

.eagleTableDisplay tbody input,.eagleTableDisplay tbody textarea{
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    overflow-x: auto;
    overflow-wrap: normal;
}

.eagleTableDisplay .parameterTableTypeCustomSelect input{
    position: unset;
}

.eagleTableDisplay  input:read-only, .eagleTableDisplay  textarea:read-only{
    color: rgb(91 91 91);
}

.eagleTableDisplay .eagleTableWrapper .checkboxWrapper{
    position: absolute;
    top: 3px;
    bottom: 3px;
    right: 3px;
    left: 3px;
}

.eagleTableDisplay .eagleTableWrapper .checkboxWrapper div{
    position: relative ;
    width: 100%;
    height: 100%;
}

.eagleTableDisplay .eagleTableWrapper .configValueInput.checkboxWrapper {
    margin: unset;
}

.eagleTableDisplay  input[type="checkbox"]{
    height:fit-content;
    width: fit-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.eagleTableDisplay  input[type="checkbox"]:focus{
    box-shadow: 0 0 0 3px rgb(0, 89, 165);
}

.eagleTableDisplay  td:not(:last-child){
    padding:0px 3px;
    /* overflow: hidden; */
    border-right: 1px solid rgb(14 2 76 / 16%);
    position: relative;
}

.eagleTableDisplay .eagleTableWrapper .selectedTableParameter {
    background-color: rgb(162 202 255 / 95%);
    border: #002e5f 2px solid;
}

.eagleTableDisplay .eagleTableWrapper textarea.selectedTableParameter {
    padding: 1px 3px;
}

.eagleTableDisplay  td i, #editFieldModal .tableBody .dropdown-item i{
    margin-left: 50%;
    transform: translate(-50%, 2px);
}

.eagleTableDisplay .typeSelectDelete, #editFieldModal .typeSelectDelete{
    position: absolute;
    right:5px
}

.eagleTableDisplay .dropdown-item, #editFieldModal .dropdown-item{
    padding:1px 5px;
}

.eagleTableDisplay .dropdown-item.add, #editFieldModal .dropdown-item.add{
    background-color: rgb(235 236 241);
    cursor: pointer;
}

.eagleTableDisplay .dropdown-menu, #editFieldModal .dropdown-menu{
    padding: 0px;
    border:1px solid black;
    overflow: hidden;
    min-width: 9rem;
    max-height:100px;
    overflow-y: auto;
}

/* overwriting bad bootstrap dropdown placement */
.eagleTableDisplay .column_Type .dropdown-menu[data-popper-placement~="top-end"],.eagleTableDisplay .column_Type .dropdown-menu[data-popper-placement~="top-start"]{
    margin-bottom: 0px !important;
    inset: auto 0px 100% auto !important;
    transform: none !important;
}

.eagleTableDisplay .column_Type .dropdown-menu[data-popper-placement~="bottom-end"],.eagleTableDisplay .column_Type .dropdown-menu[data-popper-placement~="bottom-start"]{
    margin-top: 0px !important;
    inset: 100% 0px auto auto !important;
    transform: none !important;
}

.eagleTableDisplay .typesInput{
    padding: 0px;
    height: 35px;
    width: 100%;
    outline: none;
    color: black;
    height: fit-content;
    border-right: solid 1px #bbbbbb;
}

.eagleTableDisplay .typeEvent {
    color: black;
    padding-left: 2px;
}

.eagleTableDisplay .input-group{
    border:black solid 1px;
    border-radius: 2px;
    flex-wrap: unset;
    height: fit-content;
    background-color: white;
    padding-left:2px;
}

.eagleTableDisplay .input-group span{
    margin: -2px;
}

.eagleTableDisplay  td button, #editFieldModal .dropdown-menu button{
    border: none;
    background-color: transparent;
    color: #002e5f;
    display: inline-block;
    padding: 0px;
    height:20px;
    width:20px;
    border-radius: 10px;
}

.eagleTableDisplay  td button, #editFieldModal .dropdown-menu button:focus{
    outline: none !important;
    box-shadow: none !important;
}

.eagleTableDisplay td button:disabled{
    color: rgb(113 113 113);
}

.eagleTableDisplay td button.parameterTableEditParam, .eagleTableDisplay td button.parameterTableCommentBtn, #modelDataModalTable td button.modelDataTableEditParam {
    position: absolute;
    font-size: 12px;
    padding: 0px;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    right: 5px;
    top: 50%;
    background-color: #002e5f;
    transform: translateY(-50%);
    color: white;
}

.eagleTableDisplay  td:hover button.parameterTableEditParam{
    display:inline-block;
}

#modelDataModalTable th:first-of-type{
    width: 250px;
}

#modelDataModalTable td:hover button.modelDataTableEditParam{
    display: inline-block;
}

.eagleTableDisplay td button.parameterTableEditParam::before, .eagleTableDisplay td button.parameterTableCommentBtn::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

#modelDataModalTable td {
    position: relative;
}

.eagleTableDisplay .searchBarContainer{
    position: absolute;
    right: 20px;
    width: 300px;
    top: 9px;
}

.parameterTableVisibilityContainer .dropdown-menu{
    border:solid 1px #000c1a;
    border-radius: 6px;
    position: absolute;
    z-index: 120;
    background-color: #0059a5;
}

.parameterTableVisibilityContainer .dropdown-menu-right{
    right: 0;
    left: auto !important;
}

.parameterTableVisibilityContainer .dropdown-item{
    position: relative;
}

.parameterTableVisibilityContainer .dropdown-item span{
    color: white;
}

.parameterTableVisibilityContainer .dropdown-item input{
    right: 0px;
    left:unset;
    position:absolute;
    pointer-events:none;
}

.parameterTableVisibilityContainer .dropdown-item:hover{
    background-color: #001d3b;
    color: white;
}

.eagleTableWrapper i.parameterTableOverWriteIcon{
    position: absolute;
    color: #002e5f;
    margin: 0px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    font-size: 57px;   
}

@media only screen and (max-width: 2010px) {

    .parameter_table_type{
        width: 100px;
    }

    .parameter_table_text{
        width: 150px;
    }

    .parameter_table_description{
        width:91px;
    }
}

.resizer{
    position: absolute;
    right:0px;
    top: 0px;
    border-right: 5px solid #204267;
    z-index:10;
    height: 100%;
}
  
.resizer:hover,
.resizing {
    border-right: 3px solid whitesmoke;
    cursor: col-resize;
}

#graphConfigurationsTable .tableBody{
    padding: 0px;
}

#graph_configurations_table_sort_column{
    width: 27px;
    min-width: 27px;
    max-width: 27px;
}

#graph_configurations_table_fields_column{
    width: 80px;
}

#graph_configurations_table_active_column{
    width: 80px;
}

#graph_configurations_table_actions_column{
    width: 80px;
}

.paramsTableWrapper th i.tableSortIcon{
    font-size:15px;
    pointer-events: none;
}