<!DOCTYPE html> <!-- HTML5 document -->
<html lang="en">

<!--
{% include 'license.html' %}
//-->

    <head>
        <title id="tabTitle" data-bind="text: getTabTitle">EAGLE</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="static/base.css">
        <link rel="stylesheet" href="static/svg.css">
        <link rel="stylesheet" href="static/fonts.css">
        <link rel="stylesheet" href="static/introjs.min.css">

        <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">

        <script src="static/externals/require.js"></script>
        <script src="static/built/require-config.js"></script>
        <script>
            require(["bootstrap"]);
            require(["bootstrap-notify"]);
            require(["introjs"]);
            require(["ajv"]);
            require(["bindingHandlers/readonly"]);
            require(["bindingHandlers/disabled"]);
            require(["bindingHandlers/graphRenderer"]);
            require(["bindingHandlers/paletteRenderer"]);
            require(["bindingHandlers/nodeDataProperty"]);
            require(["components"]);
            require(["main"]);

            window.version = '{{version}}';
            window.commit_hash = '{{commit_hash}}';
            window.auto_load_service = '{{auto_load_service}}';
            window.auto_load_repository = '{{auto_load_repository}}';
            window.auto_load_branch = '{{auto_load_branch}}';
            window.auto_load_path = '{{auto_load_path}}';
            window.auto_load_filename = '{{auto_load_filename}}';
        </script>
    </head>

    <body>
        <!-- hidden area -->
        <div style="display:none;">
            <input id="uploadedGraphFile" class="fileSelector" type="file" name="file" data-bind="event: { change: uploadGraphFile }">
            <input id="uploadedPaletteFile" class="fileSelector" type="file" name="file" data-bind="event: { change: function(){uploadPaletteFile();} }">
        </div>

        {% include 'navbar.html' %}

        <div class="container-fluid" id="graphArea" data-bind="event: { dragover: sideWindowAdjust }">
            <div class="leftWindow" data-bind="style: { width: leftWindowWidth(), left: leftWindowShown() ? 0 : -leftWindowWidth()}">
                <div class="leftWindowHandle" data-bind="click: toggleLeftWindow">
                    <span style="display: none" data-bind="visible: leftWindowShown()">
                        <i class="material-icons">arrow_back</i>
                    </span>
                    <span data-bind="visible: !leftWindowShown()">
                        <i class="material-icons">arrow_forward</i>
                    </span>
                </div>

                <div class="leftWindowDisplay palettes" data-bind="visible: leftWindowMode() === Eagle.LeftWindowMode.Palettes">
                    {% include 'palettes.html' %}
                </div>
                <div class="leftWindowDisplay templatePalette" data-bind="visible: leftWindowMode() === Eagle.LeftWindowMode.TemplatePalette">
                    {% include 'templatePalette.html' %}
                </div>

                <div class="leftWindowSizeAdjuster" draggable="true" data-bind="event: { dragstart: leftWindowAdjustStart }">
                </div>
            </div>

            <div id="logicalGraphParent">
                <div data-bind="visible: userMode() !== Eagle.UserMode.PaletteEditor">
                    <div id="logicalGraphD3Div" data-bind="graphRenderer: $root.logicalGraph">
                    </div>
                </div>
                <div data-bind="visible: userMode() === Eagle.UserMode.PaletteEditor">
                    <div id="paletteD3Div" data-bind="paletteRenderer: $root.editorPalette">
                    </div>
                </div>
            </div>

            <div id="filenameArea">
                <span id="filename" data-bind="text: repositoryFileName"></span>
            </div>

            <div class="rightWindow" data-bind="style: { width: rightWindowWidth(), right: rightWindowShown() ? 0 : -rightWindowWidth()}">
                <div class="rightWindowHandle" data-bind="click: toggleRightWindow">
                    <span data-bind="visible: rightWindowShown()">
                        <i class="material-icons">arrow_forward</i>
                    </span>
                    <span style="display: none" data-bind="visible: !rightWindowShown()">
                        <i class="material-icons">arrow_back</i>
                    </span>
                </div>

                <div class="rightWindowDisplay repository" data-bind="visible: rightWindowMode() === Eagle.RightWindowMode.Repository">
                    {% include 'repositories.html' %}
                </div>
                <div class="rightWindowDisplay nodeInspector" data-bind="visible: rightWindowMode() === Eagle.RightWindowMode.NodeInspector">
                    {% include 'node_inspector.html' %}
                </div>
                <div class="rightWindowDisplay edgeInspector" data-bind="visible: rightWindowMode() === Eagle.RightWindowMode.EdgeInspector">
                    {% include 'edge_inspector.html' %}
                </div>
                <div class="rightWindowDisplay translationMenu" data-bind="visible: rightWindowMode() === Eagle.RightWindowMode.TranslationMenu">
                    {% include 'translation_menu.html' %}
                </div>
                <div class="rightWindowDisplay hierarchy" data-bind="visible: rightWindowMode() === Eagle.RightWindowMode.Hierarchy">
                    {% include 'hierarchy.html' %}
                </div>

                <div class="rightWindowSizeAdjuster" draggable="true" data-bind="event: { dragstart: rightWindowAdjustStart }">
                </div>
            </div>
        </div>

        {% include 'modals.html' %}

        <div id="htmlElementLog" style="display: none;"></div>
    </body>
</html>
