<div class="nodeContent basic_node">
    <div class="container" data-bind="css: {selected: $root.objectIsSelected($data)},attr:{id:$data.getId()}">
        <div class="header" data-bind=" css:{'graphDataNode':$data.isData()}">
            <div data-bind="eagleTooltip: {content: $data.getHelpHTML(),size: '500px'}, style: {transform: 'scale('+$root.getGraphTextScale()+')'}">
                <div class="header-name" data-bind="html: $data.name,event: {click: GraphRenderer.editNodeTitleInGraph}, visible: $data.graphNodeTitleIsVisible()"></div>
                <input type="text" onmousedown="GraphRenderer.preventBubbling()" onmousemove="GraphRenderer.preventBubbling()" onmouseup="GraphRenderer.preventBubbling()" data-bind="value:$data.name, readonly: $data.isLocked, style:{display:'none'},event:{keyup:GraphRenderer.nodeNameEditorKeybinds}, visible: $data.graphNodeTitleIsVisible()" class="header-input">
                <!-- ko if: $data.getComment() != '' -->
                    <i class="material-symbols-outlined filled interactive clickable iconHoverEffect graphComment" data-bs-placement="right" data-bind="eagleTooltip: $data.getComment(), click: $root.graphEditComment">chat</i>
                <!-- /ko -->
            </div>
        </div>
    
        <div class="body" data-bind="eagleRightClick: {data:$data,type:'rightClick_graphNode'}, event: {mouseenter: function(){$data.setPeek(true)},mouseleave:function(){$data.setPeek(false)},mousedown: function(object,event){GraphRenderer.startDrag(object,event);}, mouseup: function(){GraphRenderer.endDrag($data);}}, mousedownBubble: false, mouseupBubble: false, style:{'border-color':$data.getBorderColor(),'background-color':$data.getBackgroundColor()}">
            <!-- ko if: $data.isData() -->
                <span data-bind="class: $data.getIcon(), style:{'color':$data.color,'font-size': '55px'}"></span>
            <!-- /ko -->
            <!-- ko ifnot: $data.isData() -->
                <span data-bind="class: $data.getIcon(), style:{'color':$data.color}"></span>
            <!-- /ko -->
        </div>
    </div>
</div>
