<div class="nodeContent basic_node">
    <div class="container">
        <div class="header">
            <div class="header-name" data-bind="html: $data.name"></div>
        </div>
    
        <div class="body" data-bind="eagleRightClick: {data:$data,type:'rightClick_graphNode'}, event: {mousedown: function(object,event){GraphRenderer.startDrag(object,event);}, mouseup: function(){GraphRenderer.endDrag($data);}}, mousedownBubble: false, mouseupBubble: false">
            <span data-bind="class: $data.getIcon(), style:{'color':$data.color}"></span>
            <!-- ko foreach: $data.getInputPorts() -->
                <div class="inputPort port" data-bind="style:{'background-color':GraphConfig.getColor('nodeInputPort')},graphRendererPortPosition:{data:$data,type:'inputPort'}"></div>
            <!-- /ko -->
            <!-- ko foreach: $data.getOutputPorts() -->
                <div class="outputPort port" data-bind="style:{'background-color':GraphConfig.getColor('nodeOutputPort')},graphRendererPortPosition:{data:$data,type:'outputPort'}"></div>
            <!-- /ko -->
        </div>
    </div>
</div>
