<div class="nodeContent basic_node">
    <div class="container">
        <div class="header">
            <div class="header-name" data-bind="html: $data.name"></div>
        </div>
    
        <div class="body">
            <span data-bind="class: $data.getIcon(), style:{'color':$data.color}"></span>
            <div class="connectingPort port" data-bind="style:{'background-color':GraphConfig.getColor('nodeUtilPort')},graphRendererPortPosition:{data:$data,type:'comment'}"></div>
        </div>
    </div>
</div>
