<!-- Parameter/arguments table -->
<div class="eagleTableDisplay parameterTable" tabindex="-1" role="dialog" aria-labelledby="parameterTableTitle">
    <div class="bottomWindowHeaderWrap" data-bind="click: function(){ParameterTable.resetSelection()}">
        <h5 class="bottomWindowHeader">
            Graph Attributes Configuration Table: <span data-bind="html: $root.logicalGraph().getActiveGraphConfig() ? $root.logicalGraph().getActiveGraphConfig()?.name() : ''"></span>
        </h5>

        <div class="header-center">
            <button type="button" class="btn btn-primary" data-bind="click: function(){SideWindow.toggleShown('bottom')}, clickBubble:false"><span class="parameterTableCloseButton">Close</span></button>
        </div> 

        <div class="dropdown parameterTableVisibilityContainer">
            <a class="dropdown-toggle icon-table_column_visibility componentTableVisibilityBtn" data-bs-toggle="dropdown"></a>
            <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-item" data-bind="click:function(){ParameterTable.getActiveColumnVisibility().toggleKeyAttribute()}"><span>Key Parameter</span><input type="checkbox" data-bind="checked:ParameterTable.getActiveColumnVisibility().keyAttribute()"></div>
                <div class="dropdown-item" data-bind="click:function(){ParameterTable.getActiveColumnVisibility().toggleFieldId()}"><span>Field ID</span><input type="checkbox" data-bind="checked:ParameterTable.getActiveColumnVisibility().fieldId()"></div>
                <div class="dropdown-item" data-bind="click:function(){ParameterTable.getActiveColumnVisibility().toggleDefaultValue()}"><span>Default Value</span><input type="checkbox" data-bind="checked:ParameterTable.getActiveColumnVisibility().defaultValue()"></div>
                <div class="dropdown-item" data-bind="click:function(){ParameterTable.getActiveColumnVisibility().toggleDescription()}"><span>Description</span><input type="checkbox" data-bind="checked:ParameterTable.getActiveColumnVisibility().description()"></div>
                <div class="dropdown-item" data-bind="click:function(){ParameterTable.getActiveColumnVisibility().toggleType()}"><span>Type</span><input type="checkbox" data-bind="checked:ParameterTable.getActiveColumnVisibility().type()"></div>
                <div class="dropdown-item" data-bind="click:function(){ParameterTable.getActiveColumnVisibility().toggleFlags()}"><span>Flags</span><input type="checkbox" data-bind="checked:ParameterTable.getActiveColumnVisibility().flags()"></div>
                <div class="dropdown-item" data-bind="click:function(){ParameterTable.getActiveColumnVisibility().toggleParameterType()}"><span>Parameter Type</span><input type="checkbox" data-bind="checked:ParameterTable.getActiveColumnVisibility().parameterType()"></div>
                <div class="dropdown-item" data-bind="click:function(){ParameterTable.getActiveColumnVisibility().toggleUsage()}"><span>Use As</span><input type="checkbox" data-bind="checked:ParameterTable.getActiveColumnVisibility().usage()"></div>
                <div class="dropdown-item" data-bind="click:function(){ParameterTable.getActiveColumnVisibility().toggleEncoding()}"><span>Encoding</span><input type="checkbox" data-bind="checked:ParameterTable.getActiveColumnVisibility().encoding()"></div>
                <div class="dropdown-item" data-bind="click:function(){ParameterTable.getActiveColumnVisibility().toggleActions()}"><span>Actions</span><input type="checkbox" data-bind="checked:ParameterTable.getActiveColumnVisibility().actions()"></div>
            </div>
        </div>
        <div class="searchBarContainer" data-bind="clickBubble:false, click:function(){}">
            <i class="material-icons md-18 searchBarIcon">search</i>
            <a href="#" data-bind="click:function(data, event){$root.emptySearchBar(Eagle.tableSearchString,data,event);}">
                <i class="material-icons md-18 searchBarIconClose">close</i>
            </a>
            <input class="componentSearchBar" type="text" placeholder="Search: eg. app, string" data-bind="valueUpdate: ['afterkeydown', 'input'], value:Eagle.tableSearchString, event:{keyup: function(data,event){$root.setSearchBarClearBtnState(data,event)}},eagleTooltip:`Search for names, types, anything really! You may enter several terms that should match separated by a ','`">
        </div>
    </div>
    <div class="tableBody">
        <div class="wrapper">
            <!-- ko if: ParameterTable.getTableFields().length === 0 -->
                <div class="container h-100">
                    <div class="row align-items-center h-100">
                        <div class="col-md-12 text-center">
                            <span class="fs-3">No fields in Graph Configuration</span>
                            <br/>
                            <span class="fs-6">Fields can be added from the Fields Table when a graph node is selected</span>
                        </div>
                    </div>
                </div>
            <!-- /ko -->
            <!-- ko if: ParameterTable.getTableFields().length !== 0 -->
                <div class="tableInspector">
                    <input id="configTableInspectorSelection" type="text" placeholder="Selection" data-bind="value: ParameterTable.formatTableInspectorSelection()" readonly>
                    <input id="configTableInspectorValue" type="text" placeholder="Content" data-bind="value: ParameterTable.formatTableInspectorValue(), readonly: ParameterTable.selectionReadonly(), event: {keyup: ParameterTable.tableInspectorUpdateSelection($element.value)}">
                </div>
                <div class="scrollWrapper">
                    <table class="eagleTableWrapper configFieldsTable paramsTableWrapper">
                        <thead>
                            <tr>
                                <!-- ko if: ParameterTable.getActiveColumnVisibility().keyAttribute() -->
                                    <th class="parameter_table_isKeyAttribute" data-bind="eagleTooltip:'Add/remove Field from Graph Config'" data-bs-placement="top"></th>
                                <!-- /ko -->
                                <th class="parameter_table_node_name" data-bind="eagleTooltip:`This Parameter's Parent Node Name`" data-bs-placement="top">
                                    Node Name
                                    <div data-bind="css: {resizer: ParameterTable.setUpColumnResizer('parameter_table_node_name') === true}"></div>
                                </th>
                                <!-- ko if: ParameterTable.getActiveColumnVisibility().displayText() -->
                                    <th class="parameter_table_text" data-bind="eagleTooltip:'User-facing name'" data-bs-placement="top">
                                        Attribute Name
                                        <div data-bind="css: {resizer: ParameterTable.setUpColumnResizer('parameter_table_text') === true}"></div>
                                    </th>
                                <!-- /ko -->
                                <!-- ko if: ParameterTable.getActiveColumnVisibility().value() -->
                                    <th class="parameter_table_value" data-bind="eagleTooltip:'The value of this parameter'" data-bs-placement="top">
                                        <span>Configured Value</span>
                                        <div data-bind="css: {resizer: ParameterTable.setUpColumnResizer('parameter_table_value') === true}"></div>
                                    </th>
                                <!-- /ko -->
                                <th class="parameter_table_comment" data-bind="eagleTooltip:'A user comment outlining the reason for the change to this field'" data-bs-placement="top">
                                    Comment
                                    <div data-bind="css: {resizer: ParameterTable.setUpColumnResizer('parameter_table_comment') === true}"></div>
                                </th>
                                <th class="parameter_table_remove" data-bind="eagleTooltip:'Remove this field from the graph configuration'" data-bs-placement="top">
                                    Remove
                                    <div data-bind="css: {resizer: ParameterTable.setUpColumnResizer('parameter_table_remove') === true}"></div>
                                </th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: ParameterTable.getTableFields()">
                            <!-- ko if: $data.fitsTableSearchQuery() -->
                                <!-- ko if: Setting.findValue(Setting.SHOW_NON_KEY_PARAMETERS) || $root.logicalGraph().getActiveGraphConfig()?.hasField($data) -->
                                    <tr data-bind="attr: {'id' : 'tableRow_'+$data.getId()}">
                                        <!-- ko if: ParameterTable.getActiveColumnVisibility().keyAttribute() -->
                                        <td class='columnCell column_KeyAttr'>
                                            <!-- kept for now as we will need the space for the row drag handle -->
                                        </td>
                                        <!-- /ko -->
                                        <td class='columnCell column_NodeName' data-bind="click: function(){Utils.showField($root, nodeId(), $data)}">
                                            <input class="tableParameter" type="string" data-bind="value: $root.logicalGraph().findNodeByIdQuiet(nodeId())?.getName(), disabled: true, eagleTooltip: $root.logicalGraph().findNodeByIdQuiet(nodeId())?.getDescription()">
                                        </td>
                                        <!-- ko if: ParameterTable.getActiveColumnVisibility().displayText() -->
                                            <td class='columnCell column_DisplayText' data-bind=" css: { selectedTableParameter: ParameterTable.isSelected('displayText', $data) }, eagleTooltip:description, click: function(){Utils.showField($root, nodeId(), $data)}">
                                                <input class="tableParameter selectionTargets tableFieldDisplayName" placeholder="New Parameter" type="string" data-bind="value: displayText, disabled: ParameterTable.getNodeLockedState($data), valueUpdate: ['afterkeydown', 'input'], click: function(event, data){ParameterTable.select($data.displayText(), 'displayText', $data, $index())}, event:{blur: function(){$(event.target).removeClass('newEmpty')} ,keyup: function(event, data){ParameterTable.select($data.displayText(), 'displayText', $data, $index())}}">
                                            </td>
                                        <!-- /ko -->
                                            
                                        <!-- value fields -->
                                        <!-- ko if: ParameterTable.getActiveColumnVisibility().value()  -->
                                            <!-- ko if: $data.getHtmlInputType() === 'number' || $data.getHtmlInputType() === 'text' || $data.getHtmlInputType() === 'password' -->
                                                <!-- ko if: $data.getType() === 'Integer' -->    
                                                    <td class='columnCell column_Value'>
                                                        <!-- ko if: $data.getGraphConfigField() -->
                                                            <input class="tableParameter" min="0" step="1" onfocus="this.previousValue = this.value" onkeydown="this.previousValue = this.value" oninput="validity.valid || (value = this.previousValue)" data-bind="css: {selectedTableParameter: ParameterTable.isSelected('value', $data) },disabled: $root.getCurrentParamValueReadonly($data), valueUpdate: ['afterkeydown', 'input'], value: $data.getGraphConfigField().value, event: {change: ParameterTable.fieldValueChanged, keyup: function(event, data){ParameterTable.select($data.getGraphConfigField().value(), 'value', $data, $index())}, click: function(event, data){ParameterTable.select($data.getGraphConfigField().value(), 'value', $data, $index())}}" type="number">
                                                        <!-- /ko -->
                                                    </td>
                                                <!-- /ko -->
                                                <!-- ko ifnot: $data.getType() === 'Integer' -->
                                                    <td class='columnCell column_Value'>
                                                        <!-- ko if: $data.getGraphConfigField() -->
                                                            <input class="tableParameter inputNoArrows tableFieldStringValueInput" data-bind="css: {selectedTableParameter: ParameterTable.isSelected('value', $data) },disabled: $root.getCurrentParamValueReadonly($data), valueUpdate: ['afterkeydown', 'input'], value: $data.getGraphConfigField().value, attr:{type: $data.getHtmlInputType()}, event: {change: ParameterTable.fieldValueChanged, keyup: function(event, data){ParameterTable.select($data.getGraphConfigField().value(), 'value', $data, $index())}, click: function(event, data){ParameterTable.select($data.getGraphConfigField().value(), 'value', $data, $index())}}">
                                                        <!-- /ko -->
                                                    </td>
                                                <!-- /ko -->
                                            <!-- /ko -->
                                            <!-- ko if: $data.getHtmlInputType() === 'checkbox' -->
                                                <td class='columnCell column_Value' data-bind=" css: { selectedTableParameter: ParameterTable.isSelected('value', $data) }">
                                                    <!-- ko if: $data.getGraphConfigField() -->
                                                        <div class="checkboxWrapper">
                                                            <div>
                                                                <input class="tableParameter" tabindex='-1' data-bind="checked: valIsTrue($data.getGraphConfigField().value()), disabled: $root.getCurrentParamValueReadonly($data), valueUpdate: ['afterkeydown', 'input'], value: $data.getGraphConfigField().value, event: {change: function(){$data.getGraphConfigField().toggle(); ParameterTable.fieldValueChanged();}}" type="checkbox">
                                                            </div> 
                                                        </div>
                                                    <!-- /ko -->
                                                </td>
                                            <!-- /ko -->
                                            <!-- ko if: $data.getHtmlInputType() === 'select' -->
                                                <td class='columnCell column_Value'>
                                                    <!-- ko if: $data.getGraphConfigField() -->
                                                        <div class="checkboxWrapper">
                                                            <select aria-label="Label" aria-describedby="group-addon" data-bs-placement="bottom" data-bind="css: {selectedTableParameter: ParameterTable.isSelected('value', $data) },disabled: $root.getCurrentParamValueReadonly($data), event: {change: ParameterTable.fieldValueChanged}, options: $data.options, value: $data.getGraphConfigField().value">
                                                            <!-- options are added dynamically -->
                                                            </select>
                                                        </div>
                                                    <!-- /ko -->
                                                </td>
                                            <!-- /ko -->
                                        <!-- /ko -->

                                        <!-- default value fields -->
                                        <!-- ko if: $data.getGraphConfigField() -->
                                        <td class='columnCell column_Comment' onmouseenter="ParameterTable.showEditComment(this)" onmouseleave="ParameterTable.hideEditComment(this)" data-bind=" css: { selectedTableParameter: ParameterTable.isSelected('comment', $data) }, eagleTooltip: $data.getGraphConfigField().comment">
                                            <input class="tableParameter tableFieldCommentInput" type="string" data-bind="value: $data.getGraphConfigField().comment, disabled: ParameterTable.getNodeLockedState($data), valueUpdate: ['afterkeydown', 'input'], click: function(event, data){ParameterTable.select($data.getGraphConfigField().comment, 'comment', $data, $index())}, event:{keyup: function(event, data){ParameterTable.select($data.getGraphConfigField().comment, 'comment', $data, $index())}}">
                                            <button class="parameterTableCommentBtn icon-pencil" data-bind="click:function(data,event){ParameterTable.requestEditCommentInModal($data)}"></button>
                                        </td>
                                        <td class='columnCell column_Remove'>
                                            <button data-bind="click: function(){ParameterTable.requestRemoveField($data)}, disabled: !Setting.findValue(Setting.ALLOW_SET_KEY_PARAMETER), eagleTooltip:'Remove Field from Graph Config', clickBubble:false">
                                                <i class="material-icons">remove</i>
                                            </button>
                                        </td>
                                        <!-- /ko -->
                                    </tr>
                                <!-- /ko -->
                            <!-- /ko -->
                        </tbody>
                    </table>
                </div>
            <!-- /ko -->
        </div>
    </div>
</div>