<div id="edgeInspector" class="container px-0">
    <div class="card">
        <h5 class="card-header">
            <i class="material-icons">settings</i>
            <span>Attributes</span>
        </h5>
        <div class="card-body">
            <!-- ko if: selectedEdge() != null -->
            <div class="input-group mb-1">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="edge-addon1">From Node</span>
                </div>
                <input type="text" class="form-control" placeholder="" aria-label="From Node" aria-describedby="edge-addon1" data-bind="value: selectedEdge().srcNodeKey, attr: {readonly:!$root.allowEdgeEditing()}">
            </div>
            <div class="input-group mb-1">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="edge-addon2">From Port</span>
                </div>
                <input type="text" class="form-control" placeholder="" aria-label="From Port" aria-describedby="edge-addon2" data-bind="value: selectedEdge().srcPortId, attr: {readonly:!$root.allowEdgeEditing()}">
            </div>
            <div class="input-group mb-1">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="edge-addon3">To Node</span>
                </div>
                <input type="text" class="form-control" placeholder="" aria-label="To Node" aria-describedby="edge-addon3" data-bind="value: selectedEdge().destNodeKey, attr: {readonly:!$root.allowEdgeEditing()}">
            </div>
            <div class="input-group mb-1">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="edge-addon4">To Port</span>
                </div>
                <input type="text" class="form-control" placeholder="" aria-label="To Port" aria-describedby="edge-addon4" data-bind="value: selectedEdge().destPortId, attr: {readonly:!$root.allowEdgeEditing()}">
            </div>
            <div class="input-group mb-1">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="edge-addon5">DataType</span>
                </div>
                <input type="text" class="form-control" id="edge-data-type" placeholder="" aria-label="DataType" aria-describedby="edge-addon5" readonly data-bind="value: selectedEdge().dataType">
            </div>
            <div class="input-group mb-1">
                <input type="text" class="form-control" id="nodeLoopAwareValue" placeholder="" aria-label="LoopAware" aria-describedby="node-loop-aware" value="Loop Aware" readonly>
                <div class="input-group-append">
                    <button class="btn btn-secondary btn-sm" id="edgeInspectorToggleLoopAware" type="button" data-bind="click: function(){selectedEdge().toggleLoopAware();selectedEdge.valueHasMutated();eagle.flagActiveDiagramHasMutated();}">
                        <i class="material-icons md-18" data-bind="visible: selectedEdge().isLoopAware()">radio_button_checked</i>
                        <i class="material-icons md-18" data-bind="hidden: selectedEdge().isLoopAware()">radio_button_unchecked</i>
                    </button>
                </div>
            </div>
            <!-- /ko -->
        </div>
    </div>

    <div class="row mt-1">
        <div class="col">
            <button type="button" class="btn btn-danger btn-block" data-bind="click: deleteSelectedEdge">Delete Edge</button>
        </div>
    </div>
</div>
