<!-- Graph Configurations Table -->
<div class="eagleTableDisplay" id="graphConfigurationsTable" tabindex="-1" role="dialog" aria-labelledby="graphConfigurationsTableTitle">
    <div class="bottomWindowHeaderWrap">
        <h5 class="bottomWindowHeader">
            Graph Configurations Table
        </h5>
        <div class="searchBarContainer" data-bind="clickBubble:false, click:function(){}">
            <i class="material-symbols-outlined md-18 searchBarIcon">search</i>
            <a href="#" data-bind="click:function(data, event){$root.emptySearchBar(Eagle.tableSearchString,data,event)}">
                <i class="material-symbols-outlined md-18 searchBarIconClose">close</i>
            </a>
            <input class="componentSearchBar" type="text" placeholder="Search: eg. app, string" data-bind="valueUpdate: ['afterkeydown', 'input'], value:Eagle.tableSearchString, event:{keyup: function(data,event){$root.setSearchBarClearBtnState(data,event)}},eagleTooltip:`Search for names, types, anything really! You may enter several terms that should match separated by a ','`">
        </div>

        <div class="header-center">
            <button type="button" class="btn btn-primary iconHoverEffect" id="graphConfigurationsTableAddConfigButton" data-bind="click: newConfig, clickBubble:false" ><span id="graphConfigurationsTableAddConfig">Add Config</span></button>
        </div> 

    </div>
    <div class="tableBody">
        <!-- ko if: logicalGraph().getNumGraphConfigs() === 0 -->
            <div class="container h-100">
                <div class="row align-items-center h-100">
                    <div class="col-md-12 text-center">
                        <span class="fs-3">No graph configurations</span>
                        <br/>
                        <br/>
                        <button class="btn btn-primary btn-block tableAddNewConfigBtn" data-bind="click: newConfig">Add New Config</button>
                    </div>
                </div>
            </div>
        <!-- /ko -->
        <!-- ko if: logicalGraph().getNumGraphConfigs() !== 0 -->
            <table class="eagleTableWrapper" id="graphConfigurationsTableWrapper">
                <thead>
                    <tr>
                        <th id="graph_configurations_table_sort_column" data-bind="eagleTooltip:''" data-bs-placement="top"></th>
                        <th id="graph_configurations_table_name_column" data-bind="eagleTooltip:''" data-bs-placement="top">Name</th>
                        <th id="graph_configurations_table_description_column" data-bind="eagleTooltip:''" data-bs-placement="top">Description</th>
                        <th id="graph_configurations_table_fields_column" data-bind="eagleTooltip:''" data-bs-placement="top">Fields</th>
                        <th id="graph_configurations_table_active_column" data-bind="eagleTooltip:''" data-bs-placement="top">Active</th>
                        <th id="graph_configurations_table_actions_column" data-bind="eagleTooltip:''" data-bs-placement="top">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- ko foreach: Array.from(logicalGraph().graphConfigs().values()) -->
                        <tr data-bind="attr: {'id' : 'tableRow_'+$data.getName()}, css: {activeConfig: $data.id() === $root.logicalGraph().activeGraphConfigId()}">
<!-- drag handle -->
                            <td class='columnCell column-sort'>
                                <!-- kept for now as we will need the space for the row drag handle -->
                            </td>
<!-- config name -->
                            <td class='columnCell column-name'>
                                <input class="tableParameter" type="string" data-bind="value: $data.name, eagleTooltip: $data.getName()">
                            </td>
<!-- config description -->
                            <td class='columnCell column-description'>
                                <textarea style="resize: none;" class="tableParameter" type="string" data-bind="value: $data.description, eagleTooltip: $data.getDescription()"></textarea>
                            </td>
<!-- number of fields -->
                            <td class='columnCell column-fields'>
                                <input class="tableParameter" readonly type="string" data-bind="value: $data.numFields(), eagleTooltip: 'number of fields added to the graph configuration'">
                            </td>
<!-- active config -->
                            <td class='columnCell column-active'>
                                <button class="iconHoverEffect" type="button" data-bind="click: function(){$root.logicalGraph().setActiveGraphConfig($data.getId());}">
                                    <i class="material-symbols-outlined md-18" data-bind="visible: $data.id() === $root.logicalGraph().activeGraphConfigId()">radio_button_checked</i>
                                    <i class="material-symbols-outlined md-18" data-bind="hidden:  $data.id() === $root.logicalGraph().activeGraphConfigId()">radio_button_unchecked</i>
                                </button>
                            </td>
<!-- actions -->
                            <td class='columnCell column-actions'>
                                <button class="btmWindowDuplicateBtn iconHoverEffect" data-bind="click: $root.logicalGraph().duplicateGraphConfig, eagleTooltip:'Duplicate'">
                                    <i class="material-symbols-outlined">content_copy</i>
                                </button>
                                <button class="iconHoverEffect" data-bind="click: ParameterTable.requestEditConfig, eagleTooltip:'Edit', clickBubble:false">
                                    <i class="material-symbols-outlined">edit</i>
                                </button>
                                <button class="iconHoverEffect" data-bind="click: $root.logicalGraph().removeGraphConfig, eagleTooltip:'Remove Config from Graph', clickBubble:false">
                                    <i class="material-symbols-outlined">delete</i>
                                </button>
                            </td>
                        </tr>
                    <!-- /ko -->
                </tbody>
            </table>
        <!-- /ko -->
    </div>
</div>