<div id="nodeList" class="container py-2">
    <div class="row">
        <div class="col">
            <!-- ko if: logicalGraph() === null -->
            <span>No Graph</span>
            <!-- /ko -->

            <!-- ko if: logicalGraph() !== null -->
                <!-- ko if: logicalGraph().getNumNodes() === 0 -->
                <span>No Nodes</span>
                <!-- /ko -->
                <div data-bind="text: console.log(logicalGraph().getNodes())"></div>
                <!-- ko foreach: logicalGraph().getNodes() -->
                    <div class="hierarchyNode" data-bind="class: $root.isHierarchyNodeSelected($data)">
                        <h5 data-bind="text: $data.getName()"></h5>
                        <span data-bind="text: $data.getCategory()"></span>
                    </div>
                <!-- /ko -->    
            <!-- /ko -->
        </div>
    </div>
</div>
