<div id="nodeList" class="container py-2">
    <svg id="hierarchyEdgesSvg">
    </svg>
    <div class="row">
        <div class="col">
            <!-- ko if: logicalGraph() === null -->
            <span>No Graph</span>
            <!-- /ko -->

            <!-- ko if: logicalGraph() !== null -->
                <!-- ko if: logicalGraph().getNumNodes() === 0 -->
                <span>No Nodes</span>
                <!-- /ko -->

                <ul class="nodes" data-bind="foreach: $root.logicalGraph().getRootNodes()">
                    <div data-bind="template: {name: 'hierarchy-node-template'}"></div>
                </ul>
            <!-- /ko -->
        </div>
    </div>
</div>
