<div id="inspector" data-bind="style: {'visibility':eagle.getEagleIsReady(), left: Utils.getLeftWindowWidth() + 10, bottom: Utils.getInspectorOffset() + 'vh'},css:{'inspectorCollapsed': $root.getInspectorCollapseState()}">
    <!-- Graph object inspector -->
    <!-- ko if: $root.selectedObjects().length > 0 -->
        <!-- ko ifnot: Setting.findValue(Setting.OBJECT_INSPECTOR_COLLAPSED_STATE) -->


            <!-- SINGLE NODE INSPECTOR -->
            <!-- ko ifnot: $root.selectedNode() === null -->
                <!-- ko with: $root.selectedNode() -->
                    <div class="container">
                        <div class="row inspectorHeader">
                            <div class="col-11 col">
                                <input data-bind="value:$data.name, eagleTooltip: $data.getName()"></input>
                            </div>
                            <div class="col-1 col">
                                <i class="material-icons iconHoverEffect" data-bind="click: Setting.find(Setting.OBJECT_INSPECTOR_COLLAPSED_STATE).toggle, eagleTooltip: 'Collapse the Inspector'">close</i>
                            </div>
                        </div> 
                        
                        <div class="headerButtons inspectorHeaderButtons" id="objectInspectorHeaderIconRow">
                            <div class="row">
                                <div class="col-6 col">
                                    <i class="material-icons interactive" data-bs-placement="right" data-bind="eagleTooltip: $data.getGitHTML()" data-bs-toggle="tooltip" data-html="true">link</i>
                                    <i class="material-icons interactive" data-bs-placement="right" data-bind="eagleTooltip: 'Id: '+$data.getId()" data-bs-toggle="tooltip" data-html="true">fingerprint</i>
                                    <i class="material-icons interactive clickable iconHoverEffect" onclick=eagle.editNodeDescription() data-bs-placement="right" data-bind="eagleTooltip: $data.getDescriptionHTML()" data-bs-toggle="tooltip" data-html="true">library_books</i>
                                
                                    <!-- ko if: $data.getAllErrorsWarnings().errors.length > 0 || $data.getAllErrorsWarnings().warnings.length > 0 -->
                                        <i class="material-icons interactive clickable iconHoverEffect" onclick=eagle.showGraphErrors() data-bs-placement="right" data-bind="eagleTooltip: $data.getNodeIssuesHtml(), style:{'color': $data.getIconColor()}" data-bs-toggle="tooltip" data-html="true">error</i>
                                    <!-- /ko -->
                                </div>
                                <div class="col-6 col text-right">
                                    <!-- ko if: Eagle.selectedLocation() == Eagle.FileType.Graph || Setting.findValue(Setting.ALLOW_PALETTE_EDITING) -->
                                        <button type="button" id="openNodeParamsTable" class="btn btn-secondary btn-sm" data-bind="click: function(){ParameterTable.openTable(Eagle.BottomWindowMode.NodeParameterTable, ParameterTable.SelectType.Normal);}, clickBubble: false, eagleTooltip: KeyboardShortcut.idToFullText('open_parameter_table')" data-bs-placement="left">
                                            <i class="material-icons md-20 clickable iconHoverEffect">table_chart</i>
                                        </button>
                                    <!-- /ko -->
                                    <!-- ko if: Eagle.selectedLocation() == Eagle.FileType.Graph && $data.isDocker() -->
                                        <button type="button" id="openNodeParamsTable" class="btn btn-secondary btn-sm" data-bind="click: $root.fetchDockerHTML, clickBubble: false, eagleTooltip: 'Browse images on docker hub'" data-bs-placement="left">
                                            <i class="icon-docker clickable iconHoverEffect"></i>
                                        </button>
                                    <!-- /ko -->
                                    <!-- ko if: Eagle.selectedLocation() == Eagle.FileType.Graph || Setting.findValue(Setting.ALLOW_PALETTE_EDITING) -->
                                        <button type="button" id="duplicateSelectedNode" class="btn btn-secondary btn-sm" data-bind="click: function(){$root.duplicateSelection('normal')}, clickBubble: false, eagleTooltip: KeyboardShortcut.idToFullText('duplicate_selection')" data-bs-placement="left">
                                            <i class="material-icons md-20 clickable iconHoverEffect">content_copy</i>
                                        </button>
                                    <!-- /ko -->
                                    <!-- ko if: Setting.findValue(Setting.ALLOW_PALETTE_EDITING) -->
                                        <button type="button" id="addSelectedNodeToPalette" class="btn btn-secondary btn-sm" data-bind="click: function(){$root.addSelectedNodesToPalette('normal')}, clickBubble: false, eagleTooltip: 'Add Selected Node To Palette'" data-bs-placement="left">
                                            <i class="material-icons md-20 clickable iconHoverEffect">library_add</i>
                                        </button>
                                    <!-- /ko -->
                                    <!-- ko if: Eagle.selectedLocation() == Eagle.FileType.Graph || Setting.findValue(Setting.ALLOW_PALETTE_EDITING) -->
                                        <button type="button" id="deleteSelectedNode" class="btn btn-secondary btn-sm" data-bind="click: function(){$root.deleteSelection(false,false,false);}, clickBubble: false, eagleTooltip: KeyboardShortcut.idToFullText('delete_selection')" data-bs-placement="left">
                                            <i class="material-icons md-20 clickable iconHoverEffect">delete</i>
                                        </button>
                                    <!-- /ko -->
                                </div>
                            </div>
                        </div>
                        <div class="inspectorContents">
                            <div class="row inspectorParentId contentObject">
                                <!-- ko ifnot: $data.getParentId() === null -->
                                    <div class="col-4 col contentObjectTitle">
                                        <h5>Parent:</h5>
                                    </div>         
                                    <div class="col-8 col contentObjectValue">
                                        <span data-bind="text:eagle.logicalGraph().findNodeById($data.getParentId()).getName(), eagleTooltip:$data.getParentId()"></span>
                                    </div>
                                <!-- /ko -->
                            </div>
                            <div class="row inspectorPortMultiplicity contentObject">
                                    <div class="col-6 col contentObjectTitle">
                                        <h5>Port Multiplicity:</h5>
                                    </div>
                                    <div class="col-6 col contentObjectValue">
                                        <span data-bind="text:$root.logicalGraph().findMultiplicity($data)"></span>
                                    </div>
                            </div>
                            <div class="row inspectorNodeCategory contentObject">
                                <div class="col-4 col contentObjectTitle">
                                    <h5>Category:</h5>
                                </div>
                                <div class="col-8 col contentObjectValue">
                                    <!-- ko if: $data.getCategoryType() === Category.Type.Data -->
                                        <select id="objectInspectorCategorySelect" data-bind="value: $data.getCategory(), options:$root.getEligibleNodeCategories(), event:{change:function(data,event){$root.inspectorChangeNodeCategoryRequest(event)}}, valueAllowUnset: true, disabled: $data.isLocked(), eagleTooltip:'NOTE: changing a nodes category could destroy some data (parameters, ports, etc) that are not appropriate for a node with the selected category'"></select>
                                    <!-- /ko -->
                                    <!-- ko if: $data.getCategoryType() !== Category.Type.Data -->
                                        <span data-bind="text:$data.getCategory()"></span>
                                    <!-- /ko -->
                                </div>  
                            </div>
                        </div>
                    </div>
                <!-- /ko -->
            <!-- /ko -->


            <!-- Edge Inspector -->
            <!-- ko ifnot: $root.selectedEdge() === null -->
                <!-- ko with: $root.selectedEdge() -->
                    <div class="container">
                        <div class="row inspectorHeader">
                            <div class="col-11 col">
                                <h4>Edge Attributes</h4>
                            </div>
                            <div class="col-1 col">
                                <i class="material-icons iconHoverEffect" data-bind="click: Setting.find(Setting.OBJECT_INSPECTOR_COLLAPSED_STATE).toggle, eagleTooltip: 'Collapse the Inspector'">close</i>
                            </div>
                        </div>
                        
                        <div class="headerButtons inspectorHeaderButtons" id="objectInspectorHeaderIconRow">
                            <div class="row">
                                <div class="col-4 col">
                                    <!-- ko if: $data.getErrorsWarnings().errors.length > 0 || $data.getErrorsWarnings().warnings.length > 0 -->
                                        <i class="material-icons interactive clickable iconHoverEffect" onclick=eagle.showGraphErrors() data-bs-placement="right" data-bind="eagleTooltip: $data.getNodeIssuesHtml(), style:{'color': $data.getIconColor()}" data-bs-toggle="tooltip" data-html="true">error</i>
                                    <!-- /ko -->
                                </div>
                                <div class="col-8 col text-right">
                                    <!-- ko if: Setting.findValue(Setting.ALLOW_EDGE_EDITING) -->
                                        <button type="button" class="btn btn-secondary btn-sm" data-bind="click: $root.editSelectedEdge, eagleTooltip: 'KeyboardShortcut.idToFullText('modify_selected_edge')">
                                            <i class="material-icons md-24 clickable iconHoverEffect">edit</i>
                                        </button>
                                    <!-- /ko -->
                                    <!-- ko if: Setting.findValue(Setting.ALLOW_GRAPH_EDITING) -->
                                        <button  type="button" class="btn btn-secondary btn-sm" data-bind="click: function(){$root.deleteSelection(false,false,false);}, eagleTooltip: KeyboardShortcut.idToFullText('delete_selection')">
                                            <i class="material-icons md-24 clickable iconHoverEffect">delete</i>
                                        </button>
                                    <!-- /ko -->
                                </div>
                            </div>
                        </div>
                        <div class="inspectorContents">
                            <div class="row inspectorEdgeSrcNodeId contentObject">
                                <div class="col-4 col contentObjectTitle">
                                    <h5>Src Node:</h5>
                                </div>
                                <div class="col-8 col contentObjectValue">
                                    <span data-bind="text:$root.logicalGraph().findNodeById($data.getSrcNodeId()).getName(), eagleTooltip:$data.getSrcNodeId()"></span>
                                </div>
                            </div>
                            <div class="row inspectorEdgeSrcPortId contentObject">
                                <div class="col-4 col contentObjectTitle">
                                    <h5>Src Port:</h5>
                                </div>
                                <div class="col-8 col contentObjectValue">
                                    <span data-bind="text:$root.logicalGraph().findNodeById($data.getSrcNodeId()).findFieldById($data.getSrcPortId())?.getDisplayText(),eagleTooltip:$data.getSrcPortId()"></span>
                                </div>
                            </div>
                            <div class="row inspectorEdgeDestNodeId contentObject">
                                <div class="col-4 col contentObjectTitle">
                                    <h5>Dest Node:</h5>
                                </div>
                                <div class="col-8 col contentObjectValue">
                                    <span data-bind="text:$root.logicalGraph().findNodeById($data.getDestNodeId()).getName(),eagleTooltip:$data.getDestNodeId()"></span>
                                </div>
                            </div>
                            <div class="row inspectorEdgeDestPortId contentObject">
                                <div class="col-4 col contentObjectTitle">
                                    <h5>Dest Port:</h5>
                                </div>
                                <div class="col-8 col contentObjectValue">
                                    <span data-bind="text: $root.logicalGraph().findNodeById($data.getDestNodeId()).findFieldById($data.getDestPortId()).getDisplayText(),eagleTooltip:$data.getDestPortId()"></span>
                                </div>
                            </div>
                            
                            <div class="row inspectorEdgeDestPortId contentObject">
                                <div class="col-4 col contentObjectTitle">
                                    <h5>Loop Aware</h5>
                                </div>
                                <div class="col-8 col contentObjectValue">
                                    <button class="btn btn-secondary btn-sm radioBtn iconHoverEffect" id="objectInspectorToggleLoopAware" type="button" data-bind="click: function(){$root.selectedEdge().toggleLoopAware();},disabled:!Setting.findValue(Setting.ALLOW_GRAPH_EDITING)">
                                        <i class="material-icons md-18" data-bind="visible: $root.selectedEdge().isLoopAware()">radio_button_checked</i>
                                        <i class="material-icons md-18" data-bind="hidden: $root.selectedEdge().isLoopAware()">radio_button_unchecked</i>
                                    </button>
                                </div>
                            </div>
                            <div class="row inspectorEdgeDestPortId contentObject">
                                <div class="col-4 col contentObjectTitle">
                                    <h5>Closes Loop</h5>
                                </div>
                                <div class="col-8 col contentObjectValue">
                                    <button class="btn btn-secondary btn-sm radioBtn iconHoverEffect" id="objectInspectorToggleClosesLoop" type="button" data-bind="click: function(){$root.selectedEdge().toggleClosesLoop();},disabled:!Setting.findValue(Setting.ALLOW_GRAPH_EDITING)">
                                        <i class="material-icons md-18" data-bind="visible: $root.selectedEdge().isClosesLoop()">radio_button_checked</i>
                                        <i class="material-icons md-18" data-bind="hidden: $root.selectedEdge().isClosesLoop()">radio_button_unchecked</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- /ko -->
            <!-- /ko -->


            <!-- Multi Selection Inspector -->
            <!-- ko if: $root.selectedObjects().length > 1 -->
                <!-- ko with: $root.selectedObjects() -->
                    <div class="container">
                        <div class="row inspectorHeader">
                            <div class="col-11 col">
                                <h4>Multi Selection</h4>
                            </div>
                            <div class="col-1 col">
                                <i class="material-icons iconHoverEffect" data-bind="click: Setting.find(Setting.OBJECT_INSPECTOR_COLLAPSED_STATE).toggle, eagleTooltip: 'Collapse the Inspector'">close</i>
                            </div>
                        </div>
                        
                        <div class="headerButtons inspectorHeaderButtons" id="objectInspectorHeaderIconRow">
                            <div class="row">
                                <div class="col-12 col text-right">
                                    <!-- ko if: Eagle.selectedLocation() == Eagle.FileType.Graph || Setting.findValue(Setting.ALLOW_PALETTE_EDITING) -->
                                        <button type="button" id="duplicateSelectedobjects" class="btn btn-secondary btn-sm" data-bind="click: function(){$root.duplicateSelection('normal')}, clickBubble: false, eagleTooltip: 'KeyboardShortcut.idToFullText('duplicate_selection')" data-bs-placement="left">
                                            <i  class="material-icons md-20 clickable iconHoverEffect">content_copy</i>
                                        </button>
                                    <!-- /ko -->
                                    <!-- ko if: Setting.findValue(Setting.ALLOW_PALETTE_EDITING) -->
                                        <button type="button" id="addSelectedNodesToPalette" class="btn btn-secondary btn-sm" data-bind="click: function(){$root.addSelectedNodesToPalette('normal')}, clickBubble: false, eagleTooltip: 'Add Selected Node To Palette'" data-bs-placement="left">
                                            <i  class="material-icons md-20 clickable iconHoverEffect">library_add</i>
                                        </button>
                                    <!-- /ko -->
                                    <!-- ko if: Setting.findValue(Setting.ALLOW_GRAPH_EDITING) -->
                                        <button  type="button" class="btn btn-secondary btn-sm" data-bind="click: function(){$root.deleteSelection(false,false,false);}, eagleTooltip: KeyboardShortcut.idToFullText('delete_selection')">
                                            <i class="material-icons md-24 clickable iconHoverEffect">delete</i>
                                        </button>
                                    <!-- /ko -->
                                </div>
                            </div>
                        </div>
                        <div class="inspectorContents">
                            <div class="row inspectorEdgeSrcNodeId contentObject">
                                <div class="col-8 col contentObjectTitle">
                                    <h5>Nodes Selected: </h5>
                                </div>
                                <div class="col-4 col contentObjectValue">
                                    <span data-bind="text:$root.getNumSelectedNodes()"></span>
                                </div>
                            </div>
                            <div class="row inspectorEdgeSrcNodeId contentObject">
                                <div class="col-8 col contentObjectTitle">
                                    <h5>Edges Selected: </h5>
                                </div>
                                <div class="col-4 col contentObjectValue">
                                    <span data-bind="text:$root.getNumSelectedEdges()"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- /ko -->
            <!-- /ko -->
        <!-- /ko -->      
    
        <!-- ko if: Setting.findValue(Setting.OBJECT_INSPECTOR_COLLAPSED_STATE) -->
            <i class="material-icons iconHoverEffect" data-bind="click: Setting.find(Setting.OBJECT_INSPECTOR_COLLAPSED_STATE).toggle">info</i>
        <!-- /ko -->
    <!-- /ko -->


    <!-- Graph info inspector -->
    <!-- ko if: $root.selectedObjects().length === 0 -->
        <!-- ko ifnot: Setting.findValue(Setting.GRAPH_INSPECTOR_COLLAPSED_STATE) --> 
            <!-- ko if: $root.logicalGraph().fileInfo() !== null -->
                <div class="container">
                    <div class="row inspectorHeader">
                        <div class="col-11 col">
                            <h4>Graph Info</h4>
                        </div>
                        <div class="col-1 col iconHoverEffect">
                            <i class="material-icons" data-bind="click: Setting.find(Setting.GRAPH_INSPECTOR_COLLAPSED_STATE).toggle, eagleTooltip: 'Collapse the Inspector'">close</i>
                        </div>
                    </div>
                    
                    <div class="headerButtons inspectorHeaderButtons" id="objectInspectorHeaderIconRow">
                        <div class="row">
                            <div class="col col-6">
                                <!-- ko if: $root.logicalGraph().fileInfo().repositoryService === Repository.Service.File -->
                                <i class="material-icons interactive" data-bs-placement="right" data-bind="eagleTooltip: 'This is a Local Graph File'" data-bs-toggle="tooltip" data-html="true">folder_open</i>
                                <!-- /ko -->
                                <!-- ko if: $root.logicalGraph().fileInfo().repositoryService === Repository.Service.GitHub || $root.logicalGraph().fileInfo().repositoryService === Repository.Service.GitLab -->
                                    <i class="material-icons interactive" data-bs-placement="right" data-bind="eagleTooltip: 'This is a Graph File from GitHub or GitLab'" data-bs-toggle="tooltip" data-html="true">account_tree</i>
                                <!-- /ko -->
                                <i class="material-icons interactive" data-bs-placement="right" data-bind="eagleTooltip: $root.logicalGraph().fileInfo().fullPath()" data-bs-toggle="tooltip" data-html="true">link</i>
                                <i class="material-icons interactive clickable iconHoverEffect" data-bs-placement="right" data-bind="eagleTooltip: $root.logicalGraph().fileInfo().shortDescription, click: function(){Utils.showModelDataModal('Graph Info', $root.logicalGraph().fileInfo());}" data-bs-toggle="tooltip" data-html="true">sticky_note_2</i>
                                <i class="material-icons interactive clickable iconHoverEffect" data-bs-placement="right" data-bind="eagleTooltip: $root.logicalGraph().fileInfo().detailedDescription, click: function(){Utils.showModelDataModal('Graph Info', $root.logicalGraph().fileInfo());}" data-bs-toggle="tooltip" data-html="true">menu_book</i>
                            </div>
                            <div class="col-6 col text-right">
                                <i class="material-icons interactive clickable iconHoverEffect" data-bs-placement="right" data-bind="eagleTooltip: 'View graph configurations table', click: GraphConfigurationsTable.openTable" data-bs-toggle="tooltip" data-html="true">dns</i>
                            </div>
                        </div>
                    </div>
                    <div class="inspectorContents">
                        <div class="row inspectorEdgeSrcNodeId contentObject">
                            <div class="col-6 col contentObjectTitle">
                                <h5>Num Nodes: </h5>
                            </div>  
                            <div class="col-6 col contentObjectValue">
                                <span data-bind="text:$root.logicalGraph().getNodes().length"></span>
                            </div>
                        </div>
                        <div class="row inspectorEdgeSrcNodeId contentObject">
                            <div class="col-6 col contentObjectTitle">
                                <h5>Modified Date: </h5>
                            </div>  
                            <div class="col-6 col contentObjectValue">
                                <span data-bind="text:$root.getGraphModifiedDateText()"></span>
                            </div>
                        </div>
                        <div class="row inspectorEdgeSrcNodeId contentObject">
                            <div class="col-6 col contentObjectTitle">
                                <h5>Modified Author: </h5>
                            </div>  
                            <div class="col-6 col contentObjectValue">
                                <span data-bind="text:$root.logicalGraph().fileInfo().lastModifiedName, eagleTooltip:$root.logicalGraph().fileInfo().lastModifiedName"></span>
                            </div>
                        </div>
                        <div class="row inspectorEdgeSrcNodeId contentObject">
                            <div class="col-6 col contentObjectTitle">
                                <h5>Active Config: </h5>
                            </div>  
                            <div class="col-6 col contentObjectValue">
                                <span data-bind="text:$root.logicalGraph().getActiveGraphConfig()?.getName(), eagleTooltip:$root.logicalGraph().getActiveGraphConfig()?.getDescription()"></span>
                            </div>
                        </div>
                        <div class="row inspectorEdgeSrcNodeId contentObject">
                            <div class="col-6 col contentObjectTitle">
                                <h5>Config Fields: </h5>
                            </div>  
                            <div class="col-6 col contentObjectValue">
                                <span data-bind="text:$root.logicalGraph().getActiveGraphConfig()?.numFields(), eagleTooltip:'Number of fields overwritten by the active config.'"></span>
                            </div>
                        </div>
                    </div>
                </div>  
            <!-- /ko -->
        <!-- /ko -->
            
        <!-- ko if: Setting.findValue(Setting.GRAPH_INSPECTOR_COLLAPSED_STATE) -->
            <i class="material-icons iconHoverEffect" data-bind="click: Setting.find(Setting.GRAPH_INSPECTOR_COLLAPSED_STATE).toggle">info</i>
        <!-- /ko -->
    <!-- /ko -->
</div>
