<!-- Message Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalTitle">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messageModalTitle">Title</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <span id="messageModalMessage">Message</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- Request User Input Modal -->
<div class="modal fade" id="inputModal" tabindex="-1" role="dialog" aria-labelledby="inputModalTitle">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="inputModalTitle">Title</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <p id="inputModalMessage">Message</p>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="inputModalInput">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary affirmativeBtn" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- Request User Text Input Modal -->
<div class="modal fade" id="inputTextModal" tabindex="-1" role="dialog" aria-labelledby="inputTextModalTitle">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="inputTextModalTitle">Title</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <p id="inputTextModalMessage">Message</p>
                    </div>
                    <div class="row inputModalTextAreaWrapper">
                        <div class="col">
                            <div class="input-group mb-3">
                                <textarea class="form-control" id="inputTextModalInput" rows="10"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="copyInputTextModalInput" class="btn btn-secondary" type="button" data-bs-placement="bottom" data-bind="click: Utils.copyInputTextModalInput, eagleTooltip: 'Copy Text'">
                    <i class="material-icons md-18">content_copy</i>
                </button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- Request User Choice Modal -->
<div class="modal fade" id="choiceModal" tabindex="-1" role="dialog" aria-labelledby="choiceModalTitle">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="choiceModalTitle">Title</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <p id="choiceModalMessage">Message</p>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group mb-2">
                                <select class="form-control" id="choiceModalSelect">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="choiceModalStringRow">
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="choiceModalCustomChoiceText">Custom Choice</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Custom Port Name" aria-describedby="choiceModalCustomChoiceText" id="choiceModalString">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="choiceModalAffirmativeButton" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- Request User Confirm Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalTitle">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalTitle">Title</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <p id="confirmModalMessage">Message</p>
                    </div>
                    <div class="row" id="confirmModalDontShowAgain">
                        <p>Don't ask me again <button class="material-icons">check_box_outline_blank</button></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="confirmModalNegativeButton" data-bs-dismiss="modal"><span id="confirmModalNegativeAnswer">No</span></button>
                <button type="button" class="btn btn-primary" id="confirmModalAffirmativeButton" data-bs-dismiss="modal"><span id="confirmModalAffirmativeAnswer">Yes</span></button>
            </div>
        </div>
    </div>
</div>

<!-- Request User Git Commit Modal -->
<div class="modal fade" id="gitCommitModal" tabindex="-1" role="dialog" aria-labelledby="gitCommitModalTitle">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="gitCommitModalTitle">Git Commit</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-3">
                            <p>Repository Service:</p>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <select class="form-control" id="gitCommitModalRepositoryServiceSelect">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Repository Name:</p>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <select class="form-control" id="gitCommitModalRepositoryNameSelect">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>File Path:</p>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="gitCommitModalFilePathInput">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>File Name:</p>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="gitCommitModalFileNameInput" data-bind="event: {input: Modals.validateCommitModalFileNameInputText}">
                                <div id="validationFeedback" class="invalid-feedback">
                                    Graph file name must end with '.graph', Palette with '.palette', Graph config with '.cfg'.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Commit Message:</p>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="gitCommitModalCommitMessageInput">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="gitCommitModalNegativeButton" data-bs-dismiss="modal"><span id="gitCommitModalNegativeAnswer">Cancel</span></button>
                <button type="button" class="btn btn-primary" id="gitCommitModalAffirmativeButton" data-bs-dismiss="modal"><span id="gitCommitModalAffirmativeAnswer">Commit</span></button>
            </div>
        </div>
    </div>
</div>

<!-- Request User Custom Repository Modal -->
<div class="modal fade" id="gitCustomRepositoryModal" tabindex="-1" role="dialog" aria-labelledby="gitCustomRepositoryModalTitle">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="gitCustomRepositoryModalTitle">Add Custom Git Repository</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-3">
                            <p>Service</p>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <select class="form-control" id="gitCustomRepositoryModalRepositoryServiceSelect">
                                    <option>GitHub</option>
                                    <option>GitLab</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Name *</p>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3 has-validation">
                                <input type="text" class="form-control" id="gitCustomRepositoryModalRepositoryNameInput" placeholder="example-username/example-graph-repository">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Branch *</p>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3 has-validation">
                                <input type="text" class="form-control" id="gitCustomRepositoryModalRepositoryBranchInput" placeholder="master">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="alert alert-info" role="alert">
                                <h5 class="alert-heading">NOTE:</h5>
                                EAGLE has a known bug concerning repositories. If a repository is completely empty, i.e. contains no files, then the repository cannot be opened. Please ensure your repository contains at least one file before attempting to open and browse its contents in EAGLE.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="gitCustomRepositoryModalNegativeButton" data-bs-dismiss="modal"><span id="gitCustomRepositoryModalNegativeAnswer">Cancel</span></button>
                <button type="button" class="btn btn-primary" id="gitCustomRepositoryModalAffirmativeButton" data-bs-dismiss="modal"><span id="gitCustomRepositoryModalAffirmativeAnswer">Add</span></button>
            </div>
        </div>
    </div>
</div>

<!-- About Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalTitle">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="/static/assets/img/favicon.png" class="rounded float-left" alt="EAGLE logo">
                <span>&nbsp;&nbsp;</span>
                <h5 class="modal-title" id="aboutModalTitle">About EAGLE</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <h5>Editor for the Advanced Graph Language Environment</h5>
                <span>Version:&nbsp;{{version}}&nbsp;({{commit_hash}})</span>
                <hr />
                <pre>{% include 'license.html' %}</pre>
                <hr />
                <pre>{% include 'versions.html' %}</pre>
            </div>
        </div>
    </div>
</div>

{% include 'modals/browse_dockerhub.html' %}

{% include 'modals/settings.html' %}
{% include 'modals/shortcuts.html' %}

{% include 'modals/edit_edge.html' %}
{% include 'modals/edit_field.html' %}

{% include 'modals/explore_palettes.html' %}

{% include 'modals/model_data.html' %}
