<!-- Message Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messageModalTitle">Title</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span id="messageModalMessage">Message</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- Request User Input Modal -->
<div class="modal fade" id="inputModal" tabindex="-1" role="dialog" aria-labelledby="inputModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="inputModalTitle">Title</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <p id="inputModalMessage">Message</p>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="inputModalInput">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- Request User Text Input Modal -->
<div class="modal fade" id="inputTextModal" tabindex="-1" role="dialog" aria-labelledby="inputTextModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="inputTextModalTitle">Title</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <p id="inputTextModalMessage">Message</p>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="input-group mb-3">
                                <textarea class="form-control" id="inputTextModalInput" rows="10"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- Request User Choice Modal -->
<div class="modal fade" id="choiceModal" tabindex="-1" role="dialog" aria-labelledby="choiceModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="choiceModalTitle">Title</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <p id="choiceModalMessage">Message</p>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group mb-2">
                                <select class="form-control" id="choiceModalSelect">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="choiceModalStringRow">
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="choiceModalCustomChoiceText">Custom Choice</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Custom Port Name" aria-describedby="choiceModalCustomChoiceText" id="choiceModalString">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="choiceModalAffirmativeButton" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- Request User Confirm Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalTitle">Title</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <p id="confirmModalMessage">Message</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="confirmModalNegativeButton" data-bs-dismiss="modal"><span id="confirmModalNegativeAnswer">No</span></button>
                <button type="button" class="btn btn-primary" id="confirmModalAffirmativeButton" data-bs-dismiss="modal"><span id="confirmModalAffirmativeAnswer">Yes</span></button>
            </div>
        </div>
    </div>
</div>

<!-- Request User Git Commit Modal -->
<div class="modal fade" id="gitCommitModal" tabindex="-1" role="dialog" aria-labelledby="gitCommitModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="gitCommitModalTitle">Git Commit</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-3">
                            <p>Repository Service:</p>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <select class="form-control" id="gitCommitModalRepositoryServiceSelect">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Repository Name:</p>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <select class="form-control" id="gitCommitModalRepositoryNameSelect">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>File Path:</p>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="gitCommitModalFilePathInput">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>File Name:</p>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="gitCommitModalFileNameInput">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Commit Message:</p>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="gitCommitModalCommitMessageInput">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="gitCommitModalNegativeButton" data-bs-dismiss="modal"><span id="gitCommitModalNegativeAnswer">Cancel</span></button>
                <button type="button" class="btn btn-primary" id="gitCommitModalAffirmativeButton" data-bs-dismiss="modal"><span id="gitCommitModalAffirmativeAnswer">Commit</span></button>
            </div>
        </div>
    </div>
</div>

<!-- Request User Custom Repository Modal -->
<div class="modal fade" id="gitCustomRepositoryModal" tabindex="-1" role="dialog" aria-labelledby="gitCustomRepositoryModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="gitCustomRepositoryModalTitle">Add Custom Git Repository</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-3">
                            <p>Service</p>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <select class="form-control" id="gitCustomRepositoryModalRepositoryServiceSelect">
                                    <option>GitHub</option>
                                    <option>GitLab</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Name *</p>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3 has-validation">
                                <input type="text" class="form-control" id="gitCustomRepositoryModalRepositoryNameInput">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Branch *</p>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3 has-validation">
                                <input type="text" class="form-control" id="gitCustomRepositoryModalRepositoryBranchInput">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="gitCustomRepositoryModalNegativeButton" data-bs-dismiss="modal"><span id="gitCustomRepositoryModalNegativeAnswer">Cancel</span></button>
                <button type="button" class="btn btn-primary" id="gitCustomRepositoryModalAffirmativeButton" data-bs-dismiss="modal"><span id="gitCustomRepositoryModalAffirmativeAnswer">Add</span></button>
            </div>
        </div>
    </div>
</div>

<!-- About Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="/static/assets/img/favicon.png" class="rounded float-left" alt="EAGLE logo">
                <span>&nbsp;&nbsp;</span>
                <h5 class="modal-title" id="aboutModalTitle">About EAGLE</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>Editor for the Advanced Graph Language Environment</h5>
                <span>Version:&nbsp;{{version}}&nbsp;({{commit_hash}})</span>
                <hr />
                <pre>{% include 'license.html' %}</pre>
                <hr />
                <pre>{% include 'versions.html' %}</pre>
            </div>
        </div>
    </div>
</div>

<!-- Settings Modal -->
<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="settingsModalTitle">Settings</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="settingsModalHeader">
                    <!-- ko foreach: Object.keys(Eagle.settings) -->
                        <button class="settingsModalButton" data-bind="attr:{id: $root.getSettingCategoryId($data)}, text: $data, click: $root.toggleSettingsTab($root.getSettingCategoryId($data), 'settingsCategory'+$index()+'Content')"></button>
                    <!-- /ko -->
                </div>
                <form>
                    <!-- ko foreach: Object.keys(Eagle.settings) -->
                        <div class="settingsModalCategoryWrapper" data-bind="attr:{id:'settingsCategory'+$index()+'Content'}">
                            <div class="row">
                                <!-- ko foreach: Eagle.settings[$data] -->
                                    <!-- ko if: $data.getType() === 0 -->
                                        <div class="input-group mb-1">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" data-bind="attr:{id:'setting'+$data.getKey()}, text:$data.getName(), eagleTooltip: $data.getDescription()" data-bs-placement="left"></span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="" data-bind="value: $data.value, attr:{id:'setting'+$data.getKey()+'Value'}">
                                        </div>
                                    <!-- /ko -->
                                    <!-- ko if: $data.getType() === 1 -->
                                        <div class="input-group mb-1">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" data-bind="attr:{id:'setting'+$data.getKey()}, text:$data.getName(), eagleTooltip: $data.getDescription()" data-bs-placement="left"></span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="" data-bind="value: $data.value, attr:{id:'setting'+$data.getKey()+'Value'}">
                                        </div>
                                    <!-- /ko -->
                                    <!-- ko if: $data.getType() === 2 -->
                                        <div class="settingSm col-6">
                                            <div class="input-group mb-1 checkSettingLabel">
                                                <input type="text" class="form-control" placeholder="" data-bind="attr:{id:'setting'+$data.getKey(),value:$data.getName()}, eagleTooltip:$data.getDescription()" data-bs-placement="left" readonly>
                                                <div class="input-group-append">
                                                    <button class="btn btn-secondary btn-sm" type="button" data-bind="click: $data.toggle, attr:{id:'setting'+$data.getKey()+'Button'}">
                                                        <i class="material-icons md-18" data-bind="visible: $data.value">radio_button_checked</i>
                                                        <i class="material-icons md-18" data-bind="hidden: $data.value">radio_button_unchecked</i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    <!-- /ko -->
                                    <!-- ko if: $data.getType() === 3 -->
                                        <div class="input-group mb-1">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" data-bind="attr:{id:'setting'+$data.getKey()}, text:$data.getName(), eagleTooltip:$data.getDescription()" data-bs-placement="left"></span>
                                            </div>
                                            <input type="password" autocomplete="off" class="form-control" placeholder="" data-bind="value: $data.value, attr:{id:'setting'+$data.getKey()+'Value'}">
                                            <div class="input-group-append">
                                                <button class="btn btn-secondary btn-sm" type="button" data-bind="click: $data.copy, attr:{id:'setting'+$data.getKey()+'Copy'}">
                                                    <i class="material-icons md-18">content_copy</i>
                                                </button>
                                            </div>
                                        </div>
                                    <!-- /ko -->
                                <!-- /ko -->
                            </div>
                        </div>
                    <!-- /ko -->
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" id="resetSettingsDefaults" type="button" data-bind="click: $root.resetSettingsDefaults">Reset Defaults</button>
                <button type="button" class="btn btn-secondary" id="settingsModalNegativeButton" data-bs-dismiss="modal"><span id="settingsModalNegativeAnswer">Cancel</span></button>
                <button type="button" class="btn btn-primary" id="settingsModalAffirmativeButton" data-bs-dismiss="modal"><span id="settingsModalAffirmativeAnswer">OK</span></button>
            </div>
        </div>
    </div>
</div>

<!-- Shortcuts Modal -->
<div class="modal fade" id="shortcutsModal" tabindex="-1" role="dialog" aria-labelledby="shortcutsModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="shortcutsModalTitle">Keyboard Shortcuts</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <!-- ko foreach: getShortcutDisplay() -->
                        <div class="col-lg-6">
                            <div class="shortCutsModalItem">
                                <span data-bind="text: $data.description"></span>
                                <span class="shortCutsModalItemRight" data-bind="text: $data.shortcut"></span>
                            </div>
                        </div>
                    <!-- /ko -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="shortcutsModalAffirmativeButton" data-bs-dismiss="modal"><span id="shortcutsModalAffirmativeAnswer">OK</span></button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Field Modal -->
<div class="modal fade" id="editFieldModal" tabindex="-1" role="dialog" aria-labelledby="editFieldModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editFieldModalTitle">Edit Parameter</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container" id="addParameterWrapper">
                    <div class="row">
                        <p id="ComponentModalMessage">Please select a parameter name or create a custom parameter.</p>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <select class="form-control" id="fieldModalSelect">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container" id="customParameterOptionsWrapper">
                    <div class="row">
                        <div class="col-3">
                            <p>Text:</p>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="editFieldModalTextInput">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Name:</p>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="editFieldModalNameInput">
                            </div>
                        </div>
                    </div>
                    <div class="row" id="editFieldModalValue">
                        <div class="col-3">
                            <p>Value:</p>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group mb-3 has-validation">
                                    <textarea type="text" class="form-control" id="editFieldModalValueInputText"></textarea>
                                </div>
                                <div class="input-group mb-3 componentCheckbox" id="componentValueCheckbox">
                                    <span>wat</span>
                                    <input type="checkbox" class="form-control form-check-input" id="editFieldModalValueInputCheckbox">
                                </div>
                                <select class="form-control mb-3" id="editFieldModalValueInputSelect">
                                    <!-- options are added dynamically -->
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="editFieldModalDefaultValue">
                        <div class="col-3">
                            <p>Default Value:</p>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <textarea type="text" class="form-control" id="editFieldModalDefaultValueInputText"></textarea>
                                <input type="checkbox" class="form-control form-check-input" id="editFieldModalDefaultValueInputCheckbox">
                                <select class="form-control mb-3" id="editFieldModalDefaultValueInputSelect">
                                    <!-- options are added dynamically -->
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Description:</p>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <textarea type="text" class="form-control" id="editFieldModalDescriptionInput"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Type:</p>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <select class="form-control" id="editFieldModalTypeSelect">
                                    <!-- options are added dynamically -->
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Flags:</p>
                        </div>
                        <div class="col-9">
                            <div class="row">
                                <div class="col-6">
                                    <div class="input-group mb-3 componentCheckbox" data-bind="eagleTooltip:'Argument never suppressed'">
                                        <span>Precious</span>
                                        <input type="checkbox" class="form-control form-check-input" id="editFieldModalPreciousInputCheckbox">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="input-group mb-3 componentCheckbox" data-bind="eagleTooltip:'If checked only the value of this argument will be put on the command line'">
                                        <span>Positional</span>
                                        <input type="checkbox" class="form-control form-check-input" id="editFieldModalPositionalInputCheckbox">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="input-group mb-3 componentCheckbox" data-bind="eagleTooltip:'No write access when checked'">
                                        <span>Read Only</span>
                                        <input type="checkbox" class="form-control form-check-input" id="editFieldModalAccessInputCheckbox">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="justify-content:space-between;">
                <button type="button" class="btn btn-secondary" id="editFieldModalResetToDefaultButton"><span>Reset to Default</span></button>
                <button type="button" class="btn btn-primary" id="editFieldModalAffirmativeButton" data-bs-dismiss="modal"><span id="editFieldModalAffirmativeAnswer">OK</span></button>
            </div>
        </div>
    </div>
</div>

<!-- Parameter/arguments table Modal -->
<div class="modal fade" id="parameterTableModal" tabindex="-1" role="dialog" aria-labelledby="parameterTableModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="parameterTableModalTitle">Component Parameters</h5>
                
                <div class="searchBarContainer">
                    <i class="material-icons md-18 searchBarIcon">search</i>
                    <a href="#" data-bind="click:function(data, event){$root.emptySearchBar(Eagle.tableSearchString,data,event)}">
                        <i class="material-icons md-18 searchBarIconClose">close</i>
                    </a>
                    <input class="componentSearchBar" type="text" placeholder="Search" data-bind="valueUpdate: ['afterkeydown', 'input'], value:Eagle.tableSearchString, event:{keyup: function(data,event){$root.setSearchBarClearBtnState(data,event)}}">
                </div>
            </div>
            <div class="modal-body">
                    <table id="paramsTableWrapper">
                        <div id="tableInspector">
                            <input id="tableInspectorSelection" type="text" value="" placeholder="Selection" readonly>
                            <input id="tableInspectorValue" type="text" value="" placeholder="Value">
                        </div>
                        <thead>
                        <tr>
                            <th id="parameter_table_text">Text</th>
                            <th id="parameter_table_name">Name</th>
                            <th id="parameter_table_value">Value</th>
                            <th id="parameter_table_default_value">Default Value</th>
                            <th id="parameter_table_description">Description</th>
                            <th id="parameter_table_type">Type</th>
                            <th id="parameter_table_precious">Precious</th>
                            <th id="parameter_table_positional">Positional</th>
                            <th id="parameter_table_read_only">Read Only</th>
                            <th id="parameter_table_actions">Actions</th>
                        </tr>
                        </thead>

                        <!-- ko if: selectedNode() != null -->
                        <tbody data-bind="foreach: selectedNode().getFields()">
                            <!-- ko if: $data.fitsTableSearchQuery() -->
                            <tr>
                                <td><input class="tableParameter" type="string" data-bind="value: text, valueUpdate: ['afterkeydown', 'input']"></td>
                                <td><input class="tableParameter" type="string" data-bind="value: name, valueUpdate: ['afterkeydown', 'input']"></td>

                                <!-- value fields -->
                                <!-- ko if: $root.getFieldType(getType(), $data.fieldType + $index(), $data.value()) === 'number' || $root.getFieldType(getType(), $data.fieldType + $index(), $data.value()) === 'text' || $root.getFieldType(getType(), $data.fieldType + $index(), $data.value()) === 'password' -->
                                    <td><input class="tableParameter" data-bind="checked: valIsTrue($data.value()), valueUpdate: ['afterkeydown', 'input'], value: value, attr:{type: $root.getFieldType(getType(), $data.fieldType + $index(), $data.value())},  event: {change: function(){$root.selectedObjects.valueHasMutated();}}"></td>
                                    <td><input class="tableParameter" data-bind="checked: valIsTrue($data.defaultValue()), valueUpdate: ['afterkeydown', 'input'], value: defaultValue, attr:{type: $root.getFieldType(getType(), $data.fieldType + $index(), $data.defaultValue())}, event: {change: function(){$root.selectedObjects.valueHasMutated();}}"></td>
                                <!-- /ko -->

                                <!-- ko if: $root.getFieldType(getType(), $data.fieldType + $index(), $data.value()) === 'checkbox' -->
                                    <td><input class="tableParameter" onclick="$(this).val(this.checked ? true : false)" data-bind="checked: valIsTrue($data.value()), valueUpdate: ['afterkeydown', 'input'], value: value, attr:{type: $root.getFieldType(getType(), $data.fieldType + $index(), $data.value())},  event: {change: function(){$root.selectedObjects.valueHasMutated();}}"></td>
                                    <td><input class="tableParameter" onclick="$(this).val(this.checked ? true : false)" data-bind="checked: valIsTrue($data.defaultValue()), valueUpdate: ['afterkeydown', 'input'], value: defaultValue, attr:{type: $root.getFieldType(getType(), $data.fieldType + $index(), $data.defaultValue())}, event: {change: function(){$root.selectedObjects.valueHasMutated();}}"></td>
                                <!-- /ko -->

                                <!-- ko if: $root.getFieldType(getType(), $data.fieldType + $index(), $data.value()) === 'select' -->
                                    <td><input class="tableParameter" data-bind="checked: valIsTrue($data.value()), valueUpdate: ['afterkeydown', 'input'], value: value, attr:{type: $root.getFieldType(getType(), $data.fieldType + $index(), $data.value())},  event: {change: function(){$root.selectedObjects.valueHasMutated();}}"></td>
                                    <td><input class="tableParameter" data-bind="checked: valIsTrue($data.defaultValue()), valueUpdate: ['afterkeydown', 'input'], value: defaultValue, attr:{type: $root.getFieldType(getType(), $data.fieldType + $index(), $data.defaultValue())}, event: {change: function(){$root.selectedObjects.valueHasMutated();}}"></td>
                                <!-- /ko -->

                                <td><input class="tableParameter" type="string" data-bind="value: description, valueUpdate: ['afterkeydown', 'input']"></td>
                                <td>
                                    <select data-bind="html: $root.fillParamentersTable($data.type())">
                                    <!-- options are added dynamically -->
                                    </select>
                                </td>
                                <td><input class="tableParameter" type="checkbox" onclick="$(this).val(this.checked ? true : false)" data-bind="value: precious, checked: $data.precious(), valueUpdate: ['afterkeydown', 'input'], event: {change: function(){$root.selectedObjects.valueHasMutated();}}"></td>
                                <td><input class="tableParameter" type="checkbox" onclick="$(this).val(this.checked ? true : false)" data-bind="value: positional, checked: $data.positional(), valueUpdate: ['afterkeydown', 'input'], event: {change: function(){$root.selectedObjects.valueHasMutated();}}"></td>
                                <td><input class="tableParameter" type="checkbox" onclick="$(this).val(this.checked ? true : false)" data-bind="value: readonly, checked: $data.readonly(), valueUpdate: ['afterkeydown', 'input'], event: {change: function(){$root.selectedObjects.valueHasMutated();}}"></td>
                                <td>
                                    <button class="delete" data-bind="click: function(){$root.selectedNode().removeParamByIndex($data.fieldType, $index());$root.selectedObjects.valueHasMutated();$root.flagActiveFileModified();}"><i class="material-icons md-24">delete</i></button>
                                    <button class="resetDefaults" data-bind="click: function(){$data.resetToDefault();$root.selectedObjects.valueHasMutated();$root.flagActiveFileModified();}"><i class="material-icons">upload_file</i></button>
                                </td>
                            </tr>
                            <!-- /ko -->
                        </tbody>
                        <!-- /ko -->
                    </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="parameterTableModalAddParameterButton" ><span id="parameterTableModalAddParameter">Add Parameter</span></button>
                <button type="button" class="btn btn-primary" id="parameterTableModalAffirmativeButton" data-bs-dismiss="modal"><span id="parameterTableModalAffirmativeAnswer">OK</span></button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Port Modal -->
<div class="modal fade" id="editPortModal" tabindex="-1" role="dialog" aria-labelledby="editPortModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editPortModalTitle">Edit Port</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container" id="addPortWrapper">
                    <div class="row">
                        <p id="ComponentModalMessage">Please select a port name or create a custom port.</p>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <select class="form-control" id="portModalSelect">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container" id="customPortOptionsWrapper">
                    <div class="row">
                        <div class="col-3">
                            <p>Name:</p>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="editPortModalNameInput">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Text:</p>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="editPortModalTextInput">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Type:</p>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="editPortModalTypeInput">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Description:</p>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="editPortModalDescriptionInput">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="editPortModalAffirmativeButton" data-bs-dismiss="modal"><span id="editPortModalAffirmativeAnswer">OK</span></button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Edge Modal -->
<div class="modal fade" id="editEdgeModal" tabindex="-1" role="dialog" aria-labelledby="editEdgeModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editEdgeModalTitle">Edit Edge</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-3">
                            <p>Source Node:</p>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <select class="form-control" id="editEdgeModalSrcNodeKeySelect">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Source Port:</p>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <select class="form-control" id="editEdgeModalSrcPortIdSelect">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Destination Node:</p>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <select class="form-control" id="editEdgeModalDestNodeKeySelect">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Destination Port:</p>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <select class="form-control" id="editEdgeModalDestPortIdSelect">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Data Type:</p>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="editEdgeModalDataTypeInput">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Loop Aware:</p>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <input type="checkbox" class="form-control form-check-input" id="editEdgeModalValueInputCheckbox">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="editEdgeModalAffirmativeButton" data-bs-dismiss="modal"><span id="editEdgeModalAffirmativeAnswer">OK</span></button>
            </div>
        </div>
    </div>
</div>

<!-- Explore Palettes Modal -->
<div class="modal fade" id="explorePalettesModal" tabindex="-1" role="dialog" aria-labelledby="explorePalettesModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="explorePalettesModalTitle">Explore Palettes</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="min-height: 640px; max-height: 640px; overflow: scroll;">
                <!-- ko ifnot: explorePalettes().showFiles -->
                    <!-- ko if: explorePalettes().projects().length === 0 -->
                    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                        <div class="spinner-border" id="loadPaletteText" style="width: 3rem; height: 3rem;" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: explorePalettes().projects().length !== 0 -->
                    <div class="list-group">
                        <!-- ko foreach: explorePalettes().projects -->
                            <a href="#" class="list-group-item list-group-item-action" aria-current="true" data-bind="click: function(){$root.explorePalettes().setProject($data.name());}">
                            <div class="d-flex w-100 justify-content-between align-items-center">
                                <h5 class="mb-1">
                                    <span data-bind="text: $data.name()"></span>
                                </h5>
                                <div>
                                    <!-- ko if: $data.defaultPalette() !== null -->
                                        <span class="badge bg-primary rounded-pill" data-bind="text: 'Load Default', clickBubble: false, click: function(){$root.explorePalettesClickHelper($data.defaultPalette())}, eagleTooltip: 'Click to load the default palette of this repository'"  data-bs-placement="bottom"></span>
                                    <!-- /ko -->
                                    <!-- ko if: $data.defaultPalette() === null -->
                                        <span class="badge bg-primary rounded-pill loadDefaultDisabled" data-bind="text: 'Load Default', clickBubble: false, click: function(){$root.explorePalettesClickHelper($data.defaultPalette())}, eagleTooltip: 'There is no default (master/main) palette for this project. Please open the repository to select from all available palettes.'"  data-bs-placement="bottom"></span>
                                    <!-- /ko -->
                                </div>
                            </div>
                            <div class="d-flex w-100 justify-content-between align-items-center">
                                <small data-bind="text: function(){return $root.getExplorePaletteText($data.palettes().length)}()"></small>
                            </div>
                        </a>
                        <!-- /ko -->
                    </div>
                    <!-- /ko -->
                <!-- /ko -->
                <!-- ko if: explorePalettes().showFiles -->
                    <ul class="list-group" data-bind="foreach: explorePalettes().getProject().palettes">
                        <li class="list-group-item d-flex justify-content-between align-items-center" data-bind="click: $root.explorePalettesClickHelper">
                            <span data-bind="text: $data.name"></span>
                            <div class="form-check">
                                <input class="form-check-input position-static" type="checkbox" aria-label="select">
                            </div>
                        </li>
                    </ul>
                <!-- /ko -->
            </div>
            <div class="modal-footer" data-bind="style: {'justify-content': explorePalettes().showFiles() ? 'space-between' : 'flex-end'}">
                <button type="button" class="btn btn-secondary" id="explorePalettesModalBackButton" data-bind="click: explorePalettes().back, visible: explorePalettes().showFiles"><span>Back</span></button>
                <div>
                    <button type="button" class="btn btn-secondary" id="explorePalettesModalNegativeButton" data-bs-dismiss="modal"><span id="explorePalettesModalNegativeAnswer">Cancel</span></button>
                    <button type="button" class="btn btn-primary" id="explorePalettesModalAffirmativeButton" data-bs-dismiss="modal" data-bind="visible: explorePalettes().showFiles"><span id="explorePalettesModalAffirmativeAnswer">OK</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
