<!-- Message Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messageModalTitle">Title</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span id="messageModalMessage">Message</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- Errors Modal -->
<div class="modal fade" id="errorsModal" tabindex="-1" role="dialog" aria-labelledby="errorsModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorsModalTitle">Title</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class='accordion' id='errorsModalAccordion'>

                    <div class="accordion-item" id="errorsModalErrorsAccordionItem">
                        <h2 class="accordion-header" id="checkGraphAccordionHeadingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#checkGraphAccordionCollapseOne" aria-expanded="true" aria-controls="checkGraphAccordionCollapseOne"> Errors&nbsp;<span id="errorsModalErrorCount"></span></button>
                        </h2>
                        <div id="checkGraphAccordionCollapseOne" class="accordion-collapse collapse show" aria-labelledby="checkGraphAccordionHeadingOne">
                            <div class="accordion-body" id="errorsModalErrorsAccordionBody">
                                message += this.graphErrors().join('<br/>')
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item" id="errorsModalWarningsAccordionItem">
                        <h2 class="accordion-header" id="checkGraphAccordionHeadingTwo">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#checkGraphAccordionCollapseTwo" aria-expanded="true" aria-controls="checkGraphAccordionCollapseTwo"> Warnings&nbsp;<span id="errorsModalWarningCount"></span></button>
                        </h2>
                        <div id="checkGraphAccordionCollapseTwo" class="accordion-collapse collapse show" aria-labelledby="checkGraphAccordionHeadingTwo">
                            <div class="accordion-body" id="errorsModalWarningsAccordionBody">
                                message += this.graphWarnings().join('<br/>')
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- Request User Input Modal -->
<div class="modal fade" id="inputModal" tabindex="-1" role="dialog" aria-labelledby="inputModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="inputModalTitle">Title</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <p id="inputModalMessage">Message</p>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="inputModalInput">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- Request User Text Input Modal -->
<div class="modal fade" id="inputTextModal" tabindex="-1" role="dialog" aria-labelledby="inputTextModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="inputTextModalTitle">Title</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <p id="inputTextModalMessage">Message</p>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="input-group mb-3">
                                <textarea class="form-control" id="inputTextModalInput" rows="10"></textarea>
                            </div>
                            <button id="copyInputTextModalInput" class="btn btn-secondary" type="button" data-bs-placement="bottom" data-bind="click: copyInputTextModalInput, eagleTooltip: 'Copy Text'">
                                <i class="material-icons md-18">content_copy</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- Request User Choice Modal -->
<div class="modal fade" id="choiceModal" tabindex="-1" role="dialog" aria-labelledby="choiceModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="choiceModalTitle">Title</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <p id="choiceModalMessage">Message</p>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group mb-2">
                                <select class="form-control" id="choiceModalSelect">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="choiceModalStringRow">
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="choiceModalCustomChoiceText">Custom Choice</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Custom Port Name" aria-describedby="choiceModalCustomChoiceText" id="choiceModalString">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="choiceModalAffirmativeButton" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- Request User Confirm Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalTitle">Title</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <p id="confirmModalMessage">Message</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="confirmModalNegativeButton" data-bs-dismiss="modal"><span id="confirmModalNegativeAnswer">No</span></button>
                <button type="button" class="btn btn-primary" id="confirmModalAffirmativeButton" data-bs-dismiss="modal"><span id="confirmModalAffirmativeAnswer">Yes</span></button>
            </div>
        </div>
    </div>
</div>

<!-- Request User Git Commit Modal -->
<div class="modal fade" id="gitCommitModal" tabindex="-1" role="dialog" aria-labelledby="gitCommitModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="gitCommitModalTitle">Git Commit</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-3">
                            <p>Repository Service:</p>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <select class="form-control" id="gitCommitModalRepositoryServiceSelect">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Repository Name:</p>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <select class="form-control" id="gitCommitModalRepositoryNameSelect">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>File Path:</p>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="gitCommitModalFilePathInput">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>File Name:</p>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="gitCommitModalFileNameInput">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Commit Message:</p>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="gitCommitModalCommitMessageInput">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="gitCommitModalNegativeButton" data-bs-dismiss="modal"><span id="gitCommitModalNegativeAnswer">Cancel</span></button>
                <button type="button" class="btn btn-primary" id="gitCommitModalAffirmativeButton" data-bs-dismiss="modal"><span id="gitCommitModalAffirmativeAnswer">Commit</span></button>
            </div>
        </div>
    </div>
</div>

<!-- Request User Custom Repository Modal -->
<div class="modal fade" id="gitCustomRepositoryModal" tabindex="-1" role="dialog" aria-labelledby="gitCustomRepositoryModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="gitCustomRepositoryModalTitle">Add Custom Git Repository</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-3">
                            <p>Service</p>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <select class="form-control" id="gitCustomRepositoryModalRepositoryServiceSelect">
                                    <option>GitHub</option>
                                    <option>GitLab</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Name *</p>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3 has-validation">
                                <input type="text" class="form-control" id="gitCustomRepositoryModalRepositoryNameInput">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Branch *</p>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3 has-validation">
                                <input type="text" class="form-control" id="gitCustomRepositoryModalRepositoryBranchInput">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="gitCustomRepositoryModalNegativeButton" data-bs-dismiss="modal"><span id="gitCustomRepositoryModalNegativeAnswer">Cancel</span></button>
                <button type="button" class="btn btn-primary" id="gitCustomRepositoryModalAffirmativeButton" data-bs-dismiss="modal"><span id="gitCustomRepositoryModalAffirmativeAnswer">Add</span></button>
            </div>
        </div>
    </div>
</div>

<!-- About Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="/static/assets/img/favicon.png" class="rounded float-left" alt="EAGLE logo">
                <span>&nbsp;&nbsp;</span>
                <h5 class="modal-title" id="aboutModalTitle">About EAGLE</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>Editor for the Advanced Graph Language Environment</h5>
                <span>Version:&nbsp;{{version}}&nbsp;({{commit_hash}})</span>
                <hr />
                <pre>{% include 'license.html' %}</pre>
                <hr />
                <pre>{% include 'versions.html' %}</pre>
            </div>
        </div>
    </div>
</div>

<!-- Settings Modal -->
<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="settingsModalTitle">Settings</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="settingsModalHeader">
                    <!-- ko foreach: Eagle.settings -->
                        <button class="settingsModalButton" data-bind="attr:{id: $data.getHtmlId()}, text: $data.name, click: $root.toggleSettingsTab($data.getHtmlId(), 'settingsCategory'+$index()+'Content'), visible: $data.isVisible($root)"></button>
                    <!-- /ko -->
                </div>
                <form>
                    <!-- ko foreach: Eagle.settings -->
                        <div class="settingsModalCategoryWrapper" data-bind="attr:{id:'settingsCategory'+$index()+'Content'}, visible: $data.isVisible($root)">
                            <div class="row">
                                <!-- ko foreach: $data.settings -->
                                    <!-- ko if: $data.getType() === 0 -->
                                        <div class="input-group mb-1">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" data-bind="attr:{id:'setting'+$data.getKey()}, text:$data.getName(), eagleTooltip: $data.getDescription()" data-bs-placement="left"></span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="" data-bind="value: $data.value, attr:{id:'setting'+$data.getKey()+'Value'}">
                                        </div>
                                    <!-- /ko -->
                                    <!-- ko if: $data.getType() === 1 -->
                                        <div class="input-group mb-1">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" data-bind="attr:{id:'setting'+$data.getKey()}, text:$data.getName(), eagleTooltip: $data.getDescription()" data-bs-placement="left"></span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="" data-bind="value: $data.value, attr:{id:'setting'+$data.getKey()+'Value'}">
                                        </div>
                                    <!-- /ko -->
                                    <!-- ko if: $data.getType() === 2 -->
                                        <div class="settingSm col-6">
                                            <div class="input-group mb-1 checkSettingLabel" data-bind="click: $data.toggle">
                                                <input type="text" class="form-control" placeholder="" data-bind="attr:{id:'setting'+$data.getKey(),value:$data.getName()}, eagleTooltip:$data.getDescription()" data-bs-placement="left" readonly>
                                                <div class="input-group-append">
                                                    <button class="btn btn-secondary btn-sm" type="button" data-bind=" attr:{id:'setting'+$data.getKey()+'Button'}">
                                                        <i class="material-icons md-18" data-bind="visible: $data.value">radio_button_checked</i>
                                                        <i class="material-icons md-18" data-bind="hidden: $data.value">radio_button_unchecked</i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    <!-- /ko -->
                                    <!-- ko if: $data.getType() === 3 -->
                                        <div class="input-group mb-1">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" data-bind="attr:{id:'setting'+$data.getKey()}, text:$data.getName(), eagleTooltip:$data.getDescription()" data-bs-placement="left"></span>
                                            </div>
                                            <input type="password" autocomplete="off" class="form-control" placeholder="" data-bind="value: $data.value, attr:{id:'setting'+$data.getKey()+'Value'}">
                                            <div class="input-group-append">
                                                <button class="btn btn-secondary btn-sm" type="button" data-bind="click: $data.copy, attr:{id:'setting'+$data.getKey()+'Copy'}, eagleTooltip: 'Copy to clipboard'">
                                                    <i class="material-icons md-18">content_copy</i>
                                                </button>
                                            </div>
                                        </div>
                                    <!-- /ko -->
                                <!-- /ko -->
                            </div>
                        </div>
                    <!-- /ko -->
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" id="resetSettingsDefaults" type="button" data-bind="click: $root.resetSettingsDefaults">Reset Defaults</button>
                <button type="button" class="btn btn-secondary" id="settingsModalNegativeButton" data-bs-dismiss="modal"><span id="settingsModalNegativeAnswer">Cancel</span></button>
                <button type="button" class="btn btn-primary" id="settingsModalAffirmativeButton" data-bs-dismiss="modal"><span id="settingsModalAffirmativeAnswer">OK</span></button>
            </div>
        </div>
    </div>
</div>

<!-- Shortcuts Modal -->
<div class="modal fade" id="shortcutsModal" tabindex="-1" role="dialog" aria-labelledby="shortcutsModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="shortcutsModalTitle">Keyboard Shortcuts</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <!-- ko foreach: getShortcutDisplay() -->
                        <div class="col-lg-6">
                            <div class="shortCutsModalItem">
                                <span data-bind="text: $data.description"></span>
                                <span class="shortCutsModalItemRight" data-bind="text: $data.shortcut"></span>
                            </div>
                        </div>
                    <!-- /ko -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="shortcutsModalAffirmativeButton" data-bs-dismiss="modal"><span id="shortcutsModalAffirmativeAnswer">OK</span></button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Field Modal -->
<div class="modal fade" id="editFieldModal" tabindex="-1" role="dialog" aria-labelledby="editFieldModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editFieldModalTitle">Edit Parameter</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container" id="addParameterWrapper">
                    <div class="row">
                        <p id="ComponentModalMessage">Please select a parameter name or create a custom parameter.</p>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <select class="form-control" id="fieldModalSelect">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container" id="customParameterOptionsWrapper">
                    <div class="row">
                        <div class="col-3">
                            <p data-bind="eagleTooltip: 'Internal name used by DALiuGE'" data-bs-placement="left">Id Text:</p>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3 has-validation">
                                <input type="text" class="form-control" id="editFieldModalIdTextInput">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p data-bind="eagleTooltip: 'User-facing name'" data-bs-placement="left">Display Text:</p>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="editFieldModalDisplayTextInput">
                            </div>
                        </div>
                    </div>
                    <div class="row" id="editFieldModalValue">
                        <div class="col-3">
                            <p>Value:</p>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3 has-validation">
                                <textarea type="text" class="form-control" id="editFieldModalValueInputText"></textarea>
                                <div class="input-group componentCheckbox" id="componentValueCheckbox">
                                    <input type="checkbox" class="form-control form-check-input" id="editFieldModalValueInputCheckbox">
                                </div>
                                <select class="form-control" id="editFieldModalValueInputSelect">
                                    <!-- options are added dynamically -->
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="editFieldModalDefaultValue">
                        <div class="col-3">
                            <p>Default Value:</p>
                        </div>
                        <div class="col">
                            <div class="input-group">
                                <textarea type="text" class="form-control" id="editFieldModalDefaultValueInputText"></textarea>
                                <div class="input-group componentCheckbox" id="componentDefaultValueCheckbox">
                                    <input type="checkbox" class="form-control form-check-input" id="editFieldModalDefaultValueInputCheckbox">
                                </div>
                                <select class="form-control" id="editFieldModalDefaultValueInputSelect">
                                    <!-- options are added dynamically -->
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Description:</p>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <textarea type="text" class="form-control" id="editFieldModalDescriptionInput"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Type:</p>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <input id="editFieldModalTypeInput" type="text" class="form-control" aria-label="Text input with dropdown button">
                                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Types</button>
                                <ul id="editFieldModalTypeSelect" class="dropdown-menu dropdown-menu-end">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Flags:</p>
                        </div>
                        <div class="col-9">
                            <div class="row">
                                <div class="col-6">
                                    <div class="input-group mb-3 componentCheckbox" data-bind="eagleTooltip:'Argument never suppressed'">
                                        <span>Precious</span>
                                        <input type="checkbox" class="form-control form-check-input" id="editFieldModalPreciousInputCheckbox">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="input-group mb-3 componentCheckbox" data-bind="eagleTooltip:'If checked only the value of this argument will be put on the command line'">
                                        <span>Positional</span>
                                        <input type="checkbox" class="form-control form-check-input" id="editFieldModalPositionalInputCheckbox">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="input-group mb-3 componentCheckbox" data-bind="eagleTooltip:'No write access when checked'">
                                        <span>Read Only</span>
                                        <input type="checkbox" class="form-control form-check-input" id="editFieldModalAccessInputCheckbox">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="editFieldModalFieldTypeSelectRow">
                        <div class="col-3">
                            <p>Field Type:</p>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <select class="form-control" id="editFieldModalFieldTypeSelect">
                                    <!-- options are added dynamically -->
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="justify-content:space-between;">
                <button type="button" class="btn btn-secondary" id="editFieldModalResetToDefaultButton"><span>Reset to Default</span></button>
                <button type="button" class="btn btn-primary" id="editFieldModalAffirmativeButton" data-bs-dismiss="modal"><span id="editFieldModalAffirmativeAnswer">OK</span></button>
            </div>
        </div>
    </div>
</div>

<!-- Parameter/arguments table Modal -->
<div class="modal fade" id="parameterTableModal" tabindex="-1" role="dialog" aria-labelledby="parameterTableModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
                <!-- ko if: selectedNode() != null -->

            <div class="modal-header" data-bind="click: function(){Eagle.resetParamsTableSelection()}">
                <h5 class="modal-title" id="parameterTableModalTitle">Attributes</h5>
                <!-- ko if: selectedNode().isLocked() -->
                    <button type="button" class="btn btn-secondary btn-sm" data-bind="click: function() { }, clickBubble: false, eagleTooltip: getReadOnlyText">
                        <i class="material-icons md-20">lock</i>
                    </button>
                <!-- /ko -->
                <!-- ko ifnot: selectedNode().isLocked() -->
                    <button type="button" class="btn btn-secondary btn-sm" data-bind="eagleTooltip: 'readwrite'">
                        <i class="material-icons md-20">lock_open</i>
                    </button>
                <!-- /ko -->
                <div class="searchBarContainer" data-bind="clickBubble:false, click:function(){}">
                    <i class="material-icons md-18 searchBarIcon">search</i>
                    <a href="#" data-bind="click:function(data, event){$root.emptySearchBar(Eagle.tableSearchString,data,event)}">
                        <i class="material-icons md-18 searchBarIconClose">close</i>
                    </a>
                    <input class="componentSearchBar" type="text" placeholder="Search" data-bind="valueUpdate: ['afterkeydown', 'input'], value:Eagle.tableSearchString, event:{keyup: function(data,event){$root.setSearchBarClearBtnState(data,event)}}">
                </div>
            </div>
            <div class="modal-body">
                    <table id="paramsTableWrapper">
                        <div id="tableInspector">
                            <input id="tableInspectorSelection" type="text" placeholder="Selection" data-bind="value: $root.formatTableInspectorSelection()" readonly>
                            <input id="tableInspectorValue" type="text" placeholder="Content" data-bind="value: $root.formatTableInspectorValue(), readonly: Eagle.parameterTableSelectionReadonly(), event: {keyup: $root.tableInspectorUpdateSelection($element.value)}">
                        </div>
                        <thead>
                        <tr>
                            <th id="parameter_table_text" data-bind="eagleTooltip:'User-facing name'" data-bs-placement="top">Display Text</th>
                            <th id="parameter_table_name" data-bind="eagleTooltip:'Internal name used by DALiuGE'" data-bs-placement="top">idText</th>
                            <th id="parameter_table_value" data-bind="eagleTooltip:'The value of this parameter'" data-bs-placement="top">Value</th>
                            <th id="parameter_table_read_only" data-bind="eagleTooltip:'No write access when checked'" data-bs-placement="top">Read Only</th>
                            <th id="parameter_table_default_value" data-bind="eagleTooltip:'The default value of this parameter before user modifications'" data-bs-placement="top">Default Value</th>
                            <th id="parameter_table_description" data-bind="eagleTooltip:'A description of the purpose of this parameter'" data-bs-placement="top">Description</th>
                            <th id="parameter_table_type" data-bind="eagleTooltip:'The type of the data stored in this parameter (e.g. Integer, Float, String etc)'" data-bs-placement="top">Type</th>
                            <th id="parameter_table_isPort" data-bind="eagleTooltip:'The way this parameter will be used by the component. ComponentParameters are passed to the DALiuGE execution framework. ApplicationArguments are passed to the Application executed by this component. InputPorts and OutputPorts are used to specify named inputs and outputs from this Component.'" data-bs-placement="top">Use As</th>
                            <th id="parameter_table_precious" data-bind="eagleTooltip:'Argument never suppressed'" data-bs-placement="top">Precious</th>
                            <th id="parameter_table_positional" data-bind="eagleTooltip:'If checked only the value of this argument will be put on the command line'" data-bs-placement="top">Positional</th>
                            <th id="parameter_table_actions" data-bind="eagleTooltip:'Additional operations that are possible on this parameter (e.g. Delete, Duplicate etc)'" data-bs-placement="top">Actions</th>
                        </tr>
                        </thead>
                            <tbody data-bind="foreach: $root.selectedNode().getFields()">
                            <!-- ko if: $data.fitsTableSearchQuery() -->
                                <!-- ko if: !$data.isDaliugeField() || Eagle.showDaliugeRuntimeParameters() -->
                                <tr>
                                    <td data-bind=" css: { selectedTableParameter: Eagle.parameterTableSelection() != null && $data == Eagle.parameterTableSelectionParent() && Eagle.parameterTableSelectionName() == 'displayText' }"><input class="tableParameter" type="string" data-bind="value: displayText, readonly: $root.selectedNode().isLocked(), valueUpdate: ['afterkeydown', 'input'], click: function(event, data){select($data.displayText(), 'displayText', $root.selectedNode().isLocked(), $data, $index())}, event:{keyup: function(event, data){select($data.displayText(), 'displayText', $root.selectedNode().isLocked(), $data, $index())}}"></td>
                                    <td data-bind=" css: { selectedTableParameter: Eagle.parameterTableSelection() != null && $data == Eagle.parameterTableSelectionParent() && Eagle.parameterTableSelectionName() == 'idText' }"><input class="tableParameter" type="string" data-bind="value: idText, readonly: $root.selectedNode().isLocked(), valueUpdate: ['afterkeydown', 'input'], click: function(event, data){select($data.idText(), 'idText', $root.selectedNode().isLocked(), $data, $index())}, event:{keyup: function(event, data){select($data.idText(), 'idText', $root.selectedNode().isLocked(), $data, $index())}}"></td>

                                    <!-- value fields -->
                                    <!-- ko if: !isType(Eagle.DataType_Boolean) && !isType(Eagle.DataType_Select) -->
                                        <td data-bind=" css: { selectedTableParameter: Eagle.parameterTableSelection() != null && $data == Eagle.parameterTableSelectionParent() && Eagle.parameterTableSelectionName() == 'value' }"><input class="tableParameter" data-bind="readonly: isEagleReadonly, valueUpdate: ['afterkeydown', 'input'], value: value, attr:{type: getHtmlInputType},  event: {change: function(){$root.selectedObjects.valueHasMutated()}, keyup: function(event, data){select($data.value(), 'value', isEagleReadonly, $data, $index())}, click: function(event, data){select($data.value(), 'value', isEagleReadonly, $data, $index())}}"></td>
                                    <!-- /ko -->
                                    <!-- ko if: isType(Eagle.DataType_Boolean) -->
                                        <td><input class="tableParameter" type="boolean" data-bind="checked: valIsTrue($data.value()), disabled: isEagleReadonly, value: value,  event: {change: function(){$root.selectedObjects.valueHasMutated();}}"></td>
                                    <!-- /ko -->
                                    <!-- ko if: isType(Eagle.DataType_Select) -->
                                        <td><input class="tableParameter" type="text" data-bind="disabled: isEagleReadonly, valueUpdate: ['afterkeydown', 'input'], value: value, event: {change: function(){$root.selectedObjects.valueHasMutated();}}"></td>
                                    <!-- /ko -->

                                    <!-- readonly fields -->
                                    <!-- ko ifnot: $root.selectedNode().isLocked() -->
                                        <td><input class="tableParameter" data-bind="checked: readonly, disabled: $root.selectedNode().isLocked(), event: {change: function(){$root.selectedObjects.valueHasMutated();}}, attr: {type: 'checkbox'}"></td>
                                    <!-- /ko -->
                                    <!-- ko if: $root.selectedNode().isLocked() -->
                                        <!-- ko if: isEagleReadonly -->
                                            <td><i class="material-icons md-20" data-bind="eagleTooltip: $root.getReadOnlyText">lock</i></td>
                                        <!-- /ko -->
                                        <!-- ko ifnot: isEagleReadonly -->
                                            <td><i class="material-icons md-20" data-bind="eagleTooltip: 'value is readwrite'">lock_open</i></td>
                                        <!-- /ko -->
                                    <!-- /ko -->

                                    <!-- default value fields -->
                                    <!-- ko if: !isType(Eagle.DataType_Boolean) && !isType(Eagle.DataType_Select) -->
                                        <td data-bind=" css: { selectedTableParameter: Eagle.parameterTableSelection() != null && $data == Eagle.parameterTableSelectionParent() && Eagle.parameterTableSelectionName() == 'defaultValue' }"><input class="tableParameter" data-bind="readonly: $root.selectedNode().isLocked(), valueUpdate: ['afterkeydown', 'input'], value: defaultValue, attr:{type: getHtmlInputType}, event: {change: function(){$root.selectedObjects.valueHasMutated()}, keyup: function(event, data){select($data.defaultValue(), 'defaultValue', $root.selectedNode().isLocked(), $data, $index())}, click: function(event, data){select($data.defaultValue(), 'defaultValue', $root.selectedNode().isLocked(), $data, $index())}}"></td>
                                    <!-- /ko -->
                                    <!-- ko if: isType(Eagle.DataType_Boolean) -->
                                        <td><input class="tableParameter" type="boolean" onclick="$(this).val(this.checked ? true : false)" data-bind="checked: valIsTrue($data.defaultValue()), disabled: $root.selectedNode().isLocked(), value: defaultValue, event: {change: function(){$root.selectedObjects.valueHasMutated();}}"></td>
                                    <!-- /ko -->

                                    <!-- ko if: isType(Eagle.DataType_Select) -->
                                        <td><input class="tableParameter" type="text" data-bind="disabled: $root.selectedNode().isLocked(), valueUpdate: ['afterkeydown', 'input'], value: defaultValue, event: {change: function(){$root.selectedObjects.valueHasMutated();}}"></td>
                                    <!-- /ko -->

                                    <td data-bind=" css: { selectedTableParameter: Eagle.parameterTableSelection() != null && $data == Eagle.parameterTableSelectionParent() && Eagle.parameterTableSelectionName() == 'description' }"><input class="tableParameter" type="string" data-bind="value: description, readonly: $root.selectedNode().isLocked(), valueUpdate: ['afterkeydown', 'input'], click: function(event, data){select($data.description(), 'description', $root.selectedNode().isLocked(), $data, $index())}, event:{keyup: function(event, data){select($data.description(), 'description', $root.selectedNode().isLocked(), $data, $index())}}"></td>
                                    <td>
                                        <select data-bind="html: $root.fillParametersTable($data.type()), value: type, disabled: $root.selectedNode().isLocked()">
                                        <!-- options are added dynamically -->
                                        </select>
                                    </td>
                                    <td>
                                        <select data-bind="html: $root.selectedNode().fillFieldTypeCell($data.fieldType()), value: fieldType, disabled: $root.selectedNode().isLocked()">
                                            <!-- options are added dynamically -->
                                        </select>
                                    </td>
                                    <td><input class="tableParameter" data-bind="disabled: $root.selectedNode().isLocked(), checked: precious, valueUpdate: ['afterkeydown', 'input'], event: {change: function(){$root.selectedObjects.valueHasMutated();}}, attr:{ type: 'checkbox'}"></td>
                                    <td><input class="tableParameter" data-bind="disabled: $root.selectedNode().isLocked(), checked: positional, event: {change: function(){$root.selectedObjects.valueHasMutated();}}, attr:{ type: 'checkbox'}"></td>
                                    <td>
                                        <button class="edit" onclick="$(this).val(this.checked ? true : false)" data-bind="click: function(){$root.editField(null, 'Field', Eagle.FieldType.Unknown, $index());}, disabled: isEagleReadonly, eagleTooltip:'Edit'"><i class="material-icons">edit</i></button>
                                        <button class="resetDefaults" onclick="$(this).val(this.checked ? true : false)" data-bind="click: function(){$data.resetToDefault();$root.selectedObjects.valueHasMutated();$root.flagActiveFileModified();}, disabled: isEagleReadonly, eagleTooltip:'Reset To Default'"><i class="material-icons">upload_file</i></button>
                                        <button class="duplicate" onclick="$(this).val(this.checked ? true : false)" data-bind="click: function(){$root.duplicateParameter($index());$root.selectedObjects.valueHasMutated();$root.flagActiveFileModified();}, disabled: $root.selectedNode().isLocked(), eagleTooltip:'Duplicate'"><i class="material-icons">content_copy</i></button>
                                        <!-- ko if: $data.fieldType() === Eagle.FieldType.InputPort -->
                                            <button class="delete" onclick="$(this).val(this.checked ? true : false)" data-bind="click: function(){$root.removePortFromNodeByIndex($root.selectedNode(),$data.getId(), true);}, disabled: $root.selectedNode().isLocked(), eagleTooltip:'Remove parameter'"><i class="material-icons md-24">delete</i></button>
                                        <!-- /ko -->
                                        <!-- ko if: $data.fieldType() === Eagle.FieldType.OutputPort -->
                                            <button class="delete" onclick="$(this).val(this.checked ? true : false)" data-bind="click: function(){$root.removePortFromNodeByIndex($root.selectedNode(),$data.getId(), false);}, disabled: $root.selectedNode().isLocked(), eagleTooltip:'Remove parameter'"><i class="material-icons md-24">delete</i></button>
                                        <!-- /ko -->
                                        <!-- ko if: $data.fieldType() === Eagle.FieldType.ApplicationArgument || $data.fieldType() === Eagle.FieldType.ComponentParameter -->
                                            <button class="delete" onclick="$(this).val(this.checked ? true : false)" data-bind="click: function(){$root.removeParamFromNodeByIndex($root.selectedNode(), $data.fieldType(), $index());}, disabled: $root.selectedNode().isLocked(), eagleTooltip:'Remove parameter'"><i class="material-icons md-24">delete</i></button>
                                        <!-- /ko -->
                                    </td>
                                </tr>
                                <!-- /ko -->
                            <!-- /ko -->
                        </tbody>
                    </table>
            </div>
            <div class="modal-footer"  data-bind="click: Eagle.resetParamsTableSelection">
                <button type="button" class="btn btn-primary" id="parameterTableModalAddParameterButton" data-bind="click: $root.addEmptyTableRow, clickBubble:false, disabled: $root.selectedNode().isLocked()" ><span id="parameterTableModalAddParameter">Add Parameter</span></button>
                <button type="button" class="btn btn-primary" id="parameterTableModalAffirmativeButton" data-bs-dismiss="modal" data-bind="clickBubble:false"><span id="parameterTableModalAffirmativeAnswer">Close</span></button>
            </div>
            <!-- /ko -->

        </div>
    </div>
</div>

<!-- Edit Edge Modal -->
<div class="modal fade" id="editEdgeModal" tabindex="-1" role="dialog" aria-labelledby="editEdgeModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editEdgeModalTitle">Edit Edge</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-3">
                            <p>Source Node:</p>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <select class="form-control" id="editEdgeModalSrcNodeKeySelect">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Source Port:</p>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <select class="form-control" id="editEdgeModalSrcPortIdSelect">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Destination Node:</p>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <select class="form-control" id="editEdgeModalDestNodeKeySelect">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Destination Port:</p>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <select class="form-control" id="editEdgeModalDestPortIdSelect">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Data Type:</p>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="editEdgeModalDataTypeInput">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Loop Aware:</p>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <input type="checkbox" class="form-control form-check-input" id="editEdgeModalLoopAwareCheckbox">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Closes Loop:</p>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <input type="checkbox" class="form-control form-check-input" id="editEdgeModalClosesLoopCheckbox">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="editEdgeModalAffirmativeButton" data-bs-dismiss="modal"><span id="editEdgeModalAffirmativeAnswer">OK</span></button>
            </div>
        </div>
    </div>
</div>

<!-- Explore Palettes Modal -->
<div class="modal fade" id="explorePalettesModal" tabindex="-1" role="dialog" aria-labelledby="explorePalettesModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="explorePalettesModalTitle">Explore Palettes</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="min-height: 640px; max-height: 640px; overflow: scroll;">
                <!-- ko ifnot: explorePalettes().showFiles -->
                    <!-- ko if: explorePalettes().projects().length === 0 -->
                    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                        <div class="spinner-border" id="loadPaletteText" style="width: 3rem; height: 3rem;" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: explorePalettes().projects().length !== 0 -->
                    <div class="list-group">
                        <!-- ko foreach: explorePalettes().projects -->
                            <a href="#" class="list-group-item list-group-item-action" aria-current="true" data-bind="click: function(){$root.explorePalettes().setProject($data.name());}">
                            <div class="d-flex w-100 justify-content-between align-items-center">
                                <h5 class="mb-1">
                                    <span data-bind="text: $data.name()"></span>
                                </h5>
                                <div>
                                    <!-- ko if: $data.defaultPalette() !== null -->
                                        <span class="badge bg-primary rounded-pill" data-bind="text: 'Load Default', clickBubble: false, click: function(){$root.explorePalettesClickHelper($data.defaultPalette())}, eagleTooltip: 'Click to load the default palette of this repository'"  data-bs-placement="bottom"></span>
                                    <!-- /ko -->
                                    <!-- ko if: $data.defaultPalette() === null -->
                                        <span class="badge bg-primary rounded-pill loadDefaultDisabled" data-bind="text: 'Load Default', clickBubble: false, click: function(){$root.explorePalettesClickHelper($data.defaultPalette())}, eagleTooltip: 'There is no default (master/main) palette for this project. Please open the repository to select from all available palettes.'"  data-bs-placement="bottom"></span>
                                    <!-- /ko -->
                                </div>
                            </div>
                            <div class="d-flex w-100 justify-content-between align-items-center">
                                <small data-bind="text: function(){return $root.getExplorePaletteText($data.palettes().length)}()"></small>
                            </div>
                        </a>
                        <!-- /ko -->
                    </div>
                    <!-- /ko -->
                <!-- /ko -->
                <!-- ko if: explorePalettes().showFiles -->
                    <ul class="list-group" data-bind="foreach: explorePalettes().getProject().palettes">
                        <li class="list-group-item d-flex justify-content-between align-items-center" data-bind="click: $root.explorePalettesClickHelper">
                            <span data-bind="text: $data.name"></span>
                            <div class="form-check">
                                <input class="form-check-input position-static" type="checkbox" aria-label="select">
                            </div>
                        </li>
                    </ul>
                <!-- /ko -->
            </div>
            <div class="modal-footer" data-bind="style: {'justify-content': explorePalettes().showFiles() ? 'space-between' : 'flex-end'}">
                <button type="button" class="btn btn-secondary" id="explorePalettesModalBackButton" data-bind="click: explorePalettes().back, visible: explorePalettes().showFiles"><span>Back</span></button>
                <div>
                    <button type="button" class="btn btn-secondary" id="explorePalettesModalNegativeButton" data-bs-dismiss="modal"><span id="explorePalettesModalNegativeAnswer">Cancel</span></button>
                    <button type="button" class="btn btn-primary" id="explorePalettesModalAffirmativeButton" data-bs-dismiss="modal" data-bind="visible: explorePalettes().showFiles"><span id="explorePalettesModalAffirmativeAnswer">OK</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
