<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <object data="/static/assets/svg/liu.svg" type="image/svg+xml" width="30" height="30" class="d-inline-block align-top" alt="LiuIcon"></object>
    <img src="static/assets/img/favicon.png" width="30" height="30" id="brandEagleIcon" class="d-inline-block align-top" alt="">
    <div id="eagleAndVersion">
        <a class="navbar-brand inactiveLink" href="" disabled data-intro='Welcome to a quickstart tutorial for EAGLE, the Editor for the Advanced Graph Language Environment. Abort anytime using the "Exit" button or ESC key.'>
            EAGLE
        </a>
        <span>{{version}}</span>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="nav navbar-nav navbar-center">
            <div class="btn-group" role="group" aria-label="Basic example">
                <!--
                <button class="btn btn-outline-secondary navbar-btn" type="button" data-bs-placement="bottom" data-bind="click: zoomToFit, eagleTooltip: 'Zoom To Fit'">
                    <i class="material-icons md-18">zoom_out_map</i>
                </button>
                <button class="btn btn-outline-secondary navbar-btn" type="button" data-bs-placement="bottom" data-bind="click: toggleGrid, eagleTooltip: 'Toggle Grid'">
                    <i class="material-icons md-18">grid_on</i>
                </button>
                -->
                <!-- <button id="saveAsPNG" class="btn btn-outline-secondary navbar-btn" type="button" data-bs-placement="bottom" data-bind="click: saveAsPNG, eagleTooltip: 'Save as PNG'" data-intro="Save a PNG of the current graph.">
                    <i class="material-icons md-18">image</i>
                </button> -->
                <button id="openGraphModelDataModal" class="btn btn-outline-secondary navbar-btn" type="button" data-bs-placement="bottom" data-bind="click: function(){Utils.showModelDataModal($root.logicalGraph().fileInfo());}, eagleTooltip: 'Open Graph ModelData'">
                    <i class="material-icons md-18">info</i>
                </button>
                <button id="centerGraph" class="btn btn-outline-secondary navbar-btn" type="button" data-bs-placement="bottom" data-bind="click: centerGraph, , eagleTooltip: 'Center Graph ' + Utils.getKeyboardShortcutTextByKey('center_graph', true)" data-intro="Center the current graph within the graph rendering area.">
                    <i class="material-icons md-18">filter_center_focus</i>
                </button>
                <button id="zoomIn" class="btn btn-outline-secondary navbar-btn" type="button" data-bs-placement="bottom" data-bind="click: zoomIn, eagleTooltip: 'Zoom In '  + Utils.getKeyboardShortcutTextByKey('zoom_in', true)" data-intro="Zoom in on the graph within the graph rendering area.">
                    <i class="material-icons md-18">zoom_in</i>
                </button>
                <button id="zoomOut" class="btn btn-outline-secondary navbar-btn" type="button" data-bs-placement="bottom" data-bind="click: zoomOut, eagleTooltip: 'Zoom Out ' + Utils.getKeyboardShortcutTextByKey('zoom_out', true)" data-intro="Zoom out from the graph within the graph rendering area.">
                    <i class="material-icons md-18">zoom_out</i>
                </button>
                <button id="toggleSnapToGrid" class="btn btn-outline-secondary navbar-btn" type="button" data-bs-placement="bottom" data-bind="click: toggleSnapToGrid, eagleTooltip: 'Toggle Snap-to-Grid ' + Utils.getKeyboardShortcutTextByKey('toggle_snap_to_grid', true), css: { 'navbar-btn-active': snapToGrid() }" data-intro="Toggle snap-to-grid behaviour within the graph editor.">
                    <i class="material-icons md-18">apps</i>
                </button>
                <!-- ko if: Eagle.allowPaletteEditing() -->
                <button id="addGraphNodesToPalette" class="btn btn-outline-secondary navbar-btn" type="button" data-bs-placement="bottom" data-bind="click: addGraphNodesToPalette, eagleTooltip: 'Add Graph Nodes to Palette ' + Utils.getKeyboardShortcutTextByKey('add_graph_nodes_to_palette', true)" data-intro="Add all nodes in the current graph to the a new or existing palette.">
                    <i class="material-icons md-18">palette</i>
                </button>
                <!-- /ko -->
                <button id="toggleCollapseAllGroups" class="btn btn-outline-secondary navbar-btn" type="button" data-bs-placement="bottom" data-bind="click: toggleCollapseAllGroups, eagleTooltip: 'Collapse/Expand All Groups'" data-intro="Toggle all groups between collapsed and expanded states.">
                    <i class="material-icons md-18">tab_unselected</i>
                </button>
                <button id="toggleCollapseAllNodes" class="btn btn-outline-secondary navbar-btn" type="button" data-bs-placement="bottom" data-bind="click: toggleCollapseAllNodes, eagleTooltip: 'Collapse/Expand All Nodes'" data-intro="Toggle all nodes between collapsed and expanded states.">
                    <i class="material-icons md-18">vertical_align_center</i>
                </button>
                <button id="copyGraphUrl" class="btn btn-outline-secondary navbar-btn" type="button" data-bs-placement="bottom" data-bind="click: copyGraphUrl, eagleTooltip: 'Copy Graph Url'" data-intro="Create a url that points to the current graph and copy the url to the clipboard.">
                    <i class="material-icons md-18">content_copy</i>
                </button>
                <button id="toggleDataNodes" class="btn btn-outline-secondary navbar-btn" type="button" data-bs-placement="bottom" data-bind="click: toggleShowDataNodes, eagleTooltip: 'Toggle Display of Data Nodes ' + Utils.getKeyboardShortcutTextByKey('toggle_show_data_nodes', true), css: { 'navbar-btn-active': showDataNodes() === false }" data-intro="Toggle the display of data nodes in the current graph. Hiding the data nodes can greatly simplify the appearance of the graph.">
                    <i class="material-icons md-18">subtitles</i>
                </button>
                <button id="checkForComponentUpdates" class="btn btn-outline-secondary navbar-btn" type="button" data-bs-placement="bottom" data-bind="click: checkForComponentUpdates, eagleTooltip: 'Check for component updates ' + Utils.getKeyboardShortcutTextByKey('check_for_component_updates', true)" data-intro="Check for updates to the definitions of components used in the current graph.">
                    <i class="material-icons md-18">star</i>
                </button>
            </div>
            <button id="openKeyParameterTable" class="btn btn-outline-secondary navbar-btn" type="button" data-bs-placement="bottom" data-bind="click: function(){eagle.openParamsTableModal('keyParametersTableModal', 'normal')}, eagleTooltip: `Configure Key Graph Attributes ` + Utils.getKeyboardShortcutTextByKey('open_key_parameter_table_modal', true)" data-intro="Open The Graph's Key Parameters Table">
                <i class="material-icons md-18">table_chart</i>
            </button>
            <ul class="nav navbar-nav ms-4" data-intro="Check the graph for common issues and missing information.">
                <button id="checkGraphDone" class="btn btn-outline-success navbar-btn" type="button" data-bs-placement="bottom" data-bind="click: showGraphErrors, visible: graphWarnings().length === 0 && graphErrors().length === 0, eagleTooltip: 'Check Graph for Errors'">
                    <i class="material-icons md-18">done_all</i>
                </button>
                <button id="checkGraphWarnings" class="btn navbar-btn" type="button" data-bs-placement="bottom" style="display: none;" data-bind="click: showGraphErrors, visible: graphWarnings().length > 0 || graphErrors().length > 0, css: {'btn-outline-warning': graphWarnings().length > 0, 'btn-outline-danger': graphErrors().length > 0}, eagleTooltip: 'Check Graph for Errors ' + Utils.getKeyboardShortcutTextByKey('check_graph', true)">
                    <span class="badge bg-warning" data-bind="text: graphWarnings().length, visible: graphWarnings().length > 0"></span>
                    <span class="badge bg-danger" data-bind="text: graphErrors().length, visible: graphErrors().length > 0"></span>
                </button>
            </ul>
        </ul>

        <ul class="nav navbar-nav ms-auto">
            <div id="navDeployBtn" data-bind="eagleTooltip:'Translate graph using the selected algorithm ' + Utils.getKeyboardShortcutTextByKey('deploy_translator', true)">
                <a href='javascript:void(0)' data-bind="click: function(){$root.deployDefaultTranslationAlgorithm()}">Translate</a>
            </div>
            <!-- ko ifnot: Eagle.isInUIMode(Setting.UIMode.Minimal) -->
            <li class="nav-item dropdown" data-intro='Create new graphs'>
                <a class="nav-link dropdown-toggle ms-auto" href="#" id="navbarDropdownGraph" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Graph
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownGraph">
                    <span class="dropdown-item dropDropDownParent" href="#"><img src="/static/assets/img/arrow_right_white_24dp.svg" alt="" id="navbarDropdownGraphNew">New
                        <div class="dropDropDown">
                            <a class="dropdown-item" id="createNewGraph" href="#" data-bind="click: newLogicalGraph">Create New Graph
                                <span data-bind="text: Utils.getKeyboardShortcutTextByKey('new_graph', true)"></span>
                            </a>
                            <a class="dropdown-item" id="createNewGraphFromJson" href="#" data-bind="click: newLogicalGraphFromJson">Create New Graph from JSON</a>
                            <a class="dropdown-item" id="addToGraphFromJson" href="#" data-bind="click: addToGraphFromJson">Add to Graph from JSON</a>
                            <a class="dropdown-item" id="displayGraphAsJson" href="#" data-bind="click: displayLogicalGraphAsJson">Export Graph to JSON</a>
                            <a class="dropdown-item" id="addEdgeToLogicalGraph" href="#" data-bind="click: addEdgeToLogicalGraph">Add Edge to Graph
                                <span data-bind="text: Utils.getKeyboardShortcutTextByKey('add_edge', true)"></span>
                            </a>
                            <a class="dropdown-item" id="createSubgraphFromSelection" href="#" data-bind="click: createSubgraphFromSelection">Create Subgraph from Selection
                                <span data-bind="text: Utils.getKeyboardShortcutTextByKey('create_subgraph_from_selection', true)"></span>
                            </a>
                            <a class="dropdown-item" id="createConstructFromSelection" href="#" data-bind="click: createConstructFromSelection">Create Construct from Selection
                                <span data-bind="text: Utils.getKeyboardShortcutTextByKey('create_construct_from_selection', true)"></span>
                            </a>
                        </div>
                    </span>
                    <div class="dropdown-divider"></div>
                    <span class="dropdown-item dropDropDownParent" href="#">Git Storage<img src="/static/assets/img/arrow_right_white_24dp.svg" alt="">
                        <div class="dropDropDown">
                            <a class="dropdown-item" href="#" data-bind="click: function(){commitToGit(Eagle.FileType.Graph)}">Save Graph</a>
                            <a class="dropdown-item" id="commitToGitAsGraph" href="#" data-bind="click: function(){commitToGitAs(Eagle.FileType.Graph)}">Save Graph As</a>
                            <a class="dropdown-item" id="gitLoadGraphFromRepo" href="#" data-bind="click: function(){eagle.rightWindow().shown(true).mode(Eagle.RightWindowMode.Repository)}">Load From Repository</a>
                        </div>
                    </span>
                    <span class="dropdown-item dropDropDownParent" href="#">Local Storage<img src="/static/assets/img/arrow_right_white_24dp.svg" alt="">
                        <div class="dropDropDown">
                            <a class="dropdown-item" id="loadGraph" href="#" data-bind="click: getGraphFileToLoad">Load Graph
                                <span data-bind="text: Utils.getKeyboardShortcutTextByKey('open_graph_from_local_disk', true)"></span>
                            </a>
                            <a class="dropdown-item" id="insertGraph" href="#" data-bind="click: getGraphFileToInsert">Insert Graph
                                <span data-bind="text: Utils.getKeyboardShortcutTextByKey('insert_graph_from_local_disk', true)"></span>
                            </a>
                            <a class="dropdown-item" id="saveGraph" href="#" data-bind="click: function(){saveFileToLocal(Eagle.FileType.Graph)}">Save Graph</a>
                        </div>
                    </span>
                </div>
            </li>
            <!-- /ko -->
            <!-- ko ifnot: Eagle.isInUIMode(Setting.UIMode.Minimal) -->
            <li class="nav-item dropdown" data-intro='Create new palettes'>
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPalette" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Palette
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPalette">
                <!-- ko if: Eagle.allowPaletteEditing() -->
                    <span class="dropdown-item dropDropDownParent" href="#">New<img src="/static/assets/img/arrow_right_white_24dp.svg" alt="">
                        <div class="dropDropDown">
                            <a class="dropdown-item" id="createNewPalette" href="#" data-bind="click: newPalette">Create New Palette
                                <span data-bind="text: Utils.getKeyboardShortcutTextByKey('new_palette', true)"></span>
                            </a>
                            <a class="dropdown-item" id="createNewPaletteFromJson" href="#" data-bind="click: newPaletteFromJson">Create New Palette From Json</a>
                        </div>
                    </span>
                    <div class="dropdown-divider"></div>
                    <span class="dropdown-item dropDropDownParent" href="#">Git Storage<img src="/static/assets/img/arrow_right_white_24dp.svg" alt="">
                        <div class="dropDropDown">
                            <a class="dropdown-item" href="#" data-bind="click: function(){commitToGit(Eagle.FileType.Palette)}">Save Palette</a>
                            <a class="dropdown-item" id="commitToGitAsPalette" href="#" data-bind="click: function(){commitToGitAs(Eagle.FileType.Palette)}">Save Palette As</a>
                            <a class="dropdown-item" id="loadPaletteFromGitRepo" href="#" data-bind="click: function(){eagle.rightWindow().shown(true).mode(Eagle.RightWindowMode.Repository)}">Load From Repository</a>
                        </div>
                    </span>
                    <span class="dropdown-item dropDropDownParent" href="#">Local Storage<img src="/static/assets/img/arrow_right_white_24dp.svg" alt="">
                        <div class="dropDropDown">
                            <a class="dropdown-item" id="loadPalette" href="#" data-bind="click: getPaletteFileToLoad">Load Palette
                                <span data-bind="text: Utils.getKeyboardShortcutTextByKey('open_palette_from_local_disk', true)"></span>
                            </a>
                            <a class="dropdown-item" id="savePalette" href="#" data-bind="click: function(){saveFileToLocal(Eagle.FileType.Palette)}">Save Palette</a>
                        </div>
                    </span>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" id="saveToPalette" href="#" data-bind="click: addGraphNodesToPalette">Save Node To Palette</a>
                <!-- /ko -->
                <!-- ko if: !Eagle.allowPaletteEditing() -->
                    <a class="dropdown-item" id="loadPalette" href="#" data-bind="click: getPaletteFileToLoad">Load Local Palette
                        <span data-bind="text: Utils.getKeyboardShortcutTextByKey('open_palette_from_local_disk', true)"></span>
                    </a>
                <!-- /ko -->
                </div>
            </li>
            <!-- /ko -->
            <li class="nav-item dropdown" data-intro='Additional usage information and introductions to EAGLE features.'>
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownHelp" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Help
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownHelp">
                    <a class="dropdown-item" id="about" href="#" data-bind="click: showAbout">About</a>
                    <a class="dropdown-item" id="navbarIntroduction" href="#" data-bind="click: function(){runTutorial('nav.navbar');}">Navbar Introduction</a>
                    <a class="dropdown-item" id="onlineDocs" href="#" data-bind="click: onlineDocs">Online Docs</a>
                    <a class="dropdown-item" id="readme" href="#" data-bind="click: readme">GitHub README</a>
                    <a class="dropdown-item" id="submitIssue" href="#" data-bind="click: submitIssue">Submit Issue</a>
                    <a class="dropdown-item" id="keyboardShortcuts" href="#" data-bind="click: openShortcuts">Keyboard Shortcuts
                        <span data-bind="text: Utils.getKeyboardShortcutTextByKey('open_keyboard_shortcut_modal', true)"></span>
                    </a>
                </div>
            </li>
            <a class="nav-link" data-bs-placement="bottom" id="settings" href="#" data-bind="click: openSettings, eagleTooltip: 'Settings'" data-intro="Set user options, editing permissions and external services such as a github/lab tokens and the translator url."><img src="/static/assets/img/settings_white_24dp.svg" alt=""></a>
        </ul>

    </div>
</nav>
<div id="graphNameWrapper">
    <span id="filename" data-bind="text: repositoryFileName"></span>
</div>
