<nav class="navbar navbar-expand-lg navbar-light bg-light" data-bind="style:{'visibility':eagle.getEagleIsReady()}">

    <object data="/static/assets/svg/liu.svg" type="image/svg+xml" width="30" height="30" class="d-inline-block align-top" alt="LiuIcon"></object>
    <img src="static/assets/img/favicon.png" width="30" height="30" id="brandEagleIcon" class="d-inline-block align-top" alt="">
    <div id="eagleAndVersion">
        <a class="navbar-brand inactiveLink" href="#" disabled >
            EAGLE
            <sup>π</sup>
        </a>
        <span>{{version}}</span>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul id="navBarToolBar" class="nav navbar-nav navbar-center">

            <!-- navbar category -->
            <div class="btn-group ms-4 navbarGroup" role="group" aria-label="Basic example">
                <span class="navBarToolBarTitle">Graph</span>
                <button id="openGraphModelDataModal" class="btn btn-outline-secondary navbar-btn iconHoverEffect" type="button" data-bs-placement="bottom" data-bind="click: function(){Utils.showModelDataModal('Graph Info', $root.logicalGraph().fileInfo());}, eagleTooltip: 'Show Graph Info'">
                    <i class="material-icons md-18">info</i>
                </button>
                <button id="openGraphConfigurationTable" class="btn btn-outline-secondary navbar-btn iconHoverEffect" type="button" data-bs-placement="bottom" data-bind="click: function(){ParameterTable.openTable(Eagle.BottomWindowMode.ConfigParameterTable, ParameterTable.SelectType.Normal)}, eagleTooltip: `Display Graph Attributes Configuration ` + KeyboardShortcut.idToText('open_graph_attributes_configuration_table', true)">
                    <i class="md-18 icon-key_attribute_table"></i>
                </button>
                <button id="copyGraphUrl" class="btn btn-outline-secondary navbar-btn iconHoverEffect" type="button" data-bs-placement="bottom" data-bind="click: copyGraphUrl, eagleTooltip: 'Copy Graph Url'" >
                    <i class="material-icons md-18">content_copy</i>
                </button>
                <button id="centerGraph" class="btn btn-outline-secondary navbar-btn iconHoverEffect" type="button" data-bs-placement="bottom" data-bind="click: centerGraph, eagleTooltip: 'Center Graph ' + KeyboardShortcut.idToText('center_graph', true)" >
                    <i class="material-icons md-18">filter_center_focus</i>
                </button>
            </div>

            <!-- navbar category -->
            <!-- <div class="btn-group ms-4 navbarGroup" role="group" aria-label="Basic example">
                <button id="centerGraph" class="btn btn-outline-secondary navbar-btn iconHoverEffect" type="button" data-bs-placement="bottom" data-bind="click: centerGraph, eagleTooltip: 'Center Graph ' + KeyboardShortcut.idToText('center_graph', true)" >
                    <i class="material-icons md-18">filter_center_focus</i>
                </button>
                <button id="screenshot" class="btn btn-outline-secondary navbar-btn iconHoverEffect" type="button" data-bs-placement="bottom" data-bind="click: saveGraphScreenshot, eagleTooltip: 'Screenshot the graph <br><br><em>This will ask for permission to record the screen. If it doesn`t, your browser may lack permissions or might be blocked from asking for them.<br> If the current tab is not automatically selected, please select this tab, window or screen. Note, in this case cropping of the graph may not be accurate.</em>' " >
                    <i class="material-icons md-18">photo_camera</i>
                </button>
                <span class="navBarToolBarTitle">View</span>
            </div> -->

            <!-- navbar category -->
            <div class="btn-group ms-4 navbarGroup" role="group" aria-label="Basic example">
                <span class="navBarToolBarTitle">Editing</span>
                <!-- ko if: Setting.findValue(Setting.ALLOW_GRAPH_EDITING) -->
                    <!--
                    <button id="toggleSnapToGrid" class="btn btn-outline-secondary navbar-btn iconHoverEffect" type="button" data-bs-placement="bottom" data-bind="click: toggleSnapToGrid, eagleTooltip: 'Toggle Snap-to-Grid ' + KeyboardShortcut.idToText('toggle_snap_to_grid', true), css: { 'navbar-btn-active': snapToGrid() }" >
                        <i class="md-18 icon-snap_to_grid"></i>
                    </button>
                    -->
                <!-- /ko -->
                <!-- ko if: Setting.findValue(Setting.ALLOW_PALETTE_EDITING) -->
                    <button id="addGraphNodesToPalette" class="btn btn-outline-secondary navbar-btn iconHoverEffect" type="button" data-bs-placement="bottom" data-bind="click: addGraphNodesToPalette, eagleTooltip: 'Add Graph Nodes to Palette ' + KeyboardShortcut.idToText('add_graph_nodes_to_palette', true)" >
                        <i class="md-18 icon-add_to_palette"></i>
                    </button>
                <!-- /ko -->
                <button id="checkForComponentUpdates" class="btn btn-outline-secondary navbar-btn iconHoverEffect" type="button" data-bs-placement="bottom" data-bind="click: checkForComponentUpdates, eagleTooltip: 'Check for component updates ' + KeyboardShortcut.idToText('check_for_component_updates', true)">
                    <i class="md-18 icon-component_update"></i>
                </button>
            </div>

            <!-- navbar category -->
            <!-- ko if: Setting.findValue(Setting.ALLOW_GRAPH_EDITING) -->
                <div class="btn-group ms-4 navbarGroup" role="group" aria-label="Basic example" data-bind="css: {'navbarGroupWarning': graphWarnings().length > 0, 'navbarGroupError': graphErrors().length > 0,'navbarGroupSuccess':graphWarnings().length === 0 && graphErrors().length === 0}">
                    <span class="navBarToolBarTitle">Issues</span>
                    <!-- ko if: graphWarnings().length === 0 && graphErrors().length === 0 -->
                        <button id="checkGraphDone" class="btn navbar-btn iconHoverEffect" type="button" data-bs-placement="bottom" data-bind="click: showGraphErrors, eagleTooltip: 'Check Graph for Errors'">
                            <i class="material-icons md-18">done_all</i>
                        </button>
                    <!-- /ko -->
                    <!-- ko if: graphWarnings().length > 0 || graphErrors().length > 0 -->
                        <button id="checkGraphWarnings" class="btn navbar-btn iconHoverEffect" type="button" data-bs-placement="bottom" style="display:none;" data-bind="click: showGraphErrors, visible:$root.logicalGraph()!=null, css: {'btn-outline-warning': graphWarnings().length > 0, 'btn-outline-danger': graphErrors().length > 0}, eagleTooltip: 'Check Graph for Errors ' + KeyboardShortcut.idToText('check_graph', true)">
                            <span class="badge bg-warning" data-bind="text: graphWarnings().length, visible: graphWarnings().length > 0"></span>
                            <span class="badge bg-danger" data-bind="text: graphErrors().length, visible: graphErrors().length > 0"></span>
                        </button>
                    <!-- /ko -->
                </div>
            <!-- /ko -->
        </ul>

        <ul class="nav navbar-nav ms-auto">
            <div id="navDeployBtn" data-bind="eagleTooltip:'Translate graph using the selected algorithm ' + KeyboardShortcut.idToText('deploy_translator', true)">
                <a href='javascript:void(0)' data-bind="click: function(){$root.deployDefaultTranslationAlgorithm()}">Translate</a>
            </div>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle ms-auto iconHoverEffect" href="#" id="navbarDropdownGraph" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Graph
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownGraph">
                    <!-- ko if: Setting.findValue(Setting.ALLOW_GRAPH_EDITING) -->
                        <span class="dropdown-item dropDropDownParent" href="#"><img src="/static/assets/img/arrow_right_white_24dp.svg" alt="" id="navbarDropdownGraphNew">New
                            <div class="dropDropDown">
                                <div data-bind="template: {name: 'navbar-menu-item-template', data: 'new_graph'}"></div>
                                <div data-bind="template: {name: 'navbar-menu-item-template', data: 'create_new_graph_from_json'}"></div>
                                <div data-bind="template: {name: 'navbar-menu-item-template', data: 'add_to_graph_from_json'}"></div>
                                <div data-bind="template: {name: 'navbar-menu-item-template', data: 'add_edge'}"></div>
                                <div data-bind="template: {name: 'navbar-menu-item-template', data: 'create_subgraph_from_selection'}"></div>
                                <div data-bind="template: {name: 'navbar-menu-item-template', data: 'create_construct_from_selection'}"></div>
                            </div>
                        </span>
                        <div class="dropdown-divider"></div>
                        <span class="dropdown-item dropDropDownParent" href="#">Git Storage<img src="/static/assets/img/arrow_right_white_24dp.svg" alt="">
                            <div class="dropDropDown">
                                <div data-bind="template: {name: 'navbar-menu-item-template', data: 'save_graph_to_repo'}"></div>
                                <div data-bind="template: {name: 'navbar-menu-item-template', data: 'save_graph_to_repo_as'}"></div>
                                <div data-bind="template: {name: 'navbar-menu-item-template', data: 'open_graph_from_repo'}"></div>
                            </div>
                        </span>
                        <span class="dropdown-item dropDropDownParent" href="#">Local Storage<img src="/static/assets/img/arrow_right_white_24dp.svg" alt="">
                            <div class="dropDropDown">
                                <div data-bind="template: {name: 'navbar-menu-item-template', data: 'save_graph_to_local_disk'}"></div>
                                <div data-bind="template: {name: 'navbar-menu-item-template', data: 'save_graph_to_local_disk_as'}"></div>
                                <div data-bind="template: {name: 'navbar-menu-item-template', data: 'open_graph_from_local_disk'}"></div>
                                <div data-bind="template: {name: 'navbar-menu-item-template', data: 'insert_graph_from_local_disk'}"></div>
                            </div>
                        </span>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" id="displayGraphAsJson" href="#" data-bind="click: function(){displayObjectAsJson(Eagle.FileType.Graph);}">Display As Json</a>
                        <a class="dropdown-item" id="screenshotGraph" href="#" data-bind="click: saveGraphScreenshot">Screenshot</a>
                    <!-- /ko -->
                    <!-- ko ifnot: Setting.findValue(Setting.ALLOW_GRAPH_EDITING) -->
                        <a class="dropdown-item" id="saveGraph" href="#" data-bind="click: function(){saveFileToLocal(Eagle.FileType.Graph)}">Save</a>
                        <a class="dropdown-item" id="loadGraph" href="#" data-bind="click: getGraphFileToLoad">Load
                            <span data-bind="text: KeyboardShortcut.idToText('open_graph_from_local_disk', true)"></span>
                        </a>
                    <!-- /ko -->
                </div>
            </li>
            <!-- ko if: Setting.findValue(Setting.ALLOW_PALETTE_EDITING) || Setting.findValue(Setting.ALLOW_GRAPH_EDITING) -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle iconHoverEffect" href="#" id="navbarDropdownPalette" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Palette
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPalette">
                <!-- ko if: Setting.findValue(Setting.ALLOW_PALETTE_EDITING) -->
                    <span class="dropdown-item dropDropDownParent" href="#">New<img src="/static/assets/img/arrow_right_white_24dp.svg" alt="">
                        <div class="dropDropDown">
                            <a class="dropdown-item" id="createNewPalette" href="#" data-bind="click: newPalette">Create
                                <span data-bind="text: KeyboardShortcut.idToText('new_palette', true)"></span>
                            </a>
                            <a class="dropdown-item" id="createNewPaletteFromJson" href="#" data-bind="click: newPaletteFromJson">Create From Json</a>
                        </div>
                    </span>
                    <div class="dropdown-divider"></div>
                    <span class="dropdown-item dropDropDownParent" href="#">Git Storage<img src="/static/assets/img/arrow_right_white_24dp.svg" alt="">
                        <div class="dropDropDown">
                            <a class="dropdown-item" href="#" data-bind="click: function(){commitToGit(Eagle.FileType.Palette)}">Save</a>
                            <a class="dropdown-item" id="commitToGitAsPalette" href="#" data-bind="click: function(){commitToGitAs(Eagle.FileType.Palette)}">Save As</a>
                            <a class="dropdown-item" id="loadPaletteFromGitRepo" href="#" data-bind="click: function(){eagle.rightWindow().shown(true).mode(Eagle.RightWindowMode.Repository)}">Load From Repository</a>
                        </div>
                    </span>
                    <span class="dropdown-item dropDropDownParent" href="#">Local Storage<img src="/static/assets/img/arrow_right_white_24dp.svg" alt="">
                        <div class="dropDropDown">
                            <a class="dropdown-item" id="savePalette" href="#" data-bind="click: function(){saveFileToLocal(Eagle.FileType.Palette)}">Save</a>
                            <a class="dropdown-item" id="saveAsPalette" href="#" data-bind="click: function(){saveAsFileToLocal(Eagle.FileType.Palette)}">Save As</a>
                            <a class="dropdown-item" id="loadPalette" href="#" data-bind="click: getPaletteFileToLoad">Load
                                <span data-bind="text: KeyboardShortcut.idToText('open_palette_from_local_disk', true)"></span>
                            </a>
                        </div>
                    </span>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" id="saveToPalette" href="#" data-bind="click: addGraphNodesToPalette">Add Graph Nodes</a>
                <!-- /ko -->
                <!-- ko ifnot: Setting.findValue(Setting.ALLOW_PALETTE_EDITING) -->
                    <a class="dropdown-item" id="loadPalette" href="#" data-bind="click: getPaletteFileToLoad">Load
                        <span data-bind="text: KeyboardShortcut.idToText('open_palette_from_local_disk', true)"></span>
                    </a>
                    <a class="dropdown-item" id="savePalette" href="#" data-bind="click: function(){saveFileToLocal(Eagle.FileType.Palette)}">Save</a>
                <!-- /ko -->
                </div>
            </li>
            <!-- /ko -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle ms-auto iconHoverEffect" href="#" id="navbarDropdownConfig" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Config
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownConfig">
                    <a class="dropdown-item" id="createNewConfig" href="#" data-bind="click: newConfig">New
                        <span data-bind="text: KeyboardShortcut.idToText('new_config', true)"></span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" id="displayAllConfigs" href="#" data-bind="click: GraphConfigurationsTable.openTable">Display All
                        <span data-bind="text: KeyboardShortcut.idToText('open_graph_configurations_table', true)"></span>
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle iconHoverEffect" href="#" id="navbarDropdownHelp" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Help
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownHelp">
                    <a class="dropdown-item" id="about" href="#" data-bind="click: showAbout">About</a>
                    <span class="dropdown-item dropDropDownParent" href="#"><img src="/static/assets/img/arrow_right_white_24dp.svg" alt="" id="navbarDropdownTutorials">Tutorials
                        <div class="dropDropDown">
                            <a class="dropdown-item" id="quickIntroTutBtn" href="#" data-bind="click: function(){TutorialSystem.initiateTutorial('Quick Start')}">Quick Introduction</a>
                            <a class="dropdown-item" id="graphBuildingTutBtn" href="#" data-bind="click: function(){TutorialSystem.initiateTutorial('Graph Building')}">Graph Building</a>
                            <a class="dropdown-item" id="graphConfigurationTutBtn" href="#" data-bind="click: function(){TutorialSystem.initiateTutorial('Graph Configurations')}">Graph Configurations</a>
                        </div>
                    </span>
                    <a class="dropdown-item" id="onlineDocs" href="#" data-bind="click: onlineDocs">Online Docs</a>
                    <a class="dropdown-item" id="readme" href="#" data-bind="click: readme">GitHub README</a>
                    <a class="dropdown-item" id="submitIssue" href="#" data-bind="click: submitIssue">Submit Issue</a>
                    <a class="dropdown-item" id="keyboardShortcuts" href="#" data-bind="click: Utils.showShortcutsModal">Keyboard Shortcuts
                        <span data-bind="text: KeyboardShortcut.idToText('open_keyboard_shortcut_modal', true)"></span>
                    </a>
                </div>
            </li>
            <a id="settings" class="nav-link iconHoverEffect" data-bs-placement="bottom" alt="Settings" href="#" data-bind="click: Utils.showSettingsModal, eagleTooltip: 'Settings'">
                <i class="icon-cog md-18"></i>
            </a>
        </ul>

    </div>
</nav>
<div id="graphNameWrapper" data-bind="style: { 'visibility':eagle.getEagleIsReady()}">
    <span id="filename" data-bind="html: repositoryFileName"></span>
    <span id="activeConfig" data-bind="html: activeConfigHtml, eagleTooltip:'Name of the active graph configuration'"></span>
    <span id="fileIsModified" class="material-icons md-18" data-bind="visible: eagle.logicalGraph().fileInfo().modified">draw</span>
</div>
