<!-- Parameter/arguments table -->
<div class="eagleTableDisplay parameterTable" tabindex="-1" role="dialog" aria-labelledby="parameterTableTitle">
    <div class="bottomWindowHeaderWrap" data-bind="click: function(){ParameterTable.resetSelection()}">
        <!-- ko if: eagle.selectedNode() != null -->
            <h5 class="bottomWindowHeader">Node Fields Table: <span data-bind="html: selectedNode().getName()"></span></h5>
            <!-- ko if: selectedNode() != null -->
                <!-- ko if: selectedNode().isLocked() -->
                    <button type="button" class="btn btn-secondary btn-sm" data-bind="click: function() { }, clickBubble: false, eagleTooltip: Utils.getReadOnlyText()">
                        <i class="material-symbols-outlined md-20">lock</i>
                    </button>
                <!-- /ko -->
                <!-- ko ifnot: selectedNode().isLocked() -->
                    <button type="button" class="btn btn-secondary btn-sm" data-bind="eagleTooltip: 'readwrite'">
                        <i class="material-symbols-outlined md-20">lock_open</i>
                    </button>
                <!-- /ko -->
            <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: eagle.selectedNode() === null -->
            <h5 class="bottomWindowHeader">Node Fields Table: <span>(No selection)</span></h5>
        <!-- /ko -->

        <div class="header-center">
            <!-- ko if: selectedNode() != null -->
            <button type="button" class="btn btn-primary" id="parameterTableAddParameterButton" data-bind="click: ParameterTable.addEmptyTableRow, clickBubble:false, disabled: selectedNode().isLocked()" ><span id="parameterTableAddParameter">Add Parameter</span></button>
            <!-- /ko -->
            <!-- ko if: selectedNode() != null && selectedNode().getCategory() === Category.Docker -->
                <button class="btn btn-primary float-left" data-bind="click: ParameterTable.initiateBrowseDocker, clickBubble: false, eagleTooltip: `Browse images on dockerhub`" data-bs-toggle="tooltip" data-html="true" data-bs-placement="right" data-bs-original-title="">
                    Browse DockerHub
                </button>
            <!-- /ko -->
        </div> 
                                
<!-- ------------------------------- column visibility ------------------------------- -->

        <div class="dropdown parameterTableVisibilityContainer">
            <a class="dropdown-toggle dropdown-control icon-table_column_visibility componentTableVisibilityBtn iconHoverEffect" data-bs-toggle="dropdown"></a>
            <div class="dropdown-menu dropdown-menu-right dropdown-area">
                <div class="dropdown-item" data-bind="click:function(){ParameterTable.getActiveColumnVisibility().toggleKeyAttribute()}"><span>Key Parameter</span><input type="checkbox" data-bind="checked:ParameterTable.getActiveColumnVisibility().keyAttribute()"></div>
                <div class="dropdown-item" data-bind="click:function(){ParameterTable.getActiveColumnVisibility().toggleFieldId()}"><span>Field ID</span><input type="checkbox" data-bind="checked:ParameterTable.getActiveColumnVisibility().fieldId()"></div>
                <div class="dropdown-item" data-bind="click:function(){ParameterTable.getActiveColumnVisibility().toggleDefaultValue()}"><span>Default Value</span><input type="checkbox" data-bind="checked:ParameterTable.getActiveColumnVisibility().defaultValue()"></div>
                <div class="dropdown-item" data-bind="click:function(){ParameterTable.getActiveColumnVisibility().toggleDescription()}"><span>Description</span><input type="checkbox" data-bind="checked:ParameterTable.getActiveColumnVisibility().description()"></div>
                <div class="dropdown-item" data-bind="click:function(){ParameterTable.getActiveColumnVisibility().toggleType()}"><span>Type</span><input type="checkbox" data-bind="checked:ParameterTable.getActiveColumnVisibility().type()"></div>
                <div class="dropdown-item" data-bind="click:function(){ParameterTable.getActiveColumnVisibility().toggleFlags()}"><span>Flags</span><input type="checkbox" data-bind="checked:ParameterTable.getActiveColumnVisibility().flags()"></div>
                <div class="dropdown-item" data-bind="click:function(){ParameterTable.getActiveColumnVisibility().toggleParameterType()}"><span>Parameter Type</span><input type="checkbox" data-bind="checked:ParameterTable.getActiveColumnVisibility().parameterType()"></div>
                <!-- ko ifnot: selectedNode()?.isConstruct() -->
                    <div class="dropdown-item" data-bind="click:function(){ParameterTable.getActiveColumnVisibility().toggleUsage()}"><span>Use As</span><input type="checkbox" data-bind="checked:ParameterTable.getActiveColumnVisibility().usage()"></div>
                <!-- /ko -->
                <!-- ko if: selectedNode() === null || selectedNode().isApplication() -->
                    <div class="dropdown-item" data-bind="click:function(){ParameterTable.getActiveColumnVisibility().toggleEncoding()}"><span>Encoding</span><input type="checkbox" data-bind="checked:ParameterTable.getActiveColumnVisibility().encoding()"></div>
                <!-- /ko -->
                <div class="dropdown-item" data-bind="click:function(){ParameterTable.getActiveColumnVisibility().toggleActions()}"><span>Actions</span><input type="checkbox" data-bind="checked:ParameterTable.getActiveColumnVisibility().actions()"></div>
            </div>
        </div>        
                                
<!-- ------------------------------- search bar ------------------------------- -->

        <div class="searchBarContainer" data-bind="clickBubble:false, click:function(){}">
            <i class="material-symbols-outlined md-18 searchBarIcon">search</i>
            <a href="#" data-bind="click:function(data, event){$root.emptySearchBar(Eagle.tableSearchString,data,event);}">
                <i class="material-symbols-outlined md-18 searchBarIconClose">close</i>
            </a>
            <input class="componentSearchBar" type="text" placeholder="Search: eg. app, string" data-bind="valueUpdate: ['afterkeydown', 'input'], value:Eagle.tableSearchString, event:{keyup: function(data,event){$root.setSearchBarClearBtnState(data,event)}},eagleTooltip:`Search for names, types, anything really! You may enter several terms that should match separated by a ','`">
        </div>
    </div>
                                
<!-- ------------------------------- table ------------------------------- -->

    <div class="tableBody">
        <div class="wrapper">
            <!-- ko if: eagle.selectedNode() != null -->
                <!-- ko if: ParameterTable.getTableFields().length === 0 -->
                    <div class="container h-100">
                        <div class="row align-items-center h-100">
                            <div class="col-md-12 text-center">
                                <span class="fs-3">No fields on Node</span>
                                <br/>
                                <span class="fs-6">Fields can be added with the 'Add Parameter' button above</span>
                            </div>
                        </div>
                    </div>
                <!-- /ko -->
                <!-- ko if: ParameterTable.getTableFields().length !== 0 -->
                    <div class="tableInspector">
                        <input id="tableInspectorSelection" type="text" placeholder="Selection" data-bind="value: ParameterTable.formatTableInspectorSelection()" readonly>
                        <input id="tableInspectorValue" type="text" placeholder="Content" data-bind="value: ParameterTable.formatTableInspectorValue(), readonly: ParameterTable.selectionReadonly(), event: {keyup: ParameterTable.tableInspectorUpdateSelection($element.value)}">
                    </div>
                    <div class="scrollWrapper">
                        <table class="eagleTableWrapper paramsTableWrapper">
                                
<!-- ------------------------------- table header ------------------------------- -->

                            <thead>
                                <tr>
                                    <!-- ko if: ParameterTable.getActiveColumnVisibility().keyAttribute() -->
                                        <th class="parameter_table_isKeyAttribute" data-bind="click: function(){ParameterTable.sortTableBy('')}, eagleTooltip:'Sort by original field order'" data-bs-placement="top">
                                            <i id="tableSort_" class="md-18 tableSortIcon icon-tableSortDescending"></i>
                                        </th>
                                    <!-- /ko -->
                                    <!-- ko if: ParameterTable.getActiveColumnVisibility().displayText() -->
                                        <th class="parameter_table_text" data-bind="click: function(){ParameterTable.sortTableBy('displayText')},eagleTooltip:'User-facing name'" data-bs-placement="top">
                                            <i id="tableSort_displayText" class="md-18 tableSortIcon icon-tableSortNone"></i>
                                            Attribute Name
                                            <div data-bind="click: function() { },clickBubble: false, css: {resizer: ParameterTable.setUpColumnResizer('parameter_table_text') === true}"></div>
                                        </th>
                                    <!-- /ko -->
                                    <!-- ko if: ParameterTable.getActiveColumnVisibility().fieldId() -->
                                        <th class="parameter_table_id" data-bind="click: function(){ParameterTable.sortTableBy('fieldId')}, eagleTooltip:'backend id'" data-bs-placement="top">
                                            <i id="tableSort_fieldId" class="md-18 tableSortIcon icon-tableSortNone"></i>
                                            Field ID
                                            <div data-bind="click: function() { },clickBubble: false, css: {resizer: ParameterTable.setUpColumnResizer('parameter_table_id') === true}"></div>
                                        </th>
                                    <!-- /ko -->
                                    <!-- ko if: ParameterTable.getActiveColumnVisibility().value() -->
                                        <th class="parameter_table_value" data-bind="click: function(){ParameterTable.sortTableBy('value')},eagleTooltip:'The value of this parameter'" data-bs-placement="top">
                                            <i id="tableSort_value" class="md-18 tableSortIcon icon-tableSortNone"></i>
                                            Value
                                            <div data-bind="click: function() { },clickBubble: false, css: {resizer: ParameterTable.setUpColumnResizer('parameter_table_value') === true}"></div>
                                        </th>
                                    <!-- /ko -->
                                    <!-- ko if: ParameterTable.getActiveColumnVisibility().defaultValue() -->
                                        <th class="parameter_table_default_value" data-bind="click: function(){ParameterTable.sortTableBy('defaultValue')}, eagleTooltip:'The default value of this parameter before user modifications'" data-bs-placement="top">
                                            <i id="tableSort_defaultValue" class="md-18 tableSortIcon icon-tableSortNone"></i>
                                            Default Value
                                            <div data-bind="click: function() { },clickBubble: false, css: {resizer: ParameterTable.setUpColumnResizer('parameter_table_default_value') === true}"></div>
                                        </th>
                                    <!-- /ko -->
                                    <!-- ko if: ParameterTable.getActiveColumnVisibility().description() -->
                                        <th class="parameter_table_description" data-bind="click: function(){ParameterTable.sortTableBy('description')}, eagleTooltip:'A description of the purpose of this parameter'" data-bs-placement="top">
                                            <i id="tableSort_description" class="md-18 tableSortIcon icon-tableSortNone"></i>
                                            Description
                                            <div data-bind="click: function() { },clickBubble: false, css: {resizer: ParameterTable.setUpColumnResizer('parameter_table_description') === true}"></div>
                                        </th>
                                    <!-- /ko -->
                                    <!-- ko if: ParameterTable.getActiveColumnVisibility().type() -->
                                        <th class="parameter_table_type" data-bind="click: function(){ParameterTable.sortTableBy('type')}, eagleTooltip:'The type of the data stored in this parameter (e.g. Integer, Float, String etc)'" data-bs-placement="top">
                                            <i id="tableSort_type" class="md-18 tableSortIcon icon-tableSortNone"></i>
                                            Type
                                        </th>
                                    <!-- /ko -->
                                    <!-- ko if: ParameterTable.getActiveColumnVisibility().flags() -->
                                        <th class="parameter_table_flags" data-bind="eagleTooltip:'Parameter flags'" data-bs-placement="top">Flags</th>
                                        <!-- /ko -->
                                    <!-- ko if: ParameterTable.getActiveColumnVisibility().parameterType() -->
                                        <th class="parameter_table_parameter_type" data-bind="click: function(){ParameterTable.sortTableBy('parameterType')}, eagleTooltip:'The way this parameter will be used by the component. ComponentParameters are passed to the DALiuGE execution framework. ApplicationArguments are passed to the Application executed by this component.'" data-bs-placement="top">
                                            <i id="tableSort_parameterType" class="md-18 tableSortIcon icon-tableSortNone"></i>
                                            Parameter Type
                                        </th>
                                    <!-- /ko -->                                        
                                    <!-- ko if: ParameterTable.getActiveColumnVisibility().usage() && !eagle.selectedNode()?.isConstruct() -->
                                        <th class="parameter_table_usage" data-bind="click: function(){ParameterTable.sortTableBy('usage')}, eagleTooltip:'InputPorts and OutputPorts are used to specify named inputs and outputs from this Component.'" data-bs-placement="top">
                                            <i id="tableSort_usage" class="md-18 tableSortIcon icon-tableSortNone"></i>
                                            Use As
                                        </th>
                                    <!-- /ko -->
                                    <!-- ko if: ParameterTable.getActiveColumnVisibility().encoding() && eagle.selectedNode()?.isApplication() -->
                                        <th class="parameter_table_encoding" data-bind="click: function(){ParameterTable.sortTableBy('encoding')}, eagleTooltip:'The way data is encoded when passing through this port.'" data-bs-placement="top">
                                            <i id="tableSort_encoding" class="md-18 tableSortIcon icon-tableSortNone"></i>
                                            Encoding
                                        </th>
                                    <!-- /ko -->
                                    <!-- ko if: ParameterTable.getActiveColumnVisibility().actions() -->
                                        <th class="parameter_table_actions" data-bind="eagleTooltip:'Additional operations that are possible on this parameter (e.g. Delete, Duplicate etc)'" data-bs-placement="top">Actions</th>
                                    <!-- /ko -->
                                </tr>
                            </thead>

<!-- ------------------------------- table body ------------------------------- -->

                            <tbody data-bind="foreach: ParameterTable.getTableFields()">
                                <!-- ko if: $data.fitsTableSearchQuery() -->
                                    <!-- ko if: Setting.findValue(Setting.SHOW_NON_CONFIG_PARAMETERS) || $root.logicalGraph().getActiveGraphConfig()?.hasField($data) -->
                                        <tr data-bind="attr: {'id' : 'tableRow_'+$data.getId()}">

<!-- key attribute cell -->

                                            <!-- ko if: ParameterTable.getActiveColumnVisibility().keyAttribute() -->
                                                <td class='columnCell column_KeyAttr'>
                                                    <!-- kept for now as we will need the space for the row drag handle -->
                                                </td>
                                            <!-- /ko -->

<!-- display text cell -->

                                            <!-- ko if: ParameterTable.getActiveColumnVisibility().displayText() -->
                                                <td class='columnCell column_DisplayText' data-bind=" css: { selectedTableParameter: ParameterTable.isSelected('displayText', $data) }, eagleTooltip:description">
                                                    <input class="tableParameter selectionTargets tableFieldDisplayName" placeholder="New Parameter" type="string" data-bind="value: displayText, disabled: ParameterTable.getNodeLockedState($data), valueUpdate: ['afterkeydown', 'input'], click: function(event, data){ParameterTable.select($data.displayText(), 'displayText', $data, $index())}, event:{blur: function(){$(event.target).removeClass('newEmpty')} ,keyup: function(event, data){ParameterTable.select($data.displayText(), 'displayText', $data, $index())}}">
                                                    <!-- ko if: Eagle.selectedLocation() === Eagle.FileType.Graph -->
                                                        <!-- ko ifnot: $root.logicalGraph().getActiveGraphConfig()?.hasField($data) -->
                                                        <button class="iconHoverEffect" data-bind="click: function(){ParameterTable.requestAddField($data)}, disabled: !Setting.findValue(Setting.ALLOW_MODIFY_GRAPH_CONFIG) || ParameterTable.getCurrentParamValueReadonly($data), eagleTooltip:'Add Field to Graph Config', style:{'visibility':'hidden'}, clickBubble:false">
                                                            <i class="material-symbols-outlined">favorite_border</i>
                                                        </button>
                                                        <!-- /ko -->
                                                        <!-- ko if: $root.logicalGraph().getActiveGraphConfig()?.hasField($data) -->
                                                        <button class="iconHoverEffect" data-bind="click: function(){ParameterTable.requestRemoveField($data)}, disabled: !Setting.findValue(Setting.ALLOW_MODIFY_GRAPH_CONFIG) || ParameterTable.getCurrentParamValueReadonly($data), eagleTooltip:'Remove Field from Graph Config', style:{'visibility':'visible'}, clickBubble:false">
                                                            <i class="material-symbols-outlined">favorite</i>
                                                        </button>
                                                        <!-- /ko -->
                                                    <!-- /ko -->
                                                </td>
                                            <!-- /ko -->

<!-- field id cell -->

                                            <!-- ko if: ParameterTable.getActiveColumnVisibility().fieldId() -->
                                                <td class='columnCell column_FieldId' data-bind=" css: { selectedTableParameter: ParameterTable.isSelected('fieldId', $data) },eagleTooltip:id">
                                                    <input class="tableParameter selectionTargets tableFieldFieldId" type="string" disabled data-bind="value: id, valueUpdate: ['afterkeydown', 'input'], click: function(event, data){ParameterTable.select($data.fieldId(), 'fieldId', $data, $index())}, event:{blur: function(){$(event.target).removeClass('newEmpty')}, keyup: function(event, data){ParameterTable.select($data.fieldId(), 'fieldId', $data, $index())}}">
                                                </td>
                                            <!-- /ko -->
                                             
<!-- value cell -->

                                            <!-- ko if: ParameterTable.getActiveColumnVisibility().value()  -->
                                                <td class='columnCell column_Value'data-bind="css: {selectedTableParameter: ParameterTable.isSelected('value', $data) || ParameterTable.isSelected('configValue', $data)}">
                                                    <!-- ko if: $data.getHtmlInputType() === 'number' || $data.getHtmlInputType() === 'text' || $data.getHtmlInputType() === 'password' -->

                                                        <!-- ko if: $data.getType() === 'Integer' -->
                                                            <!-- ko if: $data.getGraphConfigField() -->
                                                                <input class="tableParameter configValueInput" step="1" onfocus="this.previousValue = this.value" onkeydown="this.previousValue = this.value" oninput="validity.valid || (value = this.previousValue)" data-bind="eagleTooltip: 'Configured Value',disabled: ParameterTable.getCurrentParamValueReadonly($data), valueUpdate: ['afterkeydown', 'input'], value: $data.getGraphConfigField().value, attr:{type: $data.getHtmlInputType()},  event: {change: ParameterTable.fieldValueChanged, keyup: function(event, data){ParameterTable.select($data.getGraphConfigField().value(), 'configValue', $data, $index())}, click: function(event, data){ParameterTable.select($data.getGraphConfigField().value(), 'configValue', $data, $index())}}">    
                                                            <!-- /ko -->
                                                            <!-- ko ifnot: $data.getGraphConfigField() -->
                                                                <input class="tableParameter" step="1" onfocus="this.previousValue = this.value" onkeydown="this.previousValue = this.value" oninput="validity.valid || (value = this.previousValue)" data-bind="eagleTooltip: 'Graph Value',disabled: ParameterTable.getCurrentParamValueReadonly($data), valueUpdate: ['afterkeydown', 'input'], value: value, attr:{type: $data.getHtmlInputType()},  event: {change: ParameterTable.fieldValueChanged, keyup: function(event, data){ParameterTable.select($data.value(), 'value', $data, $index())}, click: function(event, data){ParameterTable.select($data.value(), 'value', $data, $index())}}">
                                                            <!-- /ko -->
                                                        <!-- /ko -->

                                                        <!-- ko if: $data.getType() === 'Float' -->
                                                            <!-- ko if: $data.getGraphConfigField() -->
                                                                <input class="tableParameter configValueInput" step="0.1" data-bind="eagleTooltip: 'Configured Value',disabled: ParameterTable.getCurrentParamValueReadonly($data), valueUpdate: ['afterkeydown', 'input'], value: $data.getGraphConfigField().value, attr:{type: $data.getHtmlInputType()},  event: {change: ParameterTable.fieldValueChanged, keyup: function(event, data){ParameterTable.select($data.getGraphConfigField().value(), 'configValue', $data, $index())}, click: function(event, data){ParameterTable.select($data.getGraphConfigField().value(), 'configValue', $data, $index())}}">    
                                                            <!-- /ko -->
                                                            <!-- ko ifnot: $data.getGraphConfigField() -->
                                                                <input class="tableParameter"  step="0.1" data-bind="eagleTooltip: 'Graph Value', disabled: ParameterTable.getCurrentParamValueReadonly($data), valueUpdate: ['afterkeydown', 'input'], value: value, attr:{type: $data.getHtmlInputType()},  event: {change: ParameterTable.fieldValueChanged, keyup: function(event, data){ParameterTable.select($data.value(), 'value', $data, $index())}, click: function(event, data){ParameterTable.select($data.value(), 'value', $data, $index())}}">
                                                            <!-- /ko -->
                                                        <!-- /ko -->

                                                        <!-- string value -->
                                                        <!-- ko ifnot: $data.getType() === 'Integer' || $data.getType() === 'Float' -->
                                                            <!-- ko if: $data.getGraphConfigField() -->
                                                                <textarea style="resize: none;" class="tableParameter inputNoArrows configValueInput tableFieldStringValueInput" data-bind="eagleTooltip: 'Configured Value', disabled: ParameterTable.getCurrentParamValueReadonly($data), valueUpdate: ['afterkeydown', 'input'], value: $data.getGraphConfigField().value, attr:{type: $data.getHtmlInputType()}, event: {change: ParameterTable.fieldValueChanged, keyup: function(event, data){ParameterTable.select($data.getGraphConfigField().value(), 'configValue', $data, $index())}, click: function(event, data){ParameterTable.select($data.getGraphConfigField().value(), 'configValue', $data, $index())}}"></textarea>
                                                            <!-- /ko -->
                                                            <!-- ko ifnot: $data.getGraphConfigField() -->
                                                                <textarea style="resize: none;" class="tableParameter inputNoArrows tableFieldStringValueInput" data-bind="eagleTooltip: 'Graph Value', disabled: ParameterTable.getCurrentParamValueReadonly($data), valueUpdate: ['afterkeydown', 'input'], value: value, attr:{type: $data.getHtmlInputType()},  event: {change: ParameterTable.fieldValueChanged, keyup: function(event, data){ParameterTable.select($data.value(), 'value', $data, $index())}, click: function(event, data){ParameterTable.select($data.value(), 'value', $data, $index())}}"></textarea>
                                                            <!-- /ko -->
                                                            <button class="parameterTableEditParam icon-pencil iconHoverEffect" data-bind="click:function(data,event){ParameterTable.requestEditValueField($data, false)}"></button>
                                                        <!-- /ko -->
                                                    <!-- /ko -->

                                                    <!-- ko if: $data.getHtmlInputType() === 'checkbox' -->
                                                        <!-- ko if: $data.getGraphConfigField() -->
                                                            <div class="checkboxWrapper configValueInput" data-bind="eagleTooltip: 'Configured Value'">
                                                                <div>
                                                                    <input class="tableParameter" tabindex='-1' data-bind="checked: valIsTrue($data.getGraphConfigField().value()), disabled: ParameterTable.getCurrentParamValueReadonly($data), valueUpdate: ['afterkeydown', 'input'], value: value, event: {change: function(){$data.getGraphConfigField().toggle(); ParameterTable.fieldValueChanged();}}" type="checkbox">
                                                                </div>
                                                            </div>
                                                        <!-- /ko -->
                                                        <!-- ko ifnot: $data.getGraphConfigField() -->
                                                            <div class="checkboxWrapper" data-bind="eagleTooltip: 'Graph Value'">
                                                                <div>
                                                                    <input class="tableParameter" tabindex='-1' data-bind="checked: valIsTrue($data.value()), disabled: ParameterTable.getCurrentParamValueReadonly($data), valueUpdate: ['afterkeydown', 'input'], value: value, event: {change: function(){$data.toggle(); ParameterTable.fieldValueChanged();}}" type="checkbox">
                                                                </div>
                                                            </div>
                                                        <!-- /ko -->
                                                    <!-- /ko -->

                                                    <!-- ko if: $data.getHtmlInputType() === 'select' -->
                                                        <!-- ko if: $data.getGraphConfigField() -->
                                                            <div class="checkboxWrapper configValueInput" data-bind="eagleTooltip: 'Configured Value'">
                                                                <div>
                                                                    <select aria-label="Label" aria-describedby="group-addon" data-bs-placement="bottom" data-bind="disabled: ParameterTable.getCurrentParamValueReadonly($data.getGraphConfigField()), event: {change: ParameterTable.fieldValueChanged}, options: $data.options, value: $data.getGraphConfigField().value">
                                                                        <!-- options are added dynamically -->
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        <!-- /ko -->
                                                        <!-- ko ifnot: $data.getGraphConfigField() -->
                                                            <div class="checkboxWrapper" data-bind="eagleTooltip: 'Graph Value'">
                                                                <div>
                                                                    <select aria-label="Label" aria-describedby="group-addon" data-bs-placement="bottom" data-bind="disabled: ParameterTable.getCurrentParamValueReadonly($data), options: $data.options, value: $data.value">
                                                                        <!-- options are added dynamically -->
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        <!-- /ko -->
                                                    <!-- /ko -->
                                                </td>
                                            <!-- /ko -->
                                             
<!-- default value cell -->
 
                                            <!-- ko if: ParameterTable.getActiveColumnVisibility().defaultValue() -->
                                                <td class='columnCell column_DefaultValue' data-bind="css: {selectedTableParameter: ParameterTable.isSelected('defaultValue', $data) }">
                                                    <!-- ko if: $data.getHtmlInputType() === 'number' || $data.getHtmlInputType() === 'text' || $data.getHtmlInputType() === 'password' -->

                                                        <!-- integer -->
                                                        <!-- ko if: $data.getType() === 'Integer' -->
                                                            <input class="tableParameter" step="1" onfocus="this.previousValue = this.value" onkeydown="this.previousValue = this.value" oninput="validity.valid || (value = this.previousValue)" data-bind="disabled: ParameterTable.getNodeLockedState($data), valueUpdate: ['afterkeydown', 'input'], value: defaultValue, attr:{type: $data.getHtmlInputType()}, event: {change: ParameterTable.fieldValueChanged, keyup: function(event, data){ParameterTable.select($data.defaultValue(), 'defaultValue', $data, $index())}, click: function(event, data){ParameterTable.select($data.defaultValue(), 'defaultValue', $data, $index())}}">
                                                        <!-- /ko -->

                                                        <!-- ko if: $data.getType() === 'Float' -->
                                                            <input class="tableParameter"  step="0.1" data-bind="disabled: ParameterTable.getNodeLockedState($data), valueUpdate: ['afterkeydown', 'input'], value: defaultValue, attr:{type: $data.getHtmlInputType()}, event: {change: ParameterTable.fieldValueChanged, keyup: function(event, data){ParameterTable.select($data.defaultValue(), 'defaultValue', $data, $index())}, click: function(event, data){ParameterTable.select($data.defaultValue(), 'defaultValue', $data, $index())}}">
                                                        <!-- /ko -->

                                                        <!-- string -->
                                                        <!-- ko ifnot: $data.getType() === 'Integer' || $data.getType() === 'Float' -->
                                                            <textarea  style="resize: none;" class="tableParameter inputNoArrows" data-bind="disabled: ParameterTable.getNodeLockedState($data), valueUpdate: ['afterkeydown', 'input'], value: defaultValue, attr:{type: $data.getHtmlInputType()}, event: {change: ParameterTable.fieldValueChanged, keyup: function(event, data){ParameterTable.select($data.defaultValue(), 'defaultValue', $data, $index())}, click: function(event, data){ParameterTable.select($data.defaultValue(), 'defaultValue', $data, $index())}}"></textarea>
                                                            <button class="parameterTableEditParam icon-pencil iconHoverEffect" data-bind="click:function(data,event){ParameterTable.requestEditValueField($data, true)}"></button>
                                                        <!-- /ko -->
                                                    <!-- /ko -->
                                                     
                                                    <!-- checkbox -->
                                                    <!-- ko if: $data.getHtmlInputType() === 'checkbox' -->
                                                        <input class="tableParameter" tabindex='-1' onclick="$(this).val(this.checked ? true : false)" data-bind="checked: valIsTrue($data.defaultValue()), disabled: ParameterTable.getNodeLockedState($data), valueUpdate: ['afterkeydown', 'input'], value: defaultValue, attr:{type: $data.getHtmlInputType()}, event: {change: ParameterTable.fieldValueChanged}">
                                                    <!-- /ko -->

                                                    <!-- selection input -->
                                                    <!-- ko if: $data.getHtmlInputType() === 'select' -->
                                                        <!-- ko ifnot: Setting.findValue(Setting.ALLOW_COMPONENT_EDITING) -->
                                                            <select aria-label="Label" aria-describedby="group-addon" data-bs-placement="bottom" data-bind="disabled: ParameterTable.getNodeLockedState($data), event: {change: ParameterTable.fieldValueChanged}, options: $data.options, value: $data.defaultValue">
                                                                <!-- options are added dynamically -->
                                                            </select>
                                                        <!-- /ko -->
                                                        <!-- ko if: Setting.findValue(Setting.ALLOW_COMPONENT_EDITING) -->
                                                            <div class="dropdown parameterTableTypeCustomSelect">
                                                                <a class="dropdown-toggle dropdown-control" data-bind="text:$data.defaultValue, disabled: ParameterTable.getNodeLockedState($data)" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                                                                <div class="dropdown-menu dropdown-menu-right dropdown-area" aria-labelledby="parameterTableTpeCustomSelect">
                                                                    <!-- ko foreach:$data.options()-->
                                                                        <div class="dropdown-item" data-bind="click:function(data, event){$parent.setDefaultValue($data);}">
                                                                            <input data-bind="value:$data, event: {change:function(data,event){$parent.editOption($index(),$(event.target).val())}}" type="text">
                                                                            <button class="typeSelectDelete" data-bind="clickBubble:false, click: function(){$parent.removeOption($index())}"><i class="material-symbols-outlined md-24 iconHoverEffect">delete</i></button>
                                                                        </div>
                                                                    <!-- /ko -->
                                                                    <div class="dropdown-item add" data-bind="click:function(data,event){event.stopPropagation();addOption('')}">
                                                                        <i class="material-symbols-outlined iconHoverEffect">add</i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        <!-- /ko -->
                                                    <!-- /ko -->
                                                </td>
                                            <!-- /ko -->
                                             
<!-- description cell -->
 
                                            <!-- ko if: ParameterTable.getActiveColumnVisibility().description() -->
                                                <td class='columnCell column_Description' data-bind=" css: { selectedTableParameter: ParameterTable.isSelected('description', $data) }, eagleTooltip:description">
                                                    <textarea  style="resize: none;" class="tableParameter" type="string" data-bind="value: description, disabled: ParameterTable.getNodeLockedState($data), valueUpdate: ['afterkeydown', 'input'], click: function(event, data){ParameterTable.select($data.description(), 'description', $data, $index())}, event:{keyup: function(event, data){ParameterTable.select($data.description(), 'description', $data, $index())}}"></textarea>
                                                    <!-- ko ifnot: ParameterTable.getNodeLockedState($data) -->
                                                        <button class="parameterTableEditParam icon-pencil iconHoverEffect" data-bind="click:function(data,event){ParameterTable.requestEditDescriptionInModal($data)}"></button>
                                                    <!-- /ko -->
                                                </td>
                                            <!-- /ko -->
                                             
<!-- type cell -->
 
                                            <!-- ko if: ParameterTable.getActiveColumnVisibility().type() -->
                                                <td class='columnCell column_Type'>
                                                    <!-- ko if: $data.isEvent -->
                                                    <span class="typeEvent">&lt;Event&gt;</span>
                                                    <!-- /ko -->
                                                    <!-- ko ifnot: $data.isEvent -->
                                                        <!-- ko ifnot: Setting.findValue(Setting.ALLOW_COMPONENT_EDITING) -->
                                                            <select data-bind="options: $root.types(), value: type, disabled: ParameterTable.getNodeLockedState($data)">
                                                                <!-- options are added dynamically -->
                                                            </select>
                                                        <!-- /ko -->
                                                        <!-- ko if: Setting.findValue(Setting.ALLOW_COMPONENT_EDITING) -->
                                                            <div class="input-group">
                                                                <input  class="typesInput form-control" type="text" autocomplete="off" data-bind="value:type, attr:{id:'typeInputFor_'+$data.getId()}">
                                                                <button class="btn btn-outline-secondary dropdown-control" data-bs-toggle="dropdown" aria-expanded="false" data-bind="attr:{id:'typeButtonFor_'+$data.getId()}" type="button">
                                                                    <span class="material-symbols-outlined iconHoverEffect">
                                                                        arrow_drop_down
                                                                    </span>
                                                                </button>
                                                                <ul class="dropdown-menu dropdown-menu-end dropdown-area" data-bind="attr:{id:'typeFor_'+$data.getId()}">
                                                                    <!-- ko foreach:$root.types() -->
                                                                        <a class="dropdown-item" data-bind="text:$data, click:function(){$root.tableDropdownClick($data, $parent);}"></a>
                                                                    <!-- /ko -->
                                                                </ul>
                                                            </div>
                                                        <!-- /ko -->
                                                    <!-- /ko -->
                                                </td>
                                            <!-- /ko --> 
                                             
<!-- flags cell -->
 
                                            <!-- ko if: ParameterTable.getActiveColumnVisibility().flags() -->
                                                <td class='columnCell column_Flags'>    
                                                    <!-- ko if: ParameterTable.getNodeLockedState($data) -->
                                                            <!-- ko if: $data.isReadonly() -->
                                                            <button type="button" disabled data-bind="click: function(){$data.toggleReadOnly();},  eagleTooltip:Utils.getReadOnlyText()" data-bs-placement="left">
                                                                <i class="material-symbols-outlined iconHoverEffect">lock</i>
                                                            </button>
                                                        <!-- /ko -->
                                                        <!-- ko ifnot: $data.isReadonly() -->
                                                            <button type="button" disabled data-bind="click: function(){$data.toggleReadOnly();},  eagleTooltip:Utils.getReadOnlyText()" data-bs-placement="left">
                                                                <i class="material-symbols-outlined iconHoverEffect">lock_open</i>
                                                            </button>
                                                        <!-- /ko -->
                                                    <!-- /ko -->
                                                    <!-- ko ifnot: ParameterTable.getNodeLockedState($data) -->
                                                        <!-- ko if: $data.isReadonly() -->
                                                            <button type="button" data-bind="click: function(){$data.toggleReadOnly();}, eagleTooltip: 'Parameter Value is read only<br/>Click to toggle'" data-bs-placement="left">
                                                                <i class="material-symbols-outlined iconHoverEffect">lock</i>
                                                            </button>
                                                        <!-- /ko -->
                                                        <!-- ko ifnot: $data.isReadonly() -->
                                                            <button  type="button" data-bind="click: function(){$data.toggleReadOnly();},  eagleTooltip: 'Parameter Value is not read only<br/>Click to toggle'" data-bs-placement="left">
                                                                <i class="material-symbols-outlined iconHoverEffect">lock_open</i>
                                                            </button>
                                                        <!-- /ko -->
                                                        <!-- ko if: Setting.findValue(Setting.ALLOW_COMPONENT_EDITING)-->
                                                            <!-- ko if: $data.isPrecious() -->
                                                                <button type="button" data-bind="click: $data.togglePrecious, eagleTooltip: 'Parameter is precious<br/>Click to toggle'" data-bs-placement="left">
                                                                    <i class="material-symbols-outlined iconHoverEffect">diamond</i>
                                                                </button>
                                                            <!-- /ko -->
                                                            <!-- ko ifnot: $data.isPrecious() -->
                                                                <button type="button" data-bind="click: $data.togglePrecious, eagleTooltip: 'Parameter is not precious<br/>Click to toggle'" data-bs-placement="left">
                                                                    <i class="material-symbols-outlined iconHoverEffect">diamond</i>
                                                                </button>
                                                            <!-- /ko -->
                                                        <!-- /ko -->
                                                        <!-- ko if: Setting.findValue(Setting.ALLOW_COMPONENT_EDITING)-->
                                                                <!-- ko if: $data.isPositionalArgument() -->
                                                                <button type="button" data-bind="click: $data.togglePositionalArgument, eagleTooltip: 'Parameter is positional<br/>Click to toggle'" data-bs-placement="left">
                                                                    <i class="material-symbols-outlined iconHoverEffect">location_on</i>
                                                                </button>
                                                            <!-- /ko -->
                                                            <!-- ko ifnot: $data.isPositionalArgument() -->
                                                                <button type="button" data-bind="click: $data.togglePositionalArgument, eagleTooltip: 'Parameter is not positional<br/>Click to toggle'" data-bs-placement="left">
                                                                    <i class="material-symbols-outlined iconHoverEffect">location_on</i>
                                                                </button>
                                                            <!-- /ko -->
                                                        <!-- /ko -->
                                                        <!-- ko ifnot: $data.usage() === Daliuge.FieldUsage.NoPort-->
                                                            <!-- ko if: $data.isEvent() -->
                                                                <button type="button" data-bind="click: function(){$data.toggleEvent();}, eagleTooltip: 'Port is event port<br/>Click to toggle'" data-bs-placement="left">
                                                                    <i class="material-symbols-outlined iconHoverEffect">alarm_on</i>
                                                                </button>
                                                            <!-- /ko -->
                                                            <!-- ko ifnot: $data.isEvent() -->
                                                                <button type="button" data-bind="click: function(){$data.toggleEvent();}, eagleTooltip: 'Port is not event port<br/>Click to toggle'" data-bs-placement="left">
                                                                    <i class="material-symbols-outlined iconHoverEffect">alarm_off</i>
                                                                </button>
                                                            <!-- /ko -->
                                                        <!-- /ko -->
                                                    <!-- /ko -->
                                                </td>
                                            <!-- /ko -->
                                             
<!-- parameter type cell -->
 
                                            <!-- ko if: ParameterTable.getActiveColumnVisibility().parameterType() -->
                                                <td class='columnCell column_ParamType'>
                                                    <div class="checkboxWrapper">
                                                        <select class="tableFieldParamTypeSelect" data-bind="options: ParameterTable.getParameterTypeOptions($data), value: parameterType, disabled: ParameterTable.getParameterTypeLockedState($data)">
                                                            <!-- options are added dynamically -->
                                                        </select>
                                                    </div>
                                                </td>
                                            <!-- /ko -->
                                             
<!-- usage cell -->
 
                                            <!-- ko if: ParameterTable.getActiveColumnVisibility().usage() && !eagle.selectedNode()?.isConstruct() -->
                                                <td class='columnCell column_Usage'>
                                                    <div class="checkboxWrapper">
                                                        <select class="tableFieldUseAs" data-bind="options: eagle.selectedNode().usageOptions, value: usage, disabled: ParameterTable.getParamsTableEditState() , event: {change: ParameterTable.fieldUsageChanged}">
                                                            <!-- options are added dynamically -->
                                                        </select>
                                                    </div>
                                                </td>
                                            <!-- /ko -->
                                             
<!-- encoding cell -->
 
                                            <!-- ko if: ParameterTable.getActiveColumnVisibility().encoding() && eagle.selectedNode()?.isApplication() -->
                                                <td class='columnCell column_Encoding'>
                                                    <!-- ko if: $data.usage() === Daliuge.FieldUsage.NoPort-->
                                                        <span class="faded">N/A</span>
                                                    <!-- /ko -->
                                                    <!-- ko ifnot: $data.usage() === Daliuge.FieldUsage.NoPort-->
                                                        <div class="checkboxWrapper">
                                                            <select class="tableFieldEncoding" data-bind="options: Object.values(Daliuge.Encoding), value: encoding, disabled: ParameterTable.getParamsTableEditState()">
                                                                <!-- options are added dynamically -->
                                                            </select>
                                                        </div>
                                                    <!-- /ko -->
                                                </td>
                                            <!-- /ko -->
                                             
<!-- actions cell -->
 
                                            <!-- ko if: ParameterTable.getActiveColumnVisibility().actions() -->
                                                <td class="columnCell column_Actions">
                                                    <button class="resetDefaults iconHoverEffect" onclick="$(this).val(this.checked ? true : false)" data-bind="click: function(){$data.resetToDefault();$root.selectedObjects.valueHasMutated();$root.flagActiveFileModified();}, disabled: ParameterTable.getCurrentParamReadonly($data), eagleTooltip:'Reset To Default'"><i class="material-symbols-outlined">upload_file</i></button>
                                                    <!-- ko ifnot: ParameterTable.getNodeLockedState($data) -->
                                                        <button class="edit iconHoverEffect" onclick="$(this).val(this.checked ? true : false)" data-bind="click: $root.editField, disabled: ParameterTable.getCurrentParamReadonly($data), eagleTooltip:'Edit'"><i class="material-symbols-outlined">edit</i></button>
                                                        <button class="duplicate iconHoverEffect" onclick="$(this).val(this.checked ? true : false)" data-bind="click: function(){ParameterTable.duplicateTableRow($index(), $data.getId())}, disabled: ParameterTable.getNodeLockedState($data), eagleTooltip:'Duplicate'"><i class="material-symbols-outlined">content_copy</i></button>
                                                        <button class="delete iconHoverEffect" onclick="$(this).val(this.checked ? true : false)" data-bind="click: function(){ParameterTable.deleteTableRow($data)}, disabled: ParameterTable.getNodeLockedState($data), eagleTooltip:'Remove parameter'"><i class="material-symbols-outlined md-24">delete</i></button>
                                                    <!-- /ko -->
                                                    <!-- ko if: $data.getHasErrors()-->
                                                        <button class="text-danger iconHoverEffect" disabled data-bind="eagleTooltip:ParameterTable.getErrorsWarningsAsHtml($data)"><i class="material-symbols-outlined">error</i></button>
                                                    <!-- /ko -->
                                                    
                                                    <!-- ko if: $data.getHasOnlyWarnings()-->
                                                        <button class="text-warning iconHoverEffect" disabled data-bind="eagleTooltip:ParameterTable.getErrorsWarningsAsHtml($data)"><i class="material-symbols-outlined">warning</i></button>
                                                    <!-- /ko -->
                                                </td>
                                            <!-- /ko -->
                                        </tr>
                                    <!-- /ko -->
                                <!-- /ko -->
                            </tbody>
                        </table>
                    </div>
                <!-- /ko -->
            <!-- /ko -->             

<!-- ------------------------------- table unavailable ------------------------------- -->

            <div class="container h-100">
                <div class="row align-items-center h-100">
                    <div class="col-md-12 text-center">
                        <!-- ko if: eagle.selectedObjects().length > 1 -->
                            <span class="fs-3">Too Many Nodes Selected</span>
                            <br/>
                            <span class="fs-6">Select one node to change its parameters</span>
                        <!-- /ko -->
                        <!-- ko if: eagle.selectedObjects().length === 0 -->
                            <span class="fs-3">No node selected</span>
                            <br/>
                            <span class="fs-6">Select a node to change its parameters</span>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>