<div class="card">
    <h5 class="card-header" data-toggle="collapse" href="#nodeCategoryCollapse7" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" data-bind="click: toggleInspectorSection" data-section-name="Output Application">
        <i class="material-icons interactive closedIcon nodeMenuIndicator" data-toggle="tooltip" data-placement="top" data-html="true" data-bind="attr:{title:'Expand/Collapse'}, css:{closedIcon:inspectorState().outputApplication}">keyboard_arrow_down</i>
        <i class="material-icons">apps</i>
        <span class="nodeInspectorSubsectionTitle">Output Application</span>
    </h5>
    <div class="collapse nodeInspectorCollapseAll" id="nodeCategoryCollapse7">
        <div class="card-body output-application">
            <inspector-component params="node: $root.selectedNode().outputApplication, selectCallback: $root.setNodeOutputApplication, inspectCallback: $root.selectOutputApplicationNode, selectId:'nodeInspectorAddOutputApplication', changeId:'nodeInspectorChangeOutputApplication', inspectId:'nodeInspectorInspectOutputApplication'"></inspector-component>
        </div>
    </div>
</div>
