<div class="card">
    <h5 class="card-header" data-bs-toggle="collapse" href="#nodeCategoryCollapse8" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" data-bind="click: inspectorState().toggleSection" data-section-name="Outputs">
        <i class="material-icons interactive closedIcon nodeMenuIndicator" data-bs-placement="top" data-bind="eagleTooltip:'Expand/Collapse', css:{closedIcon:inspectorState().outputPorts}">keyboard_arrow_down</i>
        <i class="material-icons">arrow_forward</i>
        <span class="nodeInspectorSubsectionTitle" data-bind="eagleTooltip:'Definition of outgoing edges for this component.'">Output Ports</span>
    </h5>
    <div class="collapse nodeInspectorCollapseAll" id="nodeCategoryCollapse8">
        <div class="card-body">
            <!-- ko foreach: selectedNode().getOutputPorts() -->
            <port params="id: $data.getId(), name: $data.getDisplayText(), description: $data.getDescriptionText(), multiplicity: $root.logicalGraph().findMultiplicity($root.selectedNode()), isEventPort: $data.isEvent(), toggleEvent: $data.toggleEvent, input: false, fieldType: Eagle.FieldType.OutputPort"></port>
            <!-- /ko -->

            <!-- ko ifnot: selectedNode().isLocked()-->
                <button class="btn btn-secondary btn-block nodeInspectorDropDown btn_wide" id="nodeInspectorAddOutputPort" type="button" data-bind="click: $root.addOutputPortHTML, eagleTooltip:'Add output port'" data-bs-placement="left">
                    <i class="material-icons md-18">add</i>
                </button>
                <div id="nodeInspectorAddOutputPortDiv" class="nodeInspectorDropdownDiv">
                    <div class="nodeInspectorDropdownInner" data-bind="event:{mouseleave:function(){hideDropDown('nodeInspectorAddOutputPortDiv')}}">
                        <div id="nodeInspectorOutputPortDropDownKO">
                            <!-- options added dynamically -->
                        </div>
                    </div>
                </div>
            <!-- /ko -->
        </div>
    </div>
</div>
