<div class="accordion-item">
    <h2 class="accordion-header" id="inspectorOutputAppHeading">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#inspectorOutputAppCollapse" aria-expanded="false" aria-controls="inspectorOutputAppCollapse">
            <i class="material-icons">apps</i>
            <span class="nodeInspectorSubsectionTitle">Output Application</span>
        </button>
    </h2>
    <div id="inspectorOutputAppCollapse" class="accordion-collapse collapse">
        <div class="accordion-body">
            <inspector-component params="node: $root.selectedNode().outputApplication, selectCallback: function(){$root.setNodeOutputApplication($root.selectedNode().key())}, inspectCallback: $root.selectOutputApplicationNode, selectId:'nodeInspectorAddOutputApplication', changeId:'nodeInspectorChangeOutputApplication', inspectId:'nodeInspectorInspectOutputApplication'"></inspector-component>
        </div>
    </div>
</div>