<div class="accordion-item">
    <h2 class="accordion-header" id="inspectorComponentParamsHeading">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#inspectorComponentParamsCollapse" aria-expanded="false" aria-controls="inspectorComponentParamsCollapse" onclick="eagle.inspectorCollapseState()">
            <i class="material-icons">archive</i>
            <span class="nodeInspectorSubsectionTitle" data-bind="eagleTooltip:'Wrapper parameters describing this component for the DALiuGE system.'">Component Parameters</span>
        </button>
        <button class="btn btn-secondary btn-sm openParamsTableBtn" data-bind=" click: function(data, event){openParamsTableModal('inspectorTableModal','normal')}, clickBubble: false, eagleTooltip: 'Open Component Parameters in Table ' + Utils.getKeyboardShortcutTextByKey('open_component_parameter_table_modal', true)">
            <i class="material-icons md-18">table_chart</i>
        </button>
    </h2>
    <div id="inspectorComponentParamsCollapse" class="accordion-collapse collapse">
        <div class="accordion-body">
            <div class="searchBarContainer">
                <i class="material-icons md-18 searchBarIcon">search</i>
                <a href="#" data-bind="click:function(data, event){$root.emptySearchBar(Eagle.componentParamsSearchString,data,event)}">
                    <i class="material-icons md-18 searchBarIconClose">close</i>
                </a>
                <input class="componentSearchBar" type="text" placeholder="Search" data-bind="valueUpdate: ['afterkeydown', 'input'], value:Eagle.componentParamsSearchString, event:{keyup: function(data,event){$root.setSearchBarClearBtnState(data,event)}}"></input>
            </div>
            <!-- ko foreach: selectedNode().getComponentParametersWithNoPorts() -->
                <!-- ko if: $data.fitsComponentSearchQuery() -->
                    <!-- ko if: !$data.isDaliugeField() || Setting.findValue(Setting.SHOW_NON_KEY_PARAMETERS) -->
                        <field params="data: $data, ro: $data.isReadonly()"></field>
                    <!-- /ko -->
                <!-- /ko -->
            <!-- /ko -->
        </div>
    </div>
</div>