<div class="card">
    <h5 class="card-header" data-toggle="collapse" href="#nodeCategoryCollapse1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" data-bind="event: {click: $root.spinCollapseIcon}">
        <i class="material-icons interactive" data-toggle="tooltip" data-placement="top" data-html="true" data-bind="attr:{title:'Expand/Collapse'}">keyboard_arrow_down</i>
        <i class="material-icons">note</i>
        <span>Description</span>
    </h5>
    <div class="collapse show" id="nodeCategoryCollapse1">
        <div class="card-body">
            <textarea class="form-control" rows="3" data-bind="nodeDataProperty: 'description', readonly: selectedNode().isLocked(), event: {change: Eagle.updateTooltips}"></textarea>
        </div>
    </div>
</div>
