<div class="card">
    <h5 class="card-header" data-bs-toggle="collapse" href="#nodeCategoryCollapse11" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" data-bind="click: inspectorState().toggleSection" data-section-name="Application Arguments">
        <i class="material-icons interactive nodeMenuIndicator" data-bs-placement="top" data-bind="eagleTooltip:'Expand/Collapse', css:{closedIcon:inspectorState().applicationParameters}">keyboard_arrow_down</i>
        <i class="material-icons">settings_applications</i>
        <span class="nodeInspectorSubsectionTitle" data-bind="eagleTooltip:'Parameters which are passed on to the payload application of this component at runtime.'">Application Arguments</span>
    </h5>
    <button class="btn btn-secondary btn-sm openParamsTableBtn" data-bind=" click: function(data, event){openParamsTableModal(Eagle.FieldType.ApplicationParam)}, clickBubble: false, eagleTooltip: 'Open Application Arguments in Table ' + Utils.getKeyboardShortcutTextByKey('open_application_argument_table_modal', true)">
        <i class="material-icons md-18">table_chart</i>
    </button>
    <div class="collapse nodeInspectorCollapseAll" id="nodeCategoryCollapse11">
        <div class="card-body" >
            <div class="searchBarContainer">
                <i class="material-icons md-18 searchBarIcon">search</i>
                <a href="#" data-bind="click:function(data,event){$root.emptySearchBar(Eagle.applicationArgsSearchString,data,event)}">
                    <i class="material-icons md-18 searchBarIconClose">close</i>
                </a>
                <input class="componentSearchBar" type="text" placeholder="Search" data-bind="valueUpdate: ['afterkeydown', 'input'], value:Eagle.applicationArgsSearchString, event:{keyup: function(data,event){$root.setSearchBarClearBtnState(data,event)}} "></input>
            </div>
            <!-- ko foreach: selectedNode().getApplicationArgs() -->
                <!-- ko if: $data.getPortType() === Eagle.PortType.None -->
                <!-- ko if: $data.fitsApplicationSearchQuery() -->
                    <field params="data: $data, ro: $parent.selectedNode().getApplicationParamReadonly($index()), fieldType: Eagle.FieldType.ApplicationParam, portType: Eagle.PortType.Parameter"></field>
                <!-- /ko -->
                <!-- /ko -->
            <!-- /ko -->

            <!-- ko ifnot: selectedNode().isLocked()-->
                <button class="btn btn-secondary btn-block nodeInspectorDropDown btn_wide" id="nodeInspectorAddApplicationParam" type="button" data-bind="click: $root.addApplicationArgHTML, eagleTooltip:'Add application parameter'" data-bs-placement="left">
                    <i class="material-icons md-18">add</i>
                </button>
                <div id="nodeInspectorAddApplicationParamDiv" class="nodeInspectorDropdownDiv">
                    <div class="nodeInspectorDropdownInner" data-bind="event:{mouseleave:function(){hideDropDown('nodeInspectorAddApplicationParamDiv')}}">
                        <div id="nodeInspectorApplicationParamDropDownKO">
                            <a href="#" data-bind="click:nodeInspectorDropdownClick">hi</a>
                            <a href="#">hi2</a>
                            <a href="#">hi3</a>
                        </div>
                    </div>
                </div>
            <!-- /ko -->
        </div>
    </div>
</div>
