<div id="nodeInspector" class="container px-0">
    <!-- ko if: selectedNode() == null -->
    <div class="row">
        <div class="col">
            <h5 class="card-header" id="nodeInspectorHeading">
                <span style="color:black;">No or multiple nodes selected</span>
            </h5>
        </div>
    </div>
    <!-- /ko -->

    <!-- ko if: selectedNode() != null -->
    <div class="row card-header mb-1" id="nodeInspectorHeading" data-bind="style: {backgroundColor: selectedNode().color}, click: inspectorState().toggleAll, eagleTooltip: getInspectorHeadingTooltip(selectedNode().getName(), selectedNode().getCategory(),selectedNode().description())">
        <div class="col-8 headerBtns">
            <button type="button" class="btn btn-secondary btn-sm" data-bind="click: inspectorState().toggleAll, eagleTooltip: 'Expand/Collapse All'">
                <i class="material-icons md-24" data-bind="css:{closedIcon: inspectorState().all}">keyboard_arrow_down</i>
            </button>
            <!-- ko if: selectedNode().isLocked() -->
            <button type="button" class="btn btn-secondary btn-sm" data-bind="eagleTooltip: 'readonly'">
                <i class="material-icons md-24">lock</i>
            </button>
            <!-- /ko -->
            <!-- ko ifnot: selectedNode().isLocked() -->
            <button type="button" class="btn btn-secondary btn-sm" data-bind="eagleTooltip: 'readwrite'">
                <i class="material-icons md-24">lock_open</i>
            </button>
            <!-- /ko -->
            <span data-bind="text: selectedNode().getName()"></span>
        </div>
        <div class="col-4 text-right headerBtns">
            <!-- ko if: selectedLocation() == Eagle.FileType.Graph || allowPaletteEditing() -->
            <button type="button" id="duplicateSelectedNode" class="btn btn-secondary btn-sm" data-bind="click: duplicateSelection, clickBubble: false, eagleTooltip: 'Duplicate Selection ' + Utils.getKeyboardShortcutTextByKey('duplicate_selection', true)" data-bs-placement="left">
                <i  class="material-icons md-24">content_copy</i>
            </button>
            <!-- /ko -->
            <!-- ko if: allowPaletteEditing() -->
            <button type="button" id="addSelectedNodeToPalette" class="btn btn-secondary btn-sm" data-bind="click: addSelectedNodesToPalette, clickBubble: false, eagleTooltip: 'Add Selected Node To Palette'" data-bs-placement="left">
                <i  class="material-icons md-24">library_add</i>
            </button>
            <!-- /ko -->
            <!-- ko if: selectedLocation() == Eagle.FileType.Graph || allowPaletteEditing() -->
            <button type="button" id="deleteSelectedNode" class="btn btn-secondary btn-sm" data-bind="click: function(){deleteSelection(false);}, clickBubble: false, eagleTooltip: 'Delete Selected Node ' + Utils.getKeyboardShortcutTextByKey('delete_selection', true)" data-bs-placement="left">
                <i class="material-icons md-24">delete</i>
            </button>
            <!-- /ko -->
        </div>
    </div>

    <div class="card pt-2" id="nodeInspectorInfoCard">
        <div class="row">
            <div class="col-7">
                <h4 class="nodeInspectorSubTitle">Category: <span data-bind="text: selectedNode().getCategory()"></span></h4>
            </div>
            <div class="col-3">
                <!-- ko if: displayNodeKeys() -->
                <h4 class="nodeInspectorSubTitle">Key: <span data-bind="text: selectedNode().getKey()"></span></h4>
                <!-- /ko -->
            </div>
            <div class="col-2 text-right">
                <i class="material-icons interactive me-2" data-bs-placement="left" data-bind="eagleTooltip: selectedNode().getGitHTML()">info</i>
            </div>

        </div>
    </div>

        <!-- ko if: selectedNode().getCategory() !== "Description" && selectedNode().getCategory() !== "Comment"-->
        {% include 'node_inspector_description.html' %}
        <!-- /ko -->

        {% include 'node_inspector_display_options.html' %}

        <!-- node component parameters list -->
        <!-- ko if: selectedNode().canHaveParameters() -->
        {% include 'node_inspector_parameters.html' %}
        {% include 'node_inspector_application_parameters.html' %}
        <!-- /ko -->

        <!-- input application type -->
        <!-- ko if: selectedNode().canHaveInputApplication() -->
        {% include 'node_inspector_input_application.html' %}
        <!-- /ko -->

        <!-- output application type -->
        <!-- ko if: selectedNode().canHaveOutputApplication() -->
        {% include 'node_inspector_output_application.html' %}
        <!-- /ko -->

        <!-- input ports area -->
        <!-- ko if: selectedNode().canHaveInputs() -->
        {% include 'node_inspector_inputs.html' %}
        <!-- /ko -->

        <!-- output ports area -->
        <!-- ko if: selectedNode().canHaveOutputs() -->
        {% include 'node_inspector_outputs.html' %}
        <!-- /ko -->

        <!-- ko if: selectedNode().getCategory() === "Description" -->
        {% include 'node_inspector_graph_description.html' %}
        <!-- /ko -->

        <!-- ko if: selectedNode().getCategory() === "Comment" -->
        {% include 'node_inspector_graph_comment.html' %}
        <!-- /ko -->
    <!-- /ko -->
</div>
