<div class="accordion-item">
    <h2 class="accordion-header" id="inspectorGraphCommentHeading">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#inspectorGraphCommentCollapse" aria-expanded="false" aria-controls="inspectorGraphCommentCollapse" onclick="eagle.inspectorCollapseState()">
        <i class="material-icons">device_hub</i>
        <span class="nodeInspectorSubsectionTitle">Graph Comment</span>
      </button>
    </h2>
    <div id="inspectorGraphCommentCollapse" class="accordion-collapse collapse">
        <div class="accordion-body">
            <textarea class="form-control" rows="3" data-bind="value: selectedNode().getCustomData(), readonly: selectedNode().isLocked(), event: {keyup: eagle.selectedNode().customDataChanged}"></textarea>
        </div>
    </div>
</div>