<div class="node" data-bind="attr:{id:$data.getId()},nodeRenderHandler:$data, style: {left: $data.x() + $root.globalOffsetX(), top: $data.y() + $root.globalOffsetY()}">
    <!-- ko if:!$data.isConstruct() && !$data.isBranch() && !$data.isComment() -->
        {% include 'basic_node.html' %}
    <!-- /ko -->
    <!-- ko if:$data.isBranch() -->
        {% include 'branch_node.html' %}
    <!-- /ko -->
    <!-- ko if:$data.isConstruct() -->
        {% include 'construct_node.html' %}
    <!-- /ko -->
    <!-- ko if:$data.isComment() -->
        {% include 'comment_node.html' %}
    <!-- /ko -->
</div>
