<div class="card">
    <h5 class="card-header">
        <i class="material-icons">apps</i>
        <span>Exit Application</span>
    </h5>
    <div class="card-body">

        <div class="input-group mb-1">
            <div class="input-group-prepend">
                <span class="input-group-text" id="exitApplicationName">Name</span>
            </div>
            <input type="text" class="form-control" id="nodeExitAppNameValue" placeholder="" aria-label="ExitAppName" aria-describedby="exitApplicationName" data-bind="nodeDataProperty: 'exitAppName', readonly: $root.selectionReadOnly()">
        </div>
    </div>
</div>
