<div class="card">
    <h5 class="card-header" data-toggle="collapse" href="#nodeCategoryCollapse4" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" data-bind="click: selectedNode().toggleInspectorSection" data-section-name="Graph Description">
        <i class="material-icons interactive closedIcon nodeMenuIndicator" data-toggle="tooltip" data-placement="top" data-html="true" data-bind="attr:{title:'Expand/Collapse'}">keyboard_arrow_down</i>
        <i class="material-icons">device_hub</i>
        <span class="nodeInspectorSubsectionTitle">Graph Description</span>
    </h5>
    <div class="collapse nodeInspectorCollapseAll" id="nodeCategoryCollapse4">
        <div class="card-body">
            <textarea class="form-control" rows="3" data-bind="value: selectedNode().getCustomData(), event: {change: eagle.selectedNode().customDataChanged}"></textarea>
        </div>
    </div>
</div>
