<div class="accordion-item">
    <h2 class="accordion-header" id="inspectorInputAppHeading">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#inspectorInputAppCollapse" aria-expanded="false" aria-controls="inspectorInputAppCollapse" onclick="eagle.inspectorCollapseState()">
            <i class="material-icons">apps</i>
            <span class="nodeInspectorSubsectionTitle">Input Application</span>
        </button>
    </h2>
    <div id="inspectorInputAppCollapse" class="accordion-collapse collapse">
        <div class="accordion-body">
            <inspector-component params="node: $root.selectedNode().inputApplication, selectCallback: function(){$root.setNodeInputApplication($root.selectedNode().key())}, inspectCallback: $root.selectInputApplicationNode, selectId:'nodeInspectorAddInputApplication', changeId:'nodeInspectorChangeInputApplication', inspectId:'nodeInspectorInspectInputApplication'"></inspector-component>
        </div>
    </div>
</div>