<div class="card">
    <h5 class="card-header" data-toggle="collapse" href="#nodeCategoryCollapse8" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" data-bind="click: inspectorState().toggleSection" data-section-name="Outputs">
        <i class="material-icons interactive closedIcon nodeMenuIndicator" data-toggle="tooltip" data-placement="top" data-html="true" data-bind="attr:{title:'Expand/Collapse'}, css:{closedIcon:inspectorState().outputPorts}">keyboard_arrow_down</i>
        <i class="material-icons">arrow_forward</i>
        <span class="nodeInspectorSubsectionTitle">Output Ports</span>
    </h5>
    <div class="collapse nodeInspectorCollapseAll" id="nodeCategoryCollapse8">
        <div class="card-body">

            <!-- ko foreach: selectedNode().getOutputPorts() -->
            <port params="id: $data.getId(), name: $data.getName(), description: $data.getDescriptionText(), multiplicity: $root.logicalGraph().findMultiplicity($root.selectedNode()), isEventPort: $data.isEvent(), toggleEvent: $data.toggleEvent, input: false, local: false"></port>
            <!-- /ko -->

            <!-- ko ifnot: selectedNode().isLocked() -->
            <button class="btn btn-secondary btn-block" id="nodeInspectorAddOutputPort" type="button" data-bind="click: $root.addOutputPortHTML, attr:{title:'Add port'}" data-toggle="tooltip" data-html="true" data-placement="left">
                <i class="material-icons md-18">add</i>
            </button>
            <!-- /ko -->
        </div>
    </div>
</div>
