<div class="card">
    <div class="row">
            <h5 class="card-header" data-toggle="collapse" href="#nodeCategoryCollapse0" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" data-bind="click: selectedNode().toggleInspectorSection">
                <i class="material-icons interactive nodeMenuIndicator" data-toggle="tooltip" data-placement="top" data-html="true" data-bind="attr:{title:'Expand/Collapse'}">keyboard_arrow_down</i>
            <!-- ko if: selectedNode().isLocked() -->
                <i class="material-icons interactive" data-toggle="tooltip" data-placement="top" data-html="true" data-bind="attr:{title:'readonly'}">lock</i>
            <!-- /ko -->
            <!-- ko ifnot: selectedNode().isLocked() -->
                <i class="material-icons interactive" data-toggle="tooltip" data-placement="top" data-html="true" data-bind="attr:{title:'readwrite'}">lock_open</i>
            <!-- /ko -->
            <span class="nodeInspectorSubsectionTitle" data-bind="text: selectedNode().getCategoryType()"></span>
            <span class="nodeAttributeSubTitle"> | </span>
            <span class="nodeAttributeSubTitle" data-bind="text: selectedNode().getCategory() + ' : ' + selectedNode().getName() + ' : ' + selectedNode().getKey()"></span>
            </h5>
    </div>
    <div class="collapse show nodeInspectorCollapseAll" id="nodeCategoryCollapse0">
        <div class="card-body">
            <div class="row no-gutters">
                <div class="col">
                    <div class="nodeDescriptionTitle"><span>Description</span></div>
                    <textarea class="form-control nodeDescriptionTextbox" rows="3" data-bind="nodeDataProperty: 'description', readonly: selectedNode().isLocked(), event: {change: Eagle.updateTooltips}"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
