<div class="accordion-item">
    <h2 class="accordion-header" id="inspectorOutputsHeading">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#inspectorOutputsCollapse" aria-expanded="false" aria-controls="inspectorOutputsCollapse" onclick="eagle.inspectorCollapseState()">
            <i class="material-icons">arrow_forward</i>
            <span class="nodeInspectorSubsectionTitle" data-bind="eagleTooltip:'Definition of outgoing edges for this component.'">Output Ports</span>
        </button>
    </h2>
    <div id="inspectorOutputsCollapse" class="accordion-collapse collapse">
        <div class="accordion-body">
             <!-- ko foreach: selectedNode().getOutputPorts() -->
             <port params="id: $data.getId(), name: $data.getDisplayText(), description: $data.getDescriptionText(), multiplicity: $root.logicalGraph().findMultiplicity($root.selectedNode()), isEventPort: $data.isEvent(), toggleEvent: $data.toggleEvent, input: false, parameterType: $data.parameterType, usage: $data.usage"></port>
             <!-- /ko -->
        </div>
    </div>
</div>