<div class="card">
    <h5 class="card-header" data-bs-toggle="collapse" href="#nodeCategoryCollapse6" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" data-bind="click: inspectorState().toggleSection" data-section-name="Inputs">
        <i class="material-icons interactive closedIcon nodeMenuIndicator" data-bs-placement="top" data-bind="eagleTooltip:'Expand/Collapse', css:{closedIcon:inspectorState().inputPorts}">keyboard_arrow_down</i>
        <i class="material-icons">arrow_back</i>
        <span class="nodeInspectorSubsectionTitle" data-bind="eagleTooltip:'Definition of incoming edges for this component.'">Input Ports</span>
    </h5>
    <div class="collapse nodeInspectorCollapseAll" id="nodeCategoryCollapse6">
        <div class="card-body">
            <!-- ko foreach: selectedNode().getInputPorts() -->
            <port params="id: $data.getId(), name: $data.getDisplayText(), description: $data.getDescriptionText(), multiplicity: $root.logicalGraph().findMultiplicity($root.selectedNode()), isEventPort: $data.isEvent(), toggleEvent: $data.toggleEvent, input: true, fieldType: Eagle.FieldType.Port, portType: Eagle.PortType.InputPort"></port>
            <!-- /ko -->
        </div>
    </div>
</div>
