<div class="accordion-item">
    <h2 class="accordion-header" id="inspectorComponentParamsHeading">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#inspectorComponentParamsCollapse" aria-expanded="false" aria-controls="inspectorComponentParamsCollapse" onclick="eagle.inspectorCollapseState()">
            <i class="material-icons">archive</i>
            <span class="nodeInspectorSubsectionTitle" data-bind="eagleTooltip:'Wrapper parameters describing this component for the DALiuGE system.'">Component Parameters</span>
        </button>
        <button class="btn btn-secondary btn-sm openParamsTableBtn" data-bind=" click: function(data, event){openParamsTableModal('inspectorTableModal','normal')}, clickBubble: false, eagleTooltip: 'Open Component Parameters in Table ' + Utils.getKeyboardShortcutTextByKey('open_component_parameter_table_modal', true)">
            <i class="material-icons md-18">table_chart</i>
        </button>
    </h2>
    <div id="inspectorComponentParamsCollapse" class="accordion-collapse collapse">
        <div class="accordion-body">
            <div class="searchBarContainer">
                <i class="material-icons md-18 searchBarIcon">search</i>
                <a href="#" data-bind="click:function(data, event){$root.emptySearchBar(Eagle.componentParamsSearchString,data,event)}">
                    <i class="material-icons md-18 searchBarIconClose">close</i>
                </a>
                <input class="componentSearchBar" type="text" placeholder="Search" data-bind="valueUpdate: ['afterkeydown', 'input'], value:Eagle.componentParamsSearchString, event:{keyup: function(data,event){$root.setSearchBarClearBtnState(data,event)}}"></input>
            </div>
            <!-- ko foreach: selectedNode().getComponentParametersWithNoPorts() -->
                <!-- ko if: $data.fitsComponentSearchQuery() -->
                    <!-- ko if: !$data.isDaliugeField() || Eagle.showNonKeyParameters() -->
                        <field params="data: $data, ro: $data.isReadonly()"></field>
                    <!-- /ko -->
                <!-- /ko -->
            <!-- /ko -->

            <!-- ko ifnot: selectedNode().isLocked()-->
                <button class="btn btn-secondary btn-block nodeInspectorDropDown btn_wide" id="nodeInspectorAddField" type="button" data-bind="click: $root.addFieldHTML, eagleTooltip:'Add parameter'" data-bs-placement="left">
                    <i class="material-icons md-18">add</i>
                </button>
                <div id="nodeInspectorAddFieldDiv" class="nodeInspectorDropdownDiv">
                    <div class="nodeInspectorDropdownInner" data-bind="event:{mouseleave:function(){hideDropDown('nodeInspectorAddFieldDiv')}}">
                        <div id="nodeInspectorFieldDropDownKO">
                            <!-- options added dynamically -->
                        </div>
                    </div>
                </div>
                <!-- ko if: selectedNode().category() === Category.Docker -->
                    <button class="btn btn-secondary btn-block mt-1 btn_wide" id="nodeInspectorFetchDocker" type="button" data-bind="click: $root.fetchDockerHTML, eagleTooltip:'Fetch docker image data from Docker Hub'" data-bs-placement="left">Fetch from Docker Hub</button>
                <!-- /ko -->
            <!-- /ko -->
        </div>
    </div>
</div>