<div class="card">
    <h5 class="card-header" data-toggle="collapse" href="#nodeCategoryCollapse2" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" data-bind="click: selectedNode().toggleInspectorSection" data-section-name="Exit Application">
        <i class="material-icons interactive closedIcon nodeMenuIndicator" data-toggle="tooltip" data-placement="top" data-html="true" data-bind="attr:{title:'Expand/Collapse'}">keyboard_arrow_down</i>
        <i class="material-icons">apps</i>
        <span class="nodeInspectorSubsectionTitle">Exit Application</span>
    </h5>
    <div class="collapse nodeInspectorCollapseAll" id="nodeCategoryCollapse2">
        <div class="card-body exit-application">
            <inspector-component params="node: $root.selectedNode().exitApplication, selectCallback: $root.setNodeExitApplication, inspectCallback: $root.selectExitApplicationNode"></inspector-component>
        </div>
    </div>
</div>
