<div class="card">
    <h5 class="card-header" data-toggle="collapse" href="#nodeCategoryCollapse5" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" data-bind="click: inspectorState().toggleSection" data-section-name="Input Application">
        <i class="material-icons interactive closedIcon nodeMenuIndicator" data-toggle="tooltip" data-placement="top" data-html="true" data-bind="attr:{title:'Expand/Collapse'}, css:{closedIcon:inspectorState().inputApplication}">keyboard_arrow_down</i>
        <i class="material-icons">apps</i>
        <span class="nodeInspectorSubsectionTitle">Input Application</span>
    </h5>
    <div class="collapse nodeInspectorCollapseAll" id="nodeCategoryCollapse5">
        <div class="card-body input-application">
            <inspector-component params="node: $root.selectedNode().inputApplication, selectCallback: $root.setNodeInputApplication, inspectCallback: $root.selectInputApplicationNode, selectId:'nodeInspectorAddInputApplication', changeId:'nodeInspectorChangeInputApplication', inspectId:'nodeInspectorInspectInputApplication'"></inspector-component>
        </div>
    </div>
</div>
