<div class="node" data-bind="style: {left: $data.x() + $root.globalOffsetX(), top: $data.y() + $root.globalOffsetY(), width: $data.width, height: $data.height}, event: {mousedown: function(){$root.startDrag($data);}, mouseup: function(){$root.endDrag($data);}}, mousedownBubble: false, mouseupBubble: false">

    <div class="rect" data-bind="css: {selected: $root.objectIsSelected($data)}">

        <div class="header" data-bind="style: {backgroundColor: $data.color}">
            <div class="header-name" data-bind="html: $data.name"></div>
        </div>

    </div>
</div>
