<div id="paletteList">
    <div class="card">
        <div class="card-body">
            <button class="btn btn-primary btn-block btn_wide" data-bind="click: showExplorePalettes, attr:{title: 'Retrieve information on all palettes in ' + Config.DEFAULT_PALETTE_REPOSITORY}" data-bs-toggle="tooltip" data-html="true" data-bs-placement="bottom">Explore Palettes</button>
            <div class="searchBarContainer">
                <i class="material-icons md-18 searchBarIcon">search</i>
                <a href="#" data-bind="click:function(event){$root.emptySearchBar(Eagle.paletteComponentSearchString)}">
                    <i class="material-icons md-18 searchBarIconClose">close</i>
                </a>
                <input class="componentSearchBar" type="text" placeholder="Search" data-bind="valueUpdate: ['afterkeydown', 'input'], value:Eagle.paletteComponentSearchString"></input>
            </div>
        </div>
    </div>
    <div class="accordion">
        <div data-bind="foreach: palettes">
            <button type="button" class="material-icons md-18 dropdown-toggle paletteTrippleDot" aria-label="Close" data-bs-toggle="dropdown" >more_vert</button>
            <div class="dropdown-menu">
                <a href="#" data-bind="click: $root.closePalette, clickBubble: false, attr:{title:'Close'}" data-html="true"><span>Remove Palette</span></a>
                <span><a href="#" data-bind="click: function(palette, event){$root.savePaletteToDisk(palette);event.stopPropagation()}, attr:{title:'Save to Disk'}"data-html="true">Save Locally</a></span>
                <span><a href="#" data-bind="click: function(palette, event){$root.savePaletteToGit(palette);event.stopPropagation()}, attr:{title:'Save to Git'}"data-html="true">Save To Git</a></span>
            </div>
            <div class="accordion-item paletteWrapper" data-bind="attr: {'data-palette-index': $index}, event: { dragover: $root.nodeDragOver, drop: $root.nodeDropPalette }">
                <div class="accordion-header">
                    <div class="headerIcons">
                        <div class="paletteHeaderIcon">
                            <!-- ko if: $data.fileInfo().readonly -->
                            <i class="material-icons interactive" data-bs-toggle="tooltip" data-bs-placement="top" data-html="true" data-bind="attr:{title:'readonly'}">lock</i>
                            <!-- /ko -->
                            <!-- ko ifnot: $data.fileInfo().readonly -->
                            <i class="material-icons interactive" data-bs-toggle="tooltip" data-bs-placement="top" data-html="true" data-bind="attr:{title:'readwrite'}">lock_open</i>
                            <!-- /ko -->
                        </div>   
                    </div>   
                    <div class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="true" data-bind="attr:{id:'palette' + $index(), 'data-bs-target':'#collapse' + $index(), 'aria-controls':'collapse' + $index()}">
                        <span>&nbsp;</span>
                        <h5 class="template-title" data-bs-toggle="tooltip" data-bs-placement="right" data-html="true" data-bind="text: fileInfo().nameAndModifiedIndicator(), attr:{title:fileInfo().getSummaryHTML(fileInfo().nameAndModifiedIndicator())}"></h5>
                    </div>
                </div>
                <div class="collapse show accordion-collapse" aria-labelledby="headingOne" data-bind="attr:{id:'collapse' + $index()}">
                    <div class="accordion-body">
                        {% include 'palette.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
