<div id="paletteList">
    <div class="accordion" id="accordionExample" data-bind="foreach: palettes">

        <div class="card">
            <div class="card-header" data-toggle="collapse" aria-expanded="true" data-bind="attr:{id:'palette' + $index(), 'data-target':'#collapse' + $index(), 'aria-controls':'collapse' + $index()}">
                <h5 data-bind="text: fileInfo().name"></h5>
            </div>
            <div class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample" data-bind="attr:{id:'collapse' + $index()}">
                <div class="card-body">
                    {% include 'palette.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
