<div id="paletteList">
    <div class="card">
        <div class="card-body">
            <button class="btn btn-primary btn-block btn_wide" data-bind="click: showExplorePalettes, attr:{title: 'Retrieve information on all palettes in ' + Config.DEFAULT_PALETTE_REPOSITORY}" data-bs-toggle="tooltip" data-html="true" data-bs-placement="bottom">Explore Palettes</button>
        </div>
    </div>
    <div class="accordion">
        <div data-bind="foreach: palettes">
            <div class="accordion-item" data-bind="event: { dragover: $root.nodeDragOver, drop: $root.nodeDropPalette }">
                <div class="accordion-header">
                    <div class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="true" data-bind="attr:{id:'palette' + $index(), 'data-bs-target':'#collapse' + $index(), 'aria-controls':'collapse' + $index()}">
                        <button type="button" class="btn-close" aria-label="Close" data-bind="click: $root.closePalette, clickBubble: false, attr:{title:'Close'}" data-bs-toggle="tooltip" data-html="true" data-bs-placement="top">
                        </button>
                        <i class="material-icons interactive" data-bs-toggle="tooltip" data-bs-placement="right" data-html="true" data-bind="attr:{title:fileInfo().getSummaryHTML()}">info</i>
                        <!-- ko if: $data.fileInfo().readonly -->
                        <i class="material-icons interactive" data-bs-toggle="tooltip" data-bs-placement="top" data-html="true" data-bind="attr:{title:'readonly'}">lock</i>
                        <!-- /ko -->
                        <!-- ko ifnot: $data.fileInfo().readonly -->
                        <i class="material-icons interactive" data-bs-toggle="tooltip" data-bs-placement="top" data-html="true" data-bind="attr:{title:'readwrite'}">lock_open</i>
                        <!-- /ko -->
                        <span>&nbsp;</span>
                        <h5 class="template-title" data-bind="text: fileInfo().nameAndModifiedIndicator()"></h5>
                    </div>
                    <!-- ko if: $data.fileInfo().modified -->
                    <div class="row">
                        <button type="button" class="btn col-6 savePaletteBtn save-to-git" aria-label="Save to Git" data-bind="click: function(palette, event){$root.savePaletteToGit(palette);event.stopPropagation()}, attr:{title:'Save to Git'}" data-bs-toggle="tooltip" data-html="true" data-bs-placement="top">
                            <i class="material-icons">cloud_upload</i>
                        </button>
                        <button type="button" class="btn col-6 savePaletteBtn save-to-disk" aria-label="Save to Disk" data-bind="click: function(palette, event){$root.savePaletteToDisk(palette);event.stopPropagation()}, attr:{title:'Save to Disk'}" data-bs-toggle="tooltip" data-html="true" data-bs-placement="top">
                            <i class="material-icons">save</i>
                        </button>
                    </div>
                <!-- /ko -->
                </div>
                <div class="collapse show accordion-collapse" aria-labelledby="headingOne" data-bind="attr:{id:'collapse' + $index()}">
                    <div class="accordion-body">
                        {% include 'palette.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
