<div class="palette-component">
    <div class="row">
        <div class="col"  draggable="true" data-bind="event: {dragstart: SideWindow.nodeDragStart, dragend: SideWindow.nodeDragEnd}, attr: {'data-palette-index': $parentContext.$index, 'data-component-index': $index}">
            <div class="input-group mb-1 rightClick_paletteComponent"  data-bind="attr: {id: 'palette_'  + $parentContext.$index() + '_' + $data.getPaletteComponentId()}, click: $root.paletteComponentClick, eagleTooltip: {content: $data.getHelpHTML(),size: '500px'}, eagleRightClick: {data:$data,type:'rightClick_paletteComponent'}">
                <div class="input-group-prepend">
                    <button class="nodeBtn" type="button" data-bind="click: function(){$root.addNodeToLogicalGraph($data, '', Eagle.AddNodeMode.Default, null)}, clickBubble: false, attr: {id: 'addPaletteNode' + $data.getNoWhiteSpaceName()}">
                        <span class="input-group-text iconHoverEffect" data-bind="style: {'background-color': $data.color}">
                            <i data-bind="class: $data.getIcon()"></i>
                        </span>
                    </button>
                </div>

                <input type="text" class="form-control nodeTitle" readonly data-bind="value: $data.getDisplayName(), css: {selected: Eagle.selectedLocation() === Eagle.FileType.Palette && $root.objectIsSelectedById($data.id())}" disabled>
            </div>
        </div>
    </div>
</div>
