<div id="quickActionContainer" style="display: none;" data-bind="visible: QuickActions.open">
    <div id="quickActionInput">
        <input type="text" autocomplete="off" id="quickActionSearchbar" placeholder="Command Search... (e.g. 'save', or 'edge')" data-bind="value: QuickActions.searchTerm, valueUpdate: 'keyup'">
    </div>
    <div id="quickActionResults" data-bind="visible: QuickActions.results().length > 0">
        <div data-bind="foreach: QuickActions.results">
            <a data-bind="click:function(){QuickActions.executeQuickAction($data)}">
                <i data-bind="class:$data.icon"></i>
                <span class="quickActionName" data-bind="text: $data.text"></span>
                <span class="quickActionShortcut" data-bind="text: $data.getKeysText(true)"></span>
            </a>
        </div>
    </div>
</div>
<div id="quickActionBackground" style="display: none;" data-bind="visible: QuickActions.open"></div>
