<div id="repositoryList" class="container py-2">
    <div class="row">
        <div class="col">
            <ul class="repositories" data-bind="foreach: Repositories.repositories">
                <li>
                    {% include 'repository.html' %}
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" id="addRepository" class="btn btn-primary btn-block btn_wide" data-bind="click: $root.repositories().addCustomRepository">Add Repository</button>
        </div>
    </div>
</div>
