<div class="repoIndent">
    <div class="row">
        <div class="col col-1">
            <!-- ko if: isFetching -->
            <div class="spinner-border spinner-border-sm" role="status">
            </div>
            <!-- /ko -->
            <!-- ko ifnot: isFetching -->
                <!-- ko if: expanded -->
                <i class="material-icons md-18" data-bind="click: refresh, eagleTooltip: 'Refresh'">folder_open</i>
                <!-- /ko -->
                <!-- ko ifnot: expanded -->
                <i class="material-icons md-18" data-bind="click: refresh, eagleTooltip: 'Refresh'">folder</i>
                <!-- /ko -->
            <!-- /ko -->
        </div>
        <div class="col col-10">
            <a href="#" data-bind="attr: {id: htmlId}, click: select">
                <span data-bind="text: $data.name"></span>
            </a>
        </div>
        <!-- ko if: expanded -->
        <ul class="folders" data-bind="foreach: folders">
            <li>
                <div data-bind="template: {name: 'repository-folder-template'}"></div>
            </li>
        </ul>
        <ul class="files" data-bind="foreach: files">
            <li>
                <div data-bind="template: {name: 'repository-file-template'}"></div>
            </li>
        </ul>
        <!-- /ko -->
    </div>
</div>
