<div id="repositoryList" class="container">
    <div class="row">
        <div class="col">
            <ul class="repositories" data-bind="foreach: repositories">
                <li>
                    <repository params="data: $data, parent: $parent"></repository>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary btn-block" data-bind="click: addCustomRepository">Add Repository</button>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col">
            <button type="button" class="btn btn-primary btn-block" data-bind="click: setGitHubAccessToken">Set GitHub Access Token</button>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col">
            <button type="button" class="btn btn-primary btn-block" data-bind="click: setGitLabAccessToken">Set GitLab Access Token</button>
        </div>
    </div>
</div>
