<div class="repoIndent repoFile">
    <div class="row">
        <div class="col col-1">
            <!-- ko if: isFetching -->
            <div class="spinner-border spinner-border-sm" role="status">
            </div>
            <!-- /ko -->
            <!-- ko ifnot: isFetching -->
            <i class="material-symbols-outlined md-18" data-bind="text: getIconUrl"></i>
            <!-- /ko -->
        </div>
        <div class="col col-9">
            <a href="#" data-bind="click: Repositories.selectFile, attr: {id: htmlId}, eagleTooltip: '|||' + $data.name + '|||'" data-bs-placement="left">
                <span data-bind="text: $data.name"></span>
            </a>
        </div>
        <div class="col col-2 repo-actions">
            <!-- ko if: getIconUrl() === "device_hub" -->
                <i class="material-symbols-outlined md-18 iconHoverEffect" data-bs-placement="left" style="cursor:pointer;top:3px;" data-bind="click: $root.insertRemoteFile, eagleTooltip: 'Insert'">add_box</i>
            <!-- /ko -->
            <!-- ko if: type === Eagle.FileType.Daliuge || type === Eagle.FileType.Graph || type === Eagle.FileType.Palette -->
                <i class="material-symbols-outlined md-18 iconHoverEffect" data-bs-placement="left" style="cursor:pointer;top:3px;" data-bind="click: $root.deleteRemoteFile, eagleTooltip: 'Delete'">delete</i>
            <!-- /ko -->
        </div>
    </div>
</div>
