<div class="repoIndent">
    <div class="row">
        <div class="col col-1">
            <!-- ko if: expanded -->
            <i class="material-icons md-18">folder_open</i>
            <!-- /ko -->
            <!-- ko ifnot: expanded -->
            <i class="material-icons md-18">folder</i>
            <!-- /ko -->
        </div>
        <div class="col col-10">
            <a href="#" data-bind="attr: {id: htmlId}, click: Repositories.selectFolder">
                <span data-bind="text: $data.name"></span>
            </a>
        </div>
        <!-- ko if: expanded -->
        <ul class="folders" data-bind="foreach: folders">
            <li>
                <div data-bind="template: {name: 'repository-folder-template'}"></div>
            </li>
        </ul>
        <ul class="files" data-bind="foreach: files">
            <li>
                <div data-bind="template: {name: 'repository-file-template'}"></div>
            </li>
        </ul>
        <!-- /ko -->
    </div>
</div>
