<div class="container-fluid repoContainer">
    <div class="row">
        <div class="col-1 col">
            <!-- ko if: isFetching -->
            <div class="spinner-border spinner-border-sm" role="status">
            </div>
            <!-- /ko -->
            <!-- ko ifnot: isFetching -->
            <i class="material-symbols-outlined md-18 interactive iconHoverEffect" data-bind="click: refresh,visible: folders().length == 0 && files().length==0 && fetched">cloud_off</i>
            <i class="material-symbols-outlined md-18 interactive iconHoverEffect" data-bs-placement="bottom" data-bind="click: refresh, visible: (folders().length != 0 || files().length != 0)&& fetched, eagleTooltip: 'Refresh'">cloud_done</i>

            <!-- ko ifnot: fetched -->
            <!-- ko if: service === Repository.Service.GitHub -->
            <img src="static/assets/img/GitHub-Mark-32px.png" data-bind="click: select" width="18px" />
            <!-- /ko -->
            <!-- ko if: service === Repository.Service.GitLab -->
            <img src="static/assets/img/fi-cnsuxt-gitlab-alt-solid.png" data-bind="click: select" width="18px"/>
            <!-- /ko -->
            <!-- /ko -->
            <!-- /ko -->
        </div>
        <div class="col-10 col">
            <a href="" data-bind="attr: {id: htmlId}, click: select, eagleTooltip: '|||' +  name + ' (' + branch + ') |||'" data-bs-placement="left">
                <span data-bind="text: name + ' (' + branch + ')'"></span>
            </a>
        </div>
        
        <div class="col col-1 repo-actions dropdown">
            <button type="button" class="material-symbols-outlined md-18 dropdown-toggle dropdown-control repoTripleDot iconHoverEffect" data-bs-toggle="dropdown">more_vert</button>
            <div class="dropdown-menu dropdown-area">
                <!-- ko ifnot: isBuiltIn -->
                <a href="#" data-bind="click: $root.repositories().removeCustomRepository, attr: {id: htmlId() + '-remove'}"><span>Remove</span></a>
                <!-- /ko -->
                <a href="#" data-bind="click: $root.repositories().copyRepository, attr: {id: htmlId() + '-copy'}"><span>Copy</span></a>
                <a href="#" data-bind="click: $root.repositories().promptCreateBranch, attr: {id: htmlId() + '-create-branch'}"><span>Create Branch</span></a>
                <a href="#" data-bind="click: expandAll, attr: {id: htmlId() + '-expand'}"><span>Expand</span></a>
                <a href="#" data-bind="click: collapseAll, attr: {id: htmlId() + '-collapse'}"><span>Collapse</span></a>
                <a href="#" data-bind="click: refresh, attr: {id: htmlId() + '-refresh'}"><span>Refresh</span></a>
                <a href="#" data-bind="click: function(data){ GraphUpdater.showModal(data) }, attr: {id: htmlId() + '-update-all-graphs'}"><span>Update All Graphs</span></a>
            </div>
        </div>
        
        <!-- ko if: expanded -->
        <ul class="folders" data-bind="foreach: folders">
            <li>
                <div data-bind="template: {name: 'repository-folder-template'}"></div>
            </li>
        </ul>
        <ul class="files" data-bind="foreach: files">
            <li>
                <div data-bind="template: {name: 'repository-file-template'}"></div>
            </li>
        </ul>
        <!-- /ko -->
    </div>
</div>
