<div class="nodeContent comment_node" data-bind="style: {width: $data.getWidth() + 'px', height: $data.getHeight() + 'px'}">
    <div class="container" data-bind="css: {selected: $root.objectIsSelected($data)}">
        <div class="commentIcons">
            <button class="parameterTableEditParam icon-pencil iconHoverEffect" data-bind="click:function(data,event){$root.editNodeComment()}"></button>
        </div>
        <div class="body"  data-bind="eagleRightClick: {data:$data,type:'rightClick_graphNode'}, event: {mousedown: function(object,event){GraphRenderer.startDrag(object,event);}, mouseup: function(){GraphRenderer.endDrag($data);}}, mousedownBubble: false, mouseupBubble: false">
            <div class="content" data-bind="html: $data.getContent()">

            </div>
        </div>
    </div>
</div>
